@import "colors";


.groundhogg-app {
  //overflow: hidden;
}

.gh-card {
  border: 1px solid $border-color;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s;

  &:hover{
    border-color: $border-hover-color;
    transition: 0.2s;
  }
}

.big-checkbox{
  height: 20px;
  width: 20px;
}