<table cellpadding="0" cellspacing="0" width="100%" role="presentation">
    <tr>
        <td id="b-bc8aacce-6c3a-4265-8c50-e75bb1628326" class="" bgcolor="" background=""
            valign="top" style="padding: 5px; border-width: 0px; overflow: hidden;">
            <table cellspacing="0" cellpadding="0" role="presentation">
                <tr>
                    <td height="15" style="height: 15px;"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td id="b-0cdd5578-b53d-44be-8834-894b6ea0005e" class="" bgcolor="" background="" valign="top"
            style="padding: 5px; border-width: 0px; overflow: hidden;">
            <div class="text-content-wrap">
                <p style="line-height: 1.4; font-family: system-ui, sans-serif; font-weight: normal; font-size: 14px; font-style: normal; text-transform: none; margin: 0px 0px 1em;">
                This email was sent directly from <a href="site_url" data-wplink-url-error="true"
                                                     style="color: #488aff">site_name</a>. No data is being shared with
                <a href="https://groundhogg.io" style="color: #488aff">Groundhogg.io</a> or any other services.</p>
                <p style="line-height: 1.4; font-family: system-ui, sans-serif; font-weight: normal; font-size: 14px; font-style: normal; text-transform: none; margin: 1em 0px 0px;">
                    You can choose to opt out of these emails <a href="profile_url#groundhogg">from your profile</a>.</p>
            </div>
        </td>
    </tr>
    <tr>
        <td id="b-bc8aacce-6c3a-4265-8c50-e75bb1628326" class="" bgcolor="" background=""
            valign="top" style="padding: 5px; border-width: 0px; overflow: hidden;">
            <table cellspacing="0" cellpadding="0" role="presentation">
                <tr>
                    <td height="15" style="height: 15px;"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
