<tr>

    <td id="b-04c27e1b-8225-4e09-a952-ed479382e4f8" class="" bgcolor="#ff7b01" background="" valign="top"
        style="padding: 10px 20px; background-color: rgb(255, 123, 1); overflow: hidden;">
        <div class="text-content-wrap"><p
                style="line-height: 1.4; font-family: system-ui, sans-serif; font-weight: normal; font-size: 14px; font-style: normal; text-transform: none; margin: 0px; color: rgb(255, 255, 255); text-align: center;">
            <a style="color: #ffffff;" href="https://groundhogg.io/pricing/">Unlock more funnel power by upgrading
                to <strong style="font-weight: bold;">Pro!</strong></a></p></div>
    </td>
</tr>
