<table cellpadding="0" cellspacing="0" width="100%" role="presentation">
    <tr>
        <td id="b-8d08fe26-a521-4d1e-aaa4-216fae29788a" class="" bgcolor="#ffffff" background="" valign="top"
            style="padding: 0px; border-radius: 0px 0px 10px 10px; border-style: solid; border-color: rgb(231, 233, 236); border-width: 0px 1px 1px; background-color: rgb(255, 255, 255); overflow: hidden;">
            <table class="email-columns custom_columns responsive" cellspacing="0" cellpadding="0" width="100%"
                   role="presentation" style="table-layout: fixed; border-spacing: 0px; width: 100%;">
                <tr class="email-columns-row">
                    <td class="email-columns-cell custom-width-fixed" bgcolor="" width="15%"
                        style="width: 15%; vertical-align: middle; padding: 0px; border-width: 0px;">

                        <table class="column" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                            <tr>
                                <td id="b-ded2b987-3d0a-44cb-bde3-33015982cb76" class="" bgcolor="#000000" background=""
                                    valign="top" style="padding: 5px; border-width: 0px; background-color: #000; overflow: hidden;">
                                    <div style="text-align:center;padding: 10px;color: white;font-size: 16px;font-family: Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-weight: bold;letter-spacing: -1px;">white_labeled_name</div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="email-columns-cell gap" height="10" width="10" align="center"
                        style="width: 10px; height: 10px; text-align: center;">&nbsp;&nbsp;&nbsp;
                    </td>
                    <td class="email-columns-cell custom-width-fixed" bgcolor="" width="85%"
                        style="width: 85%; vertical-align: middle; padding: 0px; border-width: 0px;">

                        <table class="column" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                            <tr>
                                <td id="b-8ecf94f3-52ff-40fc-ad03-fab5b6977bdb" class="" bgcolor="" background=""
                                    valign="top"
                                    style="padding: 5px; border-width: 0px; overflow: hidden;">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation"
                                           style="border-collapse: collapse;">
                                        <tr>
                                            <td align="center">
                                                <table border="0" cellspacing="0" cellpadding="0" role="presentation"
                                                       width="auto"
                                                       style="border-collapse: collapse;">
                                                    <tr>
                                                        <td style="text-align: center;"><a href="site_url"
                                                                                           style="color: #000; font-size: 15px; text-decoration: none;">site_name</a>
                                                        </td>
                                                        <td class="email-columns-cell gap" height="10" width="25"
                                                            align="center"
                                                            style="width: 25px; height: 10px; text-align: center; color: #000;">
                                                            •
                                                        </td>
                                                        <td style="text-align: center;"><a href="admin_urladmin.php?page=groundhogg"
                                                                                           style="color: #000; font-size: 15px; text-decoration: none;">Dashboard</a>
                                                        </td>
                                                        <td class="email-columns-cell gap" height="10" width="25"
                                                            align="center"
                                                            style="width: 25px; height: 10px; text-align: center; color: #000;">
                                                            •
                                                        </td>
                                                        <td style="text-align: center;"><a href="admin_urladmin.php?page=gh_reporting"
                                                                                           style="color: #000; font-size: 15px; text-decoration: none;">Reports</a>
                                                        </td>
                                                        <td class="email-columns-cell gap" height="10" width="25"
                                                            align="center"
                                                            style="width: 25px; height: 10px; text-align: center; color: #000;">
                                                            •
                                                        </td>
                                                        <td style="text-align: center;"><a href="admin_urladmin.php?page=gh_contacts"
                                                                                           style="color: #000; font-size: 15px; text-decoration: none;">Contacts</a>
                                                        </td>
                                                        <td class="email-columns-cell gap" height="10" width="25"
                                                            align="center"
                                                            style="width: 25px; height: 10px; text-align: center; color: #000;">
                                                            •
                                                        </td>
                                                        <td style="text-align: center;"><a href="admin_urladmin.php?page=gh_settings" style="color: #000; font-size: 15px; text-decoration: none;">Settings</a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td id="b-4034d09c-af26-4a8c-92ca-2da874647314" class="" bgcolor="" background="" valign="top"
            style="padding: 5px; border-width: 0px; overflow: hidden;">
            <table cellspacing="0" cellpadding="0" role="presentation">
                <tr>
                    <td height="20" style="height: 20px;"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
