<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
    <tbody>
    <tr>
        <td id="b-900fc081-297f-4d92-be67-c087679721d6" class="" bgcolor="" background="" valign="top"
            style="padding: 12px; overflow: hidden;">
            <div class="text-content-wrap"><h3
                    style="text-align: center; line-height: 1.4; font-family: system-ui, sans-serif; font-weight: 500; font-size: 18px; font-style: normal; text-transform: none; margin: 0px 0px 1em;">
                ⚠️ No active contacts in your funnels in the last time_range.&nbsp;</h3>
                <p style="text-align: center; line-height: 1.4; font-family: system-ui, sans-serif; font-weight: normal; font-size: 14px; font-style: normal; text-transform: none; margin: 1em 0px 0px;">
                    You have active funnels, but no contacts have been active within them. <br>This could mean that
                    either there is an issue with your funnel, or that your customer journey is not well-optimized.&nbsp;
                </p></div>
        </td>
    </tr>
    <tr>
        <td id="b-8caee6c6-93aa-41ed-8aee-3c0240db477d" class="" bgcolor="" background="" valign="top"
            style="padding: 12px 20px 24px; overflow: hidden;">
            <table class="email-columns two_columns responsive" cellspacing="0" cellpadding="0" width="100%"
                   role="presentation" style="border-spacing: 0px; table-layout: fixed; width: 100%;">
                <tbody>
                <tr class="email-columns-row">
                    <td class="email-columns-cell one-half" bgcolor="" width="50%"
                        style="width: 50%; vertical-align: top; padding: 0px;">
                        <table class="column" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                            <tbody>
                            <tr>
                                <td id="b-7031bffb-2804-47b8-b8ad-81ccbbc2d519" class="" bgcolor="" background=""
                                    valign="top" style="padding: 5px; border-width: 0px; overflow: hidden;">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
                                        <tbody>
                                        <tr>
                                            <td align="justify">
                                                <table border="0" cellspacing="0" cellpadding="0" role="presentation"
                                                       width="100%">
                                                    <tbody>
                                                    <tr>
                                                        <td class="email-button" bgcolor="#f6f9fb" width="100%"
                                                            align="center"
                                                            style="padding: 8px 12px; width: 100%; border-radius: 5px; border-style: solid; border-color: rgb(0, 117, 255); border-width: 1px; background-color: rgb(246, 249, 251);">
                                                            <a href="review_your_funnels"
                                                               style="color: rgb(6, 97, 202); font-family: system-ui, sans-serif; font-weight: 500; font-size: 15px; text-decoration: none; display: inline-block; vertical-align: middle; background-color: rgb(246, 249, 251);">👀
                                                                Review your funnels</a></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="email-columns-cell gap" height="10" width="10" style="width: 10px; height: 10px;">&nbsp;&nbsp;&nbsp;</td>
                    <td class="email-columns-cell one-half" bgcolor="" width="50%"
                        style="width: 50%; vertical-align: top; padding: 0px;">
                        <table class="column" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                            <tbody>
                            <tr>
                                <td id="b-ddc300a1-23a7-4830-b183-e86c56887d9c" class="" bgcolor="" background=""
                                    valign="top" style="padding: 5px; border-width: 0px; overflow: hidden;">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
                                        <tbody>
                                        <tr>
                                            <td align="justify">
                                                <table border="0" cellspacing="0" cellpadding="0" role="presentation"
                                                       width="100%">
                                                    <tbody>
                                                    <tr>
                                                        <td class="email-button" bgcolor="#f6f9fb" width="100%"
                                                            align="center"
                                                            style="padding: 8px 12px; width: 100%; border-radius: 5px; border-style: solid; border-color: rgb(0, 117, 255); border-width: 1px; background-color: rgb(246, 249, 251);">
                                                            <a href="create_better_journey"
                                                               style="color: rgb(6, 97, 202); font-family: system-ui, sans-serif; font-weight: 500; font-size: 15px; text-decoration: none; display: inline-block; vertical-align: middle; background-color: rgb(246, 249, 251);">Create
                                                                a better customer journey</a></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
