<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
    <tbody>
    <tr>
        <td id="b-1ec3a03a-a60c-49b9-bf66-f14b78155ee4" class="" bgcolor="" background="" valign="top"
            style="padding: 12px; overflow: hidden;">
            <div class="text-content-wrap"><h3
                    style="text-align: center; line-height: 1.4; font-family: system-ui, sans-serif; font-weight: 500; font-size: 18px; font-style: normal; text-transform: none; margin: 0px 0px 1em;">
                ⚠️ You haven't sent any broadcasts in the last time_range.&nbsp;</h3>
                <p style="text-align: center; line-height: 1.4; font-family: system-ui, sans-serif; font-weight: normal; font-size: 14px; font-style: normal; text-transform: none; margin: 1em 0px 0px;">
                    Keeping in contact with your subscribers is essential to maintaining good list health! Consider
                    sending a broadcast to your subscribers <strong style="font-weight: bold;">today!</strong></p></div>
        </td>
    </tr>
    <tr>
        <td id="b-52213887-e5e3-477a-95b3-55a1d0377c2c" class="" bgcolor="" background="" valign="top"
            style="padding: 5px 5px 24px; border-width: 0px; overflow: hidden;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
                <tbody>
                <tr>
                    <td align="center">
                        <table border="0" cellspacing="0" cellpadding="0" role="presentation" width="auto">
                            <tbody>
                            <tr>
                                <td class="email-button" bgcolor="#f6f9fb" width="auto" align="center"
                                    style="padding: 8px 12px; width: auto; border-radius: 5px; border-style: solid; border-color: rgb(0, 117, 255); border-width: 1px; background-color: rgb(246, 249, 251);">
                                    <a href="send_new_broadcast"
                                       style="color: rgb(6, 97, 202); font-family: system-ui, sans-serif; font-weight: 500; font-size: 15px; text-decoration: none; display: inline-block; vertical-align: middle; background-color: rgb(246, 249, 251);">📨
                                        Send a broadcast now!</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
