<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
    <tbody>
    <tr>
        <td id="b-631449a8-cc07-4a1a-a3c3-cf8785a6551d" class="" bgcolor="" background="" valign="top"
            style="padding: 12px; overflow: hidden;">
            <div class="text-content-wrap"><h3
                    style="text-align: center; line-height: 1.4; font-family: system-ui, sans-serif; font-weight: 500; font-size: 18px; font-style: normal; text-transform: none; margin: 0px 0px 1em;">
                ⚠️ You have no active funnels!</h3>
                <p style="text-align: center; line-height: 1.4; font-family: system-ui, sans-serif; font-weight: normal; font-size: 14px; font-style: normal; text-transform: none; margin: 1em 0px 0px;">
                    You haven't activated any funnels yet. Funnels help turn leads into customers! <br>Without any
                    active funnels, you could be leaving money on the table.</p></div>
        </td>
    </tr>
    <tr>
        <td id="b-4c387081-eaf0-4b05-971e-7302a8ab7073" class="" bgcolor="" background="" valign="top"
            style="padding: 12px 20px 24px; overflow: hidden;">
            <table class="email-columns two_columns responsive" cellspacing="0" cellpadding="0" width="100%"
                   role="presentation" style="border-spacing: 0px; table-layout: fixed; width: 100%;">
                <tbody>
                <tr class="email-columns-row">
                    <td class="email-columns-cell one-half" bgcolor="" width="50%"
                        style="width: 50%; vertical-align: top; padding: 0px;">
                        <table class="column" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                            <tbody>
                            <tr>
                                <td id="b-5b3a6222-1395-4582-a7b3-3fd94c1031f3" class="" bgcolor="" background=""
                                    valign="top" style="padding: 5px; border-width: 0px; overflow: hidden;">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
                                        <tbody>
                                        <tr>
                                            <td align="justify">
                                                <table border="0" cellspacing="0" cellpadding="0" role="presentation"
                                                       width="100%">
                                                    <tbody>
                                                    <tr>
                                                        <td class="email-button" bgcolor="#f6f9fb" width="100%"
                                                            align="center"
                                                            style="padding: 8px 12px; width: 100%; border-radius: 5px; border-style: solid; border-color: rgb(0, 117, 255); border-width: 1px; background-color: rgb(246, 249, 251);">
                                                            <a href="create_new_funnel"
                                                               style="color: rgb(6, 97, 202); font-family: system-ui, sans-serif; font-weight: 500; font-size: 15px; text-decoration: none; display: inline-block; vertical-align: middle; background-color: rgb(246, 249, 251);">🏗️
                                                                Build a new funnel</a></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="email-columns-cell gap" height="10" width="10" style="width: 10px; height: 10px;">&nbsp;&nbsp;&nbsp;</td>
                    <td class="email-columns-cell one-half" bgcolor="" width="50%"
                        style="width: 50%; vertical-align: top; padding: 0px;">
                        <table class="column" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                            <tbody>
                            <tr>
                                <td id="b-61173473-30ac-45f8-9434-182a2bfcaf45" class="" bgcolor="" background=""
                                    valign="top" style="padding: 5px; border-width: 0px; overflow: hidden;">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
                                        <tbody>
                                        <tr>
                                            <td align="justify">
                                                <table border="0" cellspacing="0" cellpadding="0" role="presentation"
                                                       width="100%">
                                                    <tbody>
                                                    <tr>
                                                        <td class="email-button" bgcolor="#f6f9fb" width="100%"
                                                            align="center"
                                                            style="padding: 8px 12px; width: 100%; border-radius: 5px; border-style: solid; border-color: rgb(0, 117, 255); border-width: 1px; background-color: rgb(246, 249, 251);">
                                                            <a href="what_funnel_to_create"
                                                               style="color: rgb(6, 97, 202); font-family: system-ui, sans-serif; font-weight: 500; font-size: 15px; text-decoration: none; display: inline-block; vertical-align: middle; background-color: rgb(246, 249, 251);">What
                                                                funnels should I create?</a></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
