<table cellpadding="0" cellspacing="0" width="100%" role="presentation">
    <tr>
        <td id="b-a75378a3-86e0-4d5a-b980-f7756c368e6e" class="" bgcolor="" background=""
            valign="top" style="padding: 5px; border-width: 0px; overflow: hidden;">
            <div class="text-content-wrap">
                <p style="line-height: 1.4; font-family: system-ui, sans-serif; font-weight: normal; font-size: 16px; font-style: normal; text-transform: none; margin: 1em 0px 0px;">
                    You have <b>all_pending_tasks_count</b> pending assigned tasks on <a href="site_url">"site_name"</a>!
                    Consider taking some time today to either <i>snooze</i> or <i>complete</i> them.</p></div>
        </td>
    </tr>
    <tr>
        <td id="b-03b80564-792c-4cdb-8dba-f79c77de4e3e" class="" bgcolor="" background=""
            valign="top" style="padding: 5px; border-width: 0px; overflow: hidden;">
            <table cellspacing="0" cellpadding="0" role="presentation">
                <tr>
                    <td height="10" style="height: 10px;"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td id="b-01baacb3-ac95-4f4f-a2f6-65b26ca775e7" class="" bgcolor="" background=""
            valign="top" style="padding: 5px; border-width: 0px; overflow: hidden;">
            <table class="email-columns one_column responsive" cellspacing="0"
                   cellpadding="0" width="100%" role="presentation"
                   style="border-spacing: 0px; table-layout: fixed; width: 100%;">
                <tr class="email-columns-row">
                    <td class="email-columns-cell full" bgcolor="#ffffff" width="100%"
                        style="width: 100%; vertical-align: top; background-color: rgb(255, 255, 255); padding: 0px; border-radius: 5px; border-style: solid; border-color: rgb(231, 233, 236); border-width: 1px;">
                        <table class="column" cellpadding="0" cellspacing="0"
                               role="presentation" width="100%">
                            <tr>
                                <td id="b-883d7ba7-1b85-4f88-a660-34ce1a96c63b" class=""
                                    bgcolor="" background="" valign="top"
                                    style="padding: 8px 0px 8px 12px; border-style: solid; border-color: rgb(231, 233, 236); border-width: 0px 0px 1px; overflow: hidden;">
                                    <div class="text-content-wrap"><p
                                            style="line-height: 1.4; font-family: system-ui, sans-serif; font-weight: normal; font-size: 14px; font-style: normal; text-transform: none; margin: 0px;">
                                        <strong style="font-weight: bold;">Pending Tasks</strong>&nbsp;&nbsp;&nbsp;<a href="dashboard_url">All Tasks &rarr;</a></p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td id="b-600fef14-209e-47d2-b707-1bc0c6e27f32" class=""
                                    bgcolor="" background="" valign="top"
                                    style="border-width: 0px; overflow: hidden;">
                                    pending_tasks
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td id="b-0665b425-4881-404e-8c88-0822773def22" class="" bgcolor="" background=""
            valign="top" style="padding: 5px; border-width: 0px; overflow: hidden;">
            <table cellspacing="0" cellpadding="0" role="presentation">
                <tr>
                    <td height="15" style="height: 15px;"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td id="b-53feba7d-8a80-4fef-a1b0-fd2c27970b47" class="" bgcolor="" background=""
            valign="top" style="padding: 5px; border-width: 0px; overflow: hidden;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0"
                   role="presentation">
                <tr>
                    <td align="center">
                        <table border="0" cellspacing="0" cellpadding="0"
                               role="presentation" width="auto">
                            <tr>
                                <td class="email-button" bgcolor="#0075ff" width="auto"
                                    align="center"
                                    style="padding: 8px 12px; width: auto; border-radius: 5px; border-width: 0px; background-color: rgb(0, 117, 255);">
                                    <a href="dashboard_url"
                                       style="color: rgb(255, 255, 255); font-family: system-ui, sans-serif; font-weight: 500; font-size: 15px; text-decoration: none; display: inline-block; vertical-align: middle; background-color: rgb(0, 117, 255);">See all all_pending_tasks_count pending tasks!</a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td id="b-437bcf95-8e49-46fb-a7f9-321ba9f82557" class="" bgcolor="" background=""
            valign="top" style="padding: 5px; border-width: 0px; overflow: hidden;">
            <table cellspacing="0" cellpadding="0" role="presentation">
                <tr>
                    <td height="15" style="height: 15px;"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
