<table cellpadding="0" cellspacing="0" width="100%" role="presentation">
    <tr>

        <td id="b-25afb6f7-f008-4862-b552-140081e67cdf" class="" bgcolor="" background="" valign="top"
            style="padding: 20px; padding-bottom: 0; border-width: 0px; overflow: hidden;">
            <div class="text-content-wrap"><h3
                    style="line-height: 1.4; font-family: system-ui, sans-serif; font-weight: 500; font-size: 16px; font-style: normal; text-transform: none; margin: 0px 0px 1em; text-align: left;">
                title_rendered</h3>
                content_rendered
            </div>
        </td>
    </tr>
    <tr>
        <td id="b-8e88a7fc-cb7f-45e1-8a22-590cea626ba5" class="" bgcolor="" background="" valign="top"
            style="padding: 0px 0px 20px 20px; border-style: solid; border-color: rgb(231, 233, 236); border-width: 0px 0px 1px; overflow: hidden;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
                <tr>
                    <td align="left">
                        <table border="0" cellspacing="0" cellpadding="0" role="presentation" width="auto">
                            <tr>
                                <td class="email-button" bgcolor="#0075ff" width="auto" align="center"
                                    style="padding: 6px 10px; width: auto; border-radius: 5px; border-width: 0px; background-color: rgb(0, 117, 255);">
                                    <a href="cta_url" style="color: rgb(255, 255, 255); font-family: system-ui, sans-serif; font-weight: 500; font-size: 13px; text-decoration: none; display: inline-block; vertical-align: middle; background-color: rgb(0, 117, 255);">cta_text</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
