<tr>
    <td id="b-03b80564-792c-4cdb-8dba-f79c77de4e3e" class="" bgcolor="" background=""
        valign="top" style="padding: 5px; border-width: 0px; overflow: hidden;">
        <table cellspacing="0" cellpadding="0" role="presentation">
            <tr>
                <td height="10" style="height: 10px;"></td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td id="b-0ac625aa-70a0-4a3b-baf7-edc52012e798" class="b-columns" bgcolor="#fffcf3" background="" valign="top"
        style="padding: 20px; border-radius: 10px; border-style: solid; border-color: rgb(0, 0, 0); border-width: 1px 3px 3px 1px; background-color: rgb(255, 252, 243); overflow: hidden;">
        <table class="email-columns one_column responsive" cellspacing="0" cellpadding="0" width="100%"
               role="presentation" style="table-layout: fixed; border-spacing: 0px; width: 100%;">
            <tr class="email-columns-row">
                <td class="email-columns-cell full" bgcolor="" width="100%"
                    style="width: 100%; vertical-align: top; padding: 0px;">
                    <table class="column" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                        <tr>
                            <td id="b-1a49ef74-2cab-4ff3-aba8-005f4ebf4b08" class="b-text" bgcolor="" background=""
                                valign="top" style="padding: 0px; overflow: hidden;"><p
                                    style="line-height: 1.4; font-family: system-ui, sans-serif; font-weight: normal; font-size: 14px; font-style: normal; text-transform: none; margin: 0px 0px 1em;">
                                ⭐⭐⭐⭐⭐🙏</p>
                                <p style="line-height: 1.4; font-family: system-ui, sans-serif; font-weight: normal; font-size: 14px; font-style: normal; text-transform: none; margin: 1em 0px;">
                                    <strong style="font-weight: bold;">Enjoying Groundhogg?</strong></p>
                                <p style="line-height: 1.4; font-family: system-ui, sans-serif; font-weight: normal; font-size: 14px; font-style: normal; text-transform: none; margin: 1em 0px;">
                                    Groundhogg grows almost entirely through word of mouth. If we've saved you time,
                                    money, or helped your business, we'd really appreciate a quick review.</p>
                                <p style="line-height: 1.4; font-family: system-ui, sans-serif; font-weight: normal; font-size: 14px; font-style: normal; text-transform: none; margin: 1em 0px 0px;">
                                    Leave a review on our&nbsp;<a style="color: #488aff;"
                                                                  href="https://wordpress.org/support/plugin/groundhogg/reviews/"
                                                                  target="_blank" rel="noopener">WordPress.org
                                    plugin page</a> to help spread the word!</p></td>
                        </tr>
                        <tr>
                            <td id="b-5a8c261f-7247-4c0d-b997-cfbc0cf3dc6c" class="b-button" bgcolor=""
                                background="" valign="top" style="padding: 14px 0px; overflow: hidden;">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
                                    <tr>
                                        <td align="left">
                                            <table border="0" cellspacing="0" cellpadding="0" role="presentation"
                                                   width="auto">
                                                <tr>
                                                    <td class="email-button" bgcolor="#ffca00" width="auto"
                                                        align="center"
                                                        style="padding: 8px 12px; width: auto; border-radius: 10px; border-style: solid; border-color: rgb(0, 0, 0); border-width: 1px 2px 2px 1px; background-color: rgb(255, 202, 0);">
                                                        <a href="https://wordpress.org/support/plugin/groundhogg/reviews/"
                                                           style="color: rgb(0, 0, 0); font-size: 14px; font-weight: 600; font-family: Helvetica, Arial, sans-serif; text-transform: uppercase; line-height: 1.1; text-decoration: none; display: inline-block; vertical-align: middle; background-color: rgb(255, 202, 0);">REVIEW
                                                            NOW →</a></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td id="b-ca3816a7-889e-4a26-8cc4-ef0292403c91" class="b-text" bgcolor="" background=""
                                valign="top" style="padding: 0px; overflow: hidden;"><p
                                    style="line-height: 1.4; font-family: system-ui, sans-serif; font-weight: normal; font-size: 14px; font-style: normal; text-transform: none; margin: 0px 0px 1em;">
                                Your support is appreciated!</p>
                                <p style="line-height: 1.4; font-family: system-ui, sans-serif; font-weight: normal; font-size: 14px; font-style: normal; text-transform: none; margin: 1em 0;">
                                    <img class="alignleft"
                                         src="https://secure.gravatar.com/avatar/5fbd75ff0eb49baa1d73c5684a6d501353d3278d3e6fe4c38044c9ce426526f8?s=128&amp;d=mm&amp;r=g"
                                         width="30" height="30" style="border-radius:4px;"><em>Adrian Tobey,<br></em><em>CEO</em></p>
                                <p
                                        style="line-height: 1.4; font-family: system-ui, sans-serif; font-weight: normal; font-size: 14px; font-style: normal; text-transform: none; margin: 1em 0 0 0;">
                                    <a href="dashboard_url#gh-review-please" style="color: #E91F4F">Dismiss this notification.</a></p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td id="b-03b80564-792c-4cdb-8dba-f79c77de4e3e" class="" bgcolor="" background=""
        valign="top" style="padding: 5px; border-width: 0px; overflow: hidden;">
        <table cellspacing="0" cellpadding="0" role="presentation">
            <tr>
                <td height="10" style="height: 10px;"></td>
            </tr>
        </table>
    </td>
</tr>
