<table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="border-bottom: 1px solid rgb(231, 233, 236)">
    <tr>
        <td id="b-5c92ce11-4e54-43e6-b596-16cd141d8b15" class="" bgcolor="" background="" valign="top"
            style="padding: 10px 10px 0;overflow: hidden;">
            <table class="email-columns one_column responsive" cellspacing="0" cellpadding="0" width="100%"
                   role="presentation" style="table-layout: fixed; border-spacing: 0px; width: 100%;">
                <tr class="email-columns-row">
                    <td class="email-columns-cell full" bgcolor="" width="100%"
                        style="width: 100%; vertical-align: top; padding: 0px;">
                        <table class="column" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                            <tr>
                                <td id="b-2afe9d0a-48b0-4640-ab44-09cfdcb3830f" class="" bgcolor="" background=""
                                    valign="top" style="padding: 5px; overflow: hidden;">
                                    <table class="email-columns custom_columns responsive" cellspacing="0"
                                           cellpadding="0" width="100%" role="presentation"
                                           style="table-layout: fixed; border-spacing: 0px; width: 100%;">
                                        <tr class="email-columns-row">
                                            <td class="email-columns-cell custom-width-fixed" bgcolor="" width="80%"
                                                style="width: 80%; vertical-align: top; padding: 0px;">
                                                <table class="column" cellpadding="0" cellspacing="0"
                                                       role="presentation" width="100%">
                                                    <tr>
                                                        <td id="b-38da5bf1-9c61-49d6-ad76-ce69434b1587" class=""
                                                            bgcolor="" background="" valign="top"
                                                            style="padding: 0px; overflow: hidden;">
                                                            <div class="text-content-wrap"><p
                                                                    style="line-height: 1.1; font-family: system-ui, sans-serif; font-weight: normal; font-size: 14px; font-style: normal; text-transform: none; margin: 0px 0px 1em;">
                                                                the_task_icon <strong style="font-weight: bold;">the_task_summary</strong>
                                                            </p>
                                                                <p style="line-height: 1.1; font-family: system-ui, sans-serif; font-weight: normal; font-size: 13px; font-style: normal; text-transform: none; margin: 1em 0px 0px;">
                                                                    <a style="color: #488aff;" href="the_object_link">the_object_img
                                                                        the_object_name</a>
                                                                </p></div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td class="email-columns-cell custom-width-fixed" bgcolor="" width="20%"
                                                style="width: 20%; vertical-align: top; padding: 0px;">
                                                <table class="column" cellpadding="0" cellspacing="0"
                                                       role="presentation" width="100%">
                                                    <tr>
                                                        <td id="b-c8136f43-866b-4576-8483-635a749a5ff1" class=""
                                                            bgcolor="" background="" valign="top"
                                                            style="overflow: hidden;">
                                                            <div class="text-content-wrap">
                                                                <p style="line-height: 1.4; font-family: system-ui, sans-serif; font-weight: normal; font-size: 22px; font-style: normal; text-transform: none; margin: 0px; text-align: right;">
                                                                    <a title="Mark complete" href="the_task_complete_link">👍</a>
                                                                    <a title="Snooze" href="the_task_snooze_link">😴</a>
                                                                    <a title="More details" href="the_task_link">📎</a>
                                                                </p>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td id="b-a3ed8611-04c3-4844-871d-0e6056b2450d" class="" bgcolor="" background=""
                                    valign="top" style="padding: 5px; overflow: hidden;">
                                    <div class="text-content-wrap"><p
                                            style="line-height: 1.4; font-family: system-ui, sans-serif; font-weight: normal; font-size: 13px; font-style: normal; text-transform: none; margin: 0px 0px 1em;">
                                        task_due_by task_added_by</p>
                                        the_task_content
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
