// @import "~@wordpress/base-styles/colors";
// @import "~@wordpress/base-styles/variables";
// @import "~@wordpress/base-styles/mixins";
// @import "~@wordpress/base-styles/breakpoints";
// @import "~@wordpress/base-styles/animations";
// @import "~@wordpress/base-styles/z-index";
// @import "~@wordpress/interface/src/style.scss";

#wpfooter, #footer-thankyou, #updates_required{
  display: none !important;
}

#html.wp-toolbar{
  background: #f0f0f1;
}

.block-editor__typewriter{
  min-height: 300px;
}

.block-editor-block-types-list{
  background: #fff;
  padding-top: 30px;


}

.block-editor-inserter__search-input {
  // position: absolute !important;
  // width: 90% !important;
  // top: 16px !important;
}

.block-editor-inserter__search-icon{
  // top: 41px !important;
}

[draggable=true] {
  cursor: grab;
  // opacity: 1.0;
}

.block-editor-block{

}
