.interface-interface-skeleton .interface-interface-skeleton__sidebar {
  outline: none;
  overflow: visible;
}

.groundhogg-email-sidebar {
  outline: none;
  overflow: visible;
  background: $white;
  border-left: $border-width solid $gray-200;
  bottom: 0;
  color: $gray-900;
  // height: 100vh;
  right: 0;
  top: 0;
  width: 388px;
  margin-right: 20px;

  @include break-small() {
    -webkit-overflow-scrolling: touch;
    height: auto;
    // overflow: auto;
    top: $admin-bar-height-big + $header-height;
  }

  @include break-medium() {
    top: $admin-bar-height + $header-height;
  }

  @include break-small() {
    display: block;
  }

  > .components-panel {
    border-left: 0;
    border-right: 0;
    margin-bottom: -1px;
    margin-top: -1px;

    > .components-panel__header {
      background: $gray-200;
      border-radius: 4px 4px 0 0;
    }
  }

  .block-editor-block-inspector__card {
    margin: 0;
  }

  .block-editor-block {
    width: 110px;
    height: 110px;
    text-align: center;
    font-size: 12px;

    svg {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;
    }
  }
}
