@import "../../master";

.textarea-control-wrap{
  .replacements-wrap{
    margin-bottom: 10px;

    .replacements{
      float:right;
    }
  }
}

.dynamic-delay{
  .replacements-wrap{
    margin-top: 10px;

    .replacements{
      float:right;
    }
  }
}

input[type="email"].email-address{

  width: 100%;
  background: $white;

  &.invalid{
    border-color: $error-red;
    box-shadow: 0 0 0 1px $error-red;
    outline: 2px solid transparent;
  }
}

.btn-control-group {

  margin-top: 10px;

  .btn {
    margin-right: 10px;

    &:last-child {
      margin: 0;
    }
  }
}

.gh-tag-span{
  color: #464646;
  font-weight: 500;
  font-size: 16px;
  background: #e3e3e3;
  display: inline-block;
  padding: 0 7px 0 26px;
  border-radius: 6px;
  position: relative;

  .dashicons{
    position: absolute;
    top: 4px;
    left: 4px;
    font-size: 16px;
    height: 16px;
    width: 16px;
    vertical-align: text-bottom;
  }
}

.w100{
  width: 100%;
}

.is-valid-error{
  margin: 4px 0;
  //background: $white;
  color: $error-red;
  padding: 4px 8px 4px 25px;
  font-size: 14px;
  position: relative;

  .dashicons{
    position: absolute;
    left: 0;
  }
}