.gh-form-wrapper * {
    box-sizing: border-box;
}

.gh-form-errors-wrapper{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

ul.gh-form-errors{
    padding-left: 20px;
    margin: 0;
}

.gh-input{
    outline: none;
    width: 100%;
}

.gh-form-field {
    margin: 10px 0;
    white-space: normal;
}

.gh-form-wrapper label{
    cursor: pointer;
    vertical-align: baseline;
}

.gh-form-wrapper .gh-input{
    height: auto;
}

.gh-form-row {
    white-space: nowrap;
}

.gh-form-column {
    display: inline-block;
    float: left;
    clear: none;
    white-space: normal;
}

.gh-form-column {
    padding-right: 10px;
}

.gh-form-wrapper input[type=file].gh-file-uploader{
    width: 100%;
    margin: auto;
    padding: 30px;
    box-sizing: border-box;
    background: #f1f1f1;
    border: 2px dashed #e5e5e5;
    text-align: center;
}

/*.gh-form-column:nth-last-child(2){*/
    /*padding-right: 0;*/
/*}*/

.gh-form-edit-link {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: 0.4s;
}

.gh-form-wrapper:hover .gh-form-edit-link {
    visibility: visible;
    background: #FFFFFF;
    opacity: 1;
    padding: 5px;
    transition: 0.4s;
}

.gh-form-column:last-child{
    padding-right: 0;
}

.gh-form-column.col-1-of-1{width: 100%;}
.gh-form-column.col-1-of-2{width: 50%}
.gh-form-column.col-1-of-3{width: 33.33%}
.gh-form-column.col-1-of-4{width: 25%;}
.gh-form-column.col-2-of-3{width: 66.66%;}
.gh-form-column.col-3-of-4{width: 75%;}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
    .gh-form-row {white-space: normal;}
    .gh-form-column.col-1-of-1{width: 100%;}
    .gh-form-column.col-1-of-2{width: 100%;}
    .gh-form-column.col-1-of-3{width: 100%;}
    .gh-form-column.col-1-of-4{width: 100%;}
    .gh-form-column.col-2-of-3{width: 100%;}
    .gh-form-column.col-3-of-4{width: 100%;}
    .gh-form-column {
        padding-right: 0;
    }

}

/*.clearfix{clear: both}*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}