$primary-blue: rgb(0, 117, 255);
$primary-blue-60: rgba(0, 117, 255, 0.60);
$primary-blue-50: rgba(0, 117, 255, 0.50);
$primary-blue-20: rgba(0, 117, 255, 0.20);
$primary-blue-10: rgba(0, 117, 255, 0.10);
$primary-blue-7: rgba(0, 117, 255, 0.07);
$primary-blue-2: rgba(0, 117, 255, 0.02);
$primary-dark: rgb(16, 38, 64);
$primary-dark-50: rgba(16, 38, 64, 0.5);
$primary-dark-30: rgba(16, 38, 64, 0.3);
$primary-dark-15: rgba(16, 38, 64, 0.15);
$primary-dark-10: rgba(16, 38, 64, 0.10);
$primary-dark-5: rgba(16, 38, 64, 0.05);
$error-red: rgb(233, 31, 79);
$error-red-50: rgba(233, 31, 79, 0.5);
$error-red-10: rgba(233, 31, 79, 0.10);
$secondary-purple: rgb(108, 25, 173);
$alert-yellow-50: rgba(255, 238, 88, 0.50);
$alert-yellow: rgb(255, 238, 88);
$benchmark-orange: rgb(245, 129, 21);
$benchmark-orange-50: rgba(245, 129, 21, 0.50);
$benchmark-orange-25: rgba(245, 129, 21, 0.25);
$action-green: rgb(158, 206, 56);
$action-green-50: rgba(158, 206, 56, 0.5);
$box-shadow: 5px 5px 30px 0 rgba(24, 45, 70, 0.05);
$background-color: #F6F9FB;

html, body.managed-page, #main {
    background-color: #F6F9FB;
    position: initial !important;
}

* {
    box-sizing: border-box;
}

#main * {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    //font-size: 14px;
    line-height: 1.6em;
}

#main {
    max-width: 500px;
    padding: 3% 0 20px 0;
    margin: auto;
}

body.managed-page {

    p {
        font-size: 14px;
    }

    .no-margin-top {
        margin-top: 0;
    }

    &.view,
    &.archive {

        #main {
            max-width: 700px;

            h2.subject-line {
                font-size: 24px;
                line-height: 1.2;
                margin-top: -10px;
                padding: 0 30px 20px;
                border-bottom: 1px solid #cccccc;
                margin-left: -30px;
                margin-right: -30px;
            }

            .list-wrap {
                margin: auto -30px;
                //width: 100%;

                .wp-list-table.archive-list {
                    border-width: 1px 0;
                    width: 100%;
                }
            }

            .pagination {
                display: flex;
                justify-content: center;
                gap: 10px;
                margin-top: 20px;

                .active {
                    font-weight: bold;
                }
            }
        }
    }
}

#main .box {
    margin-top: 20px;
    margin-left: 0;
    padding: 30px;
    font-weight: 400;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 5px 5px 30px rgba(24, 45, 70, 0.05);
    /*margin: 20px;*/
    border-radius: 5px;
    border: none;

    > p:first-child{
        margin-top: 0;
    }

    > p:last-child {
        margin-bottom: 0;
    }
}

#main h1 a {
    background-size: 84px;
    background-position: center top;
    background-repeat: no-repeat;
    color: #444;
    height: 84px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3em;
    margin: 0 auto 25px;
    padding: 0;
    text-decoration: none;
    width: 84px;
    text-indent: -9999px;
    outline: 0;
    overflow: hidden;
    display: block;
}

* {
    margin: 0;
    padding: 0;
}

#main .notice {
    margin: 0 0 10px 0;
}

#main .notice:last-child {
    margin-bottom: 0;
}

.right {
    float: right;
}

.align-center {
    text-align: center;
}

@media screen and (max-width: 360px ) {
    .right {
        float: none;
    }
}

body p {
    margin: 1.1em 0;
}

a {
    outline: 0;
}

a {
    color: #0073aa;
    transition-property: border, background, color;
    transition-duration: .05s;
    transition-timing-function: ease-in-out;
    text-decoration: none;
}

.notice a {
    text-decoration: underline;
}

a:active, a:hover {
    color: #00a0d2;
}

label {
    //font-weight: normal;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

p#credit,
#extralinks {
    color: #555d66;
    text-align: center;
}

p#credit img {
    vertical-align: middle;
}

#main .preference-options a {
    margin: 10px 0 0 0;
    padding: 8px 20px;
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    font-size: 14px;
}

#main .preference-options a:hover{
    background-color: rgba(16, 38, 64, 0.05);
}

#main .preference-options a.preference-unsubscribe,
#main .preference-options a.preference-gdpr_delete {
    color: #e91f4f;

}

#main .preference-options a.preference-unsubscribe:hover,
#main .preference-options a.preference-gdpr_delete:hover {
    color: rgb(194, 19, 61);
    background-color: rgba(194, 19, 61, 0.05);
}

#main{

    label.gh-checkbox-label {
        display: flex;
        gap: 5px;
        align-items: start;

        input {
            margin-top: 6px;
        }
    }

    p .gh-checkbox-label + br {
        display: none;
    }

    span.optional{
        font-weight: normal;
    }

    select,
    textarea,
    input[type="email"],
    input[type="tel"],
    input[type="search"],
    input[type="date"],
    input[type="datetime-local"],
    input[type="text"] {
        background: #fbfbfb;
        border-radius: 4px;
        font-size: 15px;
        width: 100%;
        padding: 4px 8px;
        margin: 2px 6px 16px 0;
        border: 1px solid #7e8993;
        box-shadow: 0 0 0 transparent;
        color: #32373c;
        outline: 0;
        transition: 50ms border-color ease-in-out;
    }

    p.form-field-description{
        margin: 0;
        font-style: italic;
    }

    div.radio-buttons,
    div.checkboxes {
        display: flex;
        flex-direction: column;
        margin: 2px 6px 16px 0;
    }

    #gh-submit,
    button[type=submit],
    .button {
        display: inline-block;
        text-decoration: none;
        white-space: nowrap;

        border: none;
        color: #FFFFFF;
        border-radius: 5px;
        padding: 6px 10px;
        font-size: 16px;
        font-weight: 400;
        background: rgb(0, 117, 255);
        cursor: pointer;

        * {
            font-size: 16px;
        }

        &:hover {
            background: #005ecc;
        }

        &.secondary {
            background-color: $primary-blue-2;
            color: $primary-dark;
        }

        &.danger {
            background: #e91f4f;

            &:hover {
                background: #c2133d;
            }
        }
    }

    .contact-name {
        border-bottom: 1px dotted;
    }
}

.erase #main ul {
    padding-left: 20px;
    list-style-type: disc;
}

form.list-search {
    display: flex;
    gap: 5px;
    align-items: stretch;
    float: right;
    margin-bottom: 10px;

    input#search-input {
        margin: 0 !important;
        font-size: 14px;
    }

    button#search-submit {
        font-size: 14px;
    }
}
