html {
    background-color: #F6F9FB;
    position: initial !important;
}

* {
    box-sizing: border-box;
}

#main * {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 1.6em;
}

#main {
    max-width: 500px;
    margin: 100px auto;

    padding: 30px;
    font-weight: 400;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 5px 5px 30px rgba(24, 45, 70, 0.05);
    /*margin: 20px;*/
    border-radius: 5px;
    border: none;
}

body p {
    margin: 1.1em 0;
}

