@import '../../master';

.step-wrap{

  .step-title{
    padding-left: 60px;
    cursor:pointer;

    b{
      font-weight: 500;
    }
  }

  .edit-step-controls{
    display: inline-block;
  }

  .line-left{
    border-left: 2px solid $border-color;
    margin: 5px 0 5px 10px;
    padding: 10px 0 10px 22px;
  }

  .delay{
    //margin: 10px 30px;
    font-size: 16px;

    .delay-text{
      cursor: pointer;
    }

    .dashicons {
      font-size: 24px;
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }
  }

  .step {
    height: 54px;
    display: flex;
    align-items: center;

    &.action{
      //margin: 10px 22px;
      padding: 10px;
      background-color: #FFFFFF;

      .step-icon{
        background: $action-color;
      }
    }

    &.benchmark{
      margin: 10px 10px 0 10px;
      padding: 10px;
      background-color: #FFFFFF;

      .step-icon{
        background: $benchmark-color;
      }

      &:last-child{
        margin-bottom: 10px;
      }
    }

    .step-controls{
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.5s linear;
    }

    &:hover{

      border-color: $border-hover-color;

      .step-controls{
        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity 0.5s linear;
      }
    }
  }

  &:last-child{
    .line-left{
      //border-left-color: transparent;
    }
  }
}
