@import "react/colors";

.strike {
  text-decoration: line-through !important;
}

.groundhogg-report-pie-chart-listitem{
  color: #333333;
  list-style: none !important;
  text-align: left;
  display: flex;
  flex-direction: row;
  margin: 8px;
}

.groundhogg-report-pie-chart{

}

.groundhogg-report-pie-chart-legend{

  overflow: auto;

  .legend-scroll {
    overflow: auto;
    max-height: 250px;
  }

}
