@-webkit-keyframes moving-gradient {
  0% {
    background-position: -250px 0;
  }
  100% {
    background-position: 250px 0;
  }
}

table.list-table {

  thead {
    th {
      position: -webkit-sticky;
      position: sticky;
      background: white;
      top: 54px;
      z-index: 2;
      box-shadow: 0 2px 0 #dee2e6;
      border-bottom: none;
    }
  }

  td.loading-animation {
    div {
      height: 30px;
      background: linear-gradient(to right, #eee 20%, #ddd 50%, #eee 80%);
      background-size: 500px 100px;
      animation-name: moving-gradient;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }
  }
}


