.add-new-step-container {

  .add-new-step-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #5c5c5c;
    opacity: 0.5;
    z-index: 99999;
  }

  .animated{
    z-index: 99999;
    //position: fixed;
  }

  .add-new-step-inner-container{
    z-index: 99999;
    position: fixed;
    max-width: 720px;
    width: 720px;
    top: 0;
    right: 0;
    bottom: 0;

    .add-new-step-inner{
      background: #f7f7f7;
      height: 100vh;
    }

    .add-new-step-choices{
      //z-index: 99999;
      overflow-y: auto;
      padding: 70px 10px 10px 10px;
    }

    .fixed-top{
      position: absolute;
    }
  }

}