@import "../../colors";

.groundhogg-top-bar {
  min-height: 55px;
  padding: 4px 8px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid $border-color;
  background-color: #f9f9f9;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  z-index: 1001;

  .logo{

    //background-color: #212529;

    .big-g,
    .logo-black{
      height: 35px;
      margin: 10px;
    }

  }

  .search-and-quick-add,
  .topbar-actions{
    display: flex;
    flex-direction: row;
    align-items: center;

    .btn:not(:last-child){
      margin-right: 10px;
    }

    .quick-search {
      position: relative;
      min-width: 500px;

      input[type="search"] {
        padding-left: 42px;
      }

      &:before {
        position: absolute;
        top: 15px;
        left: 15px;

        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 1.171875rem;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;

        content: "\f002";
        z-index: 1003;
      }
    }
  }
}