@import "../../master";

.groundhogg-funnel-editor{
  max-width: 1000px;
  margin: auto;
  width: 100%;
}

#screen-meta-links{
  display: none;
}

#wpcontent{
  padding: 0 !important;
}

#wpwrap{
  background-color: $background-color;
}

.gh-box {
  position: relative;
  border: 1px solid $border-color;
  //box-shadow: 0 1px 1px rgba(0,0,0,.04);
  background-color: $background-color-light;

  //-moz-background-clip: padding;
  //-webkit-background-clip: padding-box;
  //background-clip: padding-box;
}

.round-borders{
  border-radius: 3px;
}