.tablenav .gh-actions{
    padding: 2px 8px 0 0;
}

.tablenav .gh-actions .action{
    margin: 1px 8px 0 0;
}

.progress-bar-wrap {
    width: 100%;
    background-color: #ddd;
    margin-top: 20px;
}

.progress-bar {
    width: 1%;
    padding: 7px;
    background-color: #4CAF50;
    box-sizing: border-box;
}

.progress-percentage{
    color: #FFFFFF;
    font-weight: 500;
}input[type=range].slider {
     -webkit-appearance: none;
     width: 100%;
     margin: 6.8px 0;
 }
input[type=range].slider:focus {
    outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 13.4px;
    cursor: pointer;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.03), 0px 0px 0px rgba(13, 13, 13, 0.03);
    background: #ffffff;
    border-radius: 3.1px;
    border: 1px solid #e5e5e5;
}
input[type=range].slider::-webkit-slider-thumb {
    box-shadow: 0.1px 0.1px 0px rgba(204, 204, 204, 0), 0px 0px 0.1px rgba(217, 217, 217, 0);
    border: 1px solid #cccccc;
    height: 27px;
    width: 14px;
    border-radius: 4px;
    background: #f7f7f7;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7.8px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
    background: #ffffff;
}
input[type=range].slider::-moz-range-track {
    width: 100%;
    height: 13.4px;
    cursor: pointer;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.03), 0px 0px 0px rgba(13, 13, 13, 0.03);
    background: #ffffff;
    border-radius: 3.1px;
    border: 1px solid #e5e5e5;
}
input[type=range].slider::-moz-range-thumb {
    box-shadow: 0.1px 0.1px 0px rgba(204, 204, 204, 0), 0px 0px 0.1px rgba(217, 217, 217, 0);
    border: 1px solid #cccccc;
    height: 27px;
    width: 14px;
    border-radius: 4px;
    background: #f7f7f7;
    cursor: pointer;
}
input[type=range].slider::-ms-track {
    width: 100%;
    height: 13.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range].slider::-ms-fill-lower {
    background: #f2f2f2;
    border: 1px solid #e5e5e5;
    border-radius: 6.2px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.03), 0px 0px 0px rgba(13, 13, 13, 0.03);
}
input[type=range].slider::-ms-fill-upper {
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 6.2px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.03), 0px 0px 0px rgba(13, 13, 13, 0.03);
}
input[type=range].slider::-ms-thumb {
    box-shadow: 0.1px 0.1px 0px rgba(204, 204, 204, 0), 0px 0px 0.1px rgba(217, 217, 217, 0);
    border: 1px solid #cccccc;
    height: 27px;
    width: 14px;
    border-radius: 4px;
    background: #f7f7f7;
    cursor: pointer;
    height: 13.4px;
}
input[type=range].slider:focus::-ms-fill-lower {
    background: #ffffff;
}
input[type=range].slider:focus::-ms-fill-upper {
    background: #ffffff;
}

.onoffswitch {
    position: relative; width: 106px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none !important;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #E3E3E3; border-radius: 3px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 27px; padding: 0; line-height: 23px;
    font-size: 14px; color: white;
    box-sizing: border-box;
    border: 2px solid transparent;
    background-clip: padding-box;
}
.onoffswitch-inner:before {
    content: "On";
    padding-left: 10px;
    background-color: #FFFFFF; color: #000000;
}

.onoffswitch-inner:after {
    content: "Off";
    padding-right: 10px;
    background-color: #FFFFFF; color: #666666;
    text-align: right;
}

.onoffswitch-switch {
    display: block; width: 24px; margin: 0px;
    background: #f7f7f7;
    position: absolute; top: 0; bottom: 0;
    right: 82px;
    height: 26px;
    border-width: 1px;
    border-style: solid;
    transition: all 0.3s ease-in 0s;
    border-radius: 3px;
    box-shadow: 0 1px 0 #ccc;
    border-color: #ccc;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
    background-color: #0085ba;
    box-shadow: 0 1px 0 #006799;
    border-color: #0073aa #006799 #006799;
}