$primary-blue: rgb(0, 117, 255);
$primary-blue-60: rgba(0, 117, 255, 0.60);
$primary-blue-50: rgba(0, 117, 255, 0.50);
$primary-blue-20: rgba(0, 117, 255, 0.20);
$primary-blue-10: rgba(0, 117, 255, 0.10);
$primary-blue-7: rgba(0, 117, 255, 0.07);
$primary-blue-2: rgba(0, 117, 255, 0.02);
$primary-dark: rgb(16, 38, 64);
$primary-dark-50: rgba(16, 38, 64, 0.5);
$primary-dark-30: rgba(16, 38, 64, 0.3);
$primary-dark-15: rgba(16, 38, 64, 0.15);
$primary-dark-10: rgba(16, 38, 64, 0.10);
$primary-dark-2: rgba(16, 38, 64, 0.02);
$primary-dark-1: rgba(16, 38, 64, 0.01);
$error-red: rgb(233, 31, 79);
$error-red-50: rgba(233, 31, 79, 0.5);
$error-red-10: rgba(233, 31, 79, 0.10);
$secondary-purple: rgb(108, 25, 173);
$alert-yellow: rgb(255, 238, 88);
$benchmark-orange: rgb(245, 129, 21);
$benchmark-orange-50: rgba(245, 129, 21, 0.50);
$action-green: rgb(158, 206, 56);
$action-green-50: rgba(158, 206, 56, 0.5);
$box-shadow: 5px 5px 30px 0 rgba(24, 45, 70, 0.05);

#wpcontent {
  background-color: #F6F9FB;
  padding-left: 0;
}

#screen-meta-links {
  display: none;
}

.fixed-full-height {
  height: calc(100vh - 32px);
  position: fixed;
}

#info-cards {
  h2.additional {
    padding-left: 20px;
  }
}

#contact-stuff {
  gap: 20px;
  padding: 20px;
  align-items: flex-start;

  #general-details, #info-cards {
    width: 25%;
  }

  #main-stuff {
    width: 50%;
  }

  .avatar {
    display: block;
    border-radius: 10px;
    //margin: 20px auto;
  }

  .full-name, .email-address {
    font-size: 16px;
    //text-align: center;
  }

  .contact-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px;
  }
}

#activity-here{
  overflow: auto;
  max-height: 800px;
}

#activity-timeline {

  margin-left: 15px;
  border-left: 2px solid $primary-dark-10;

  li.activity-item {
    position: relative;
    margin-left: 20px;

    &:not(:last-child) {
      margin-bottom: 25px;
    }

    .activity-info{
      font-size: 15px;
    }

    .event-extra,
    .diff-time{
      color: $primary-dark-50;
    }

    .activity-icon.wp_fusion{
      position: absolute;
      left: -34px;

      height: 25px;
      width: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .activity-icon:not(.wp_fusion) {

      position: absolute;
      left: -34px;

      height: 25px;
      width: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      background: $primary-blue;
      color: #FFFFFF;

      &.benchmark{
        background: $benchmark-orange;
        border-radius: 4px;
      }

      &.broadcast,
      &.action{
        background: $action-green;
      }

      svg {
        width: 15px;
        height: 15px;
      }
    }
  }
}