.contact-record{
    display: flex;
    margin-top: 10px;
}

.contact-editor-wrap{
    flex: 1;
    padding-right: 20px;
}

.contact-info-cards{
    flex: 0 0 300px;
}

.contact-details{
    display: block;
    float: left;
    /*margin-right: 20px;*/
    position: relative;
    border: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: #fff;
    width: 540px;
    max-width: 100%;
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;
    margin: 0 0 10px 0;
    /*margin-left: 300px;*/
}

.contact-details .location .dashicons{
    float: left;
}

.contact-details .full-name{
    font-size: 18px;
    font-weight: 500;
}

.contact-details div:not(:last-child){
    margin-bottom: 8px;
}

.contact-details div .dashicons{
    margin-right: 10px;
}

.contact-details div a {
    text-decoration: none;
}

.contact-details .tags{
    white-space: normal;
}

.contact-details .tags .tag{
    background: #f2f2f2;
    padding: 3px 9px;
    border-radius: 3px;
    margin: 0 6px 6px 0;
    display: inline-block;
}

div.email-status{
   margin: 20px;
}

.contact-picture {
    display: inline-block;
    float: left;
    margin: 0 20px 10px 0;
    position: relative;
    /*box-shadow: 0 1px 1px rgba(0,0,0,.04);*/
    background: #fff;
    border-radius: 3px;
}

.contact-picture img {
    vertical-align: middle;
    border-radius: 3px;
}

.basic-details .details {
    margin: 0 0 10px 2px;
}

.phone-ext{
    width: 100px;
}

.deal-details .details {
    margin: 0 0 10px 2px;
}

.contact-details textarea{
    width: 100%;
}
.basic-details .details .regular-text {
    width: 20em;
}

.basic-details .details a {
    text-decoration: none;
    padding: 0 4px 1px;
}

.basic-details .details .dashicons{
    vertical-align: text-bottom;
}

.deal-details label {
    display: block;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 3px;
}

#files th:last-child,
#files th:nth-child(3),
#files th:nth-child(2)
{
    width: 60px;
}

th p{
    margin-bottom: 0;
}

code.meta-replacement-code{
    font-weight: 400;
}

#gh-notes{
    /*max-width: 700px;*/
    /*border-bottom: 1px solid #f1f1f1;*/
    /*background-color: #FFFFFF;*/
    /*border-radius: 1px;*/
    margin-top: 10px;
}

#gh-notes:empty{
    display: none;
}

.gh-note:not(:last-child){
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 10px;
    padding: 0 0 10px 0;
}

.gh-notes-container::after {
    content: "";
    clear: both;
    display: table;
}

.note-actions {
    /*float: right;*/
    color: #aaa;
    /*margin: 0 0 10px 10px;*/
    font-size: 12px;
}

.note-actions .dashicons {
    font-size: 12px;
}

.gh-note p{
    margin: 0;
}

.gh-note p:not(:last-child){
    margin-bottom: 5px;
}

.gh-note .edited-note-text{
    width: 100%;
    box-sizing: border-box;
}

.gh-note .note-context{
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
}

.file-actions,
.edit-actions {
    visibility: hidden;
}

.file:hover .file-actions,
.gh-note:hover .edit-actions{
    visibility: visible;
}

.delete a{
    color: #a00;
    text-decoration: none;
}

.file a.file-download{
    text-decoration: none;
}

.button-actions{
    margin-top: 3px;
}