.contact-record{
    display: flex;
}

.contact-editor-wrap{
    flex: 1;
    padding-right: 20px;
}

.contact-info-cards{
    flex: 0 0 300px;
}

.contact-details{
    display: block;
    float: left;
    /*margin-right: 20px;*/
    position: relative;
    border: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: #fff;
    width: 500px;
    max-width: 100%;
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;
    margin: 10px 0;
    /*margin-left: 300px;*/
}

div.email-status{
   margin: 20px;
}

.contact-picture {
    display: inline-block;
    float: left;
    margin: 0 20px 10px 0;
    position: relative;
    /*box-shadow: 0 1px 1px rgba(0,0,0,.04);*/
    background: #fff;
}

.contact-picture img {
    vertical-align: middle;
}

.basic-details .details {
    margin: 0 0 10px 2px;
}

.deal-details .details {
    margin: 0 0 10px 2px;
}

.contact-details textarea{
    width: 100%;
}
.basic-details .details .regular-text {
    width: 20em;
}

.basic-details .details a {
    text-decoration: none;
    padding: 0 4px 1px;
}

.basic-details .details .dashicons{
    vertical-align: text-bottom;
}

.deal-details label {
    display: block;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 3px;
}

#files th:last-child,
#files th:nth-child(3),
#files th:nth-child(2)
{
    width: 60px;
}

th p{
    margin-bottom: 0;
}

code.meta-replacement-code{
    font-weight: 400;
}

#gh-notes{
    max-width: 700px;
    border: 1px solid #ccd0d4;
    background-color: #FFFFFF;
    border-radius: 1px;
    margin: 10px 0;
}

#gh-notes:empty{
    display: none;
}

.gh-note{
    padding: 10px 10px;
}

.gh-note:not(:last-child){
    border-bottom: 1px solid #ccd0d4;
}

.gh-notes-container::after {
    content: "";
    clear: both;
    display: table;
}

.note-actions {
    float: right;
    color: #aaa;
    margin: 0 0 10px 10px;
}

.gh-note p{
    margin: 0;
}

.gh-note p:not(:last-child){
    margin-bottom: 5px;
}

.gh-note .edited-note-text{
    width: 100%;
    box-sizing: border-box;
}

.gh-note .note-context{
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
}