
table.chart-summary,table.wpgh-most-active-funnels{width: 100%;border-collapse: collapse;}
table.wpgh-most-active-funnels * {white-space: nowrap;}
table.wpgh-most-active-funnels th,
table.chart-summary thead th {font-weight: 500;padding-bottom: 10px;text-align: center;}
table.chart-summary tbody th {font-weight: 500;}
table.chart-summary tfoot td{padding-top: 10px;}
table.chart-summary tbody tr:last-child td{padding-bottom: 10px;}
table.chart-summary tfoot th{font-weight: 500;padding-top: 10px;text-align: center;}
table.chart-summary thead{border-bottom: 1px solid #cccccc;}
table.chart-summary tfoot{border-top: 1px solid #cccccc;}
table.chart-summary th,table.chart-summary td{ text-align: center}
table.chart-summary th:first-child,table.chart-summary td:first-child{ text-align: left}
table.wpgh-most-active-funnels th:last-child{text-align: center;}
table.chart-summary td,table.wpgh-most-active-funnels td{padding-top: 10px;}
table.wpgh-most-active-funnels td.funnel-title{width: 70%;}
table.chart-summary .summary-total, table.wpgh-most-active-funnels td.active-contacts{
    text-align: center;
    font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
    font-size: 14px;
    font-weight: 500;
}
table.wpgh-most-active-funnels td.active-contacts{width: 30%;}
.export-button{display: none;}
.postbox:hover .export-button{display: block;}