.pill {
  background: rgba(0, 117, 255, 0.07);
  border-radius: 5px;
  margin: 0 5px 5px 0;
  display: inline-block;
  padding: 3px 8px;
}
.pill.orange {
  background: rgba(245, 129, 21, 0.5);
}
.pill.blue {
  background: rgba(0, 117, 255, 0.5);
}
.pill.green {
  background: rgba(158, 206, 56, 0.5);
}
.pill.red {
  background: rgba(233, 31, 79, 0.5);
}

.gh-panel {
  background: #FFFFFF;
  box-shadow: 5px 5px 30px rgba(24, 45, 70, 0.05);
  /*margin: 20px;*/
  border-radius: 5px;
}
.gh-panel .inside {
  padding: 20px;
}

.wp-core-ui select {
  vertical-align: initial;
}

button {
  cursor: pointer;
}
button.dashicon-button {
  border: none;
  background: none;
  opacity: 0.8;
}
button.dashicon-button:hover {
  opacity: 1;
}
button.gh-button {
  border: none;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 6px 10px;
  font-size: 16px;
  font-weight: 400;
}
button.gh-button:disabled {
  opacity: 0.5;
  cursor: initial;
}
button.gh-button.primary {
  background: #0075ff;
}
button.gh-button.primary:hover:not(:disabled) {
  background: #005ecc;
}
button.gh-button.secondary {
  border: 1px solid rgba(0, 117, 255, 0.6);
  background: #FFFFFF;
  color: #0075ff;
  padding: 5px 10px;
}
button.gh-button.secondary:hover:not(:disabled) {
  color: #005ecc;
  border-color: #0075ff;
}
button.gh-button.danger {
  background: #e91f4f;
}
button.gh-button.danger:hover:not(:disabled) {
  background: #c2133d;
}
button.gh-button.icon {
  background: #FFFFFF;
  border: 1.2px solid rgba(16, 38, 64, 0.15);
  padding: 4px;
  display: flex;
  align-items: center;
  color: #0075ff;
}
button.gh-button.icon svg {
  width: 20px;
  height: 20px;
}
button.gh-button.icon:hover:not(:disabled) {
  border-color: rgba(16, 38, 64, 0.25);
}

.gh-button-group button.gh-button:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.gh-button-group button.gh-button:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-options-widget-wrap {
  position: relative;
}
.search-options-widget-wrap .search-options-widget {
  position: absolute;
  z-index: 999;
  border: 1px solid #8c8f94;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: #FFFFFF;
  border-radius: 5px;
  box-shadow: 5px 5px 30px rgba(24, 45, 70, 0.05);
}
.search-options-widget-wrap .search-options-widget.mount-from-bottom {
  bottom: 0;
}
.search-options-widget-wrap .search-options-widget .header {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #8c8f94;
  gap: 20px;
}
.search-options-widget-wrap .search-options-widget .header button.close {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}
.search-options-widget-wrap .search-options-widget .header button.close:hover {
  opacity: 1;
}
.search-options-widget-wrap .search-options-widget .search-options {
  padding: 5px 8px;
  max-height: 300px;
  overflow: auto;
}
.search-options-widget-wrap .search-options-widget .search-options.has-groups .option {
  padding-left: 10px;
}
.search-options-widget-wrap .search-options-widget .search-options .option-group {
  font-weight: 500;
}
.search-options-widget-wrap .search-options-widget .search-options .option {
  cursor: pointer;
}
.search-options-widget-wrap .search-options-widget .search-options .option.focused, .search-options-widget-wrap .search-options-widget .search-options .option:hover {
  background: #0075ff;
  color: #FFFFFF;
}

.gh-modal {
  align-items: center;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 100000;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.gh-modal-overlay {
  position: fixed;
  background: rgba(0, 70, 153, 0.618);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.gh-modal-dialog {
  background: white;
  border-radius: 5px;
  position: relative;
  padding: 30px;
  max-width: 50vw;
}
.gh-modal-dialog-alert p {
  font-size: 18px;
}
.gh-modal-dialog-alert p:first-child {
  margin-top: 0;
}
.gh-modal-button-close-top {
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 0;
}
.gh-modal-confirmation-buttons {
  display: flex;
  justify-content: center;
}
.gh-modal-confirmation-buttons button {
  width: 100%;
}

.input-wrap {
  display: flex;
  justify-content: flex-start;
}
.input-wrap.input-with-replacements textarea {
  border-top-right-radius: 0;
}
.input-wrap.input-with-replacements .buttons {
  display: flex;
  flex-direction: column;
}
.input-wrap.input-with-replacements .buttons button {
  border-radius: 0;
  padding: 4px;
  border-left: none !important;
}
.input-wrap.input-with-replacements .buttons button:first-child {
  border-top-right-radius: 4px !important;
}
.input-wrap.input-with-replacements .buttons button:not(:first-child) {
  border-top: none !important;
}
.input-wrap.input-with-replacements .buttons button:last-child {
  border-bottom-right-radius: 4px !important;
}

.input-wrap > *:last-child {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  border-left: none !important;
}

.input-wrap > *:nth-child(2):not(:last-child) {
  border-left: none !important;
}

.input-wrap.input-with-emojis input,
.input-wrap.input-with-replacements input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
}

.input-wrap.input-with-emojis button.emoji-picker-start,
.input-wrap.input-with-replacements button.replacements-picker-start {
  box-shadow: 0 0 0 transparent;
  border-radius: 0;
  border: 1px solid #8c8f94;
  background-color: #fff;
  color: #2c3338;
  cursor: pointer;
}

.input-wrap.input-with-emojis button.emoji-picker-start:hover,
.input-wrap.input-with-replacements button.replacements-picker-start:hover {
  background-color: #F6F9FB;
}

.input-wrap select + input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-wrap input, .input-wrap select {
  margin: 0;
}
.input-wrap select:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.commit-errors {
  color: #e91f4f;
}

/*# sourceMappingURL=elements.css.map */
