$primary-blue: rgb(0, 117, 255);
$primary-blue-60: rgba(0, 117, 255, 0.60);
$primary-blue-50: rgba(0, 117, 255, 0.50);
$primary-blue-20: rgba(0, 117, 255, 0.20);
$primary-blue-10: rgba(0, 117, 255, 0.10);
$primary-blue-7: rgba(0, 117, 255, 0.07);
$primary-blue-2: rgba(0, 117, 255, 0.02);
$primary-dark: rgb(16, 38, 64);
$primary-dark-50: rgba(16, 38, 64, 0.5);
$primary-dark-30: rgba(16, 38, 64, 0.3);
$primary-dark-15: rgba(16, 38, 64, 0.15);
$primary-dark-10: rgba(16, 38, 64, 0.10);
$error-red: rgb(233, 31, 79);
$error-red-50: rgba(233, 31, 79, 0.5);
$error-red-10: rgba(233, 31, 79, 0.10);
$secondary-purple: rgb(108, 25, 173);
$alert-yellow: rgb(255, 238, 88);
$benchmark-orange: rgb(245, 129, 21);
$benchmark-orange-50: rgba(245, 129, 21, 0.50);
$action-green: rgb(158, 206, 56);
$action-green-50: rgba(158, 206, 56, 0.5);
$box-shadow: 5px 5px 30px 0 rgba(24, 45, 70, 0.05);

body{
  &.modal-open{
    .select2-dropdown{
      z-index: 999999;
    }
  }
}

.gh-header {
  display: flex;
  justify-content: space-between;
  box-shadow: $box-shadow;
  align-items: center;
  background: #FFFFFF;
  padding: 8px 12px;
  min-height: 60px;
  box-sizing: border-box;

  &.is-sticky {
    position: sticky;
    top: 32px;
    z-index: 10000;
  }

  .title-wrap {

    h1.breadcrumbs {
      line-height: 1;
      margin: 0;
      display: flex;
      gap: 10px;
      align-items: center;
      font-size: 1.6em;
      white-space: nowrap;

      .sep,
      .base {
        font-weight: 400;
        cursor: pointer;
      }

      .part {
        font-weight: 500;
      }

      .dashicons {
        color: $primary-dark-30;
      }
    }
  }
}

a.action-link {
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}

.pill {
  background: $primary-blue-7;
  border-radius: 5px;
  margin: 0 5px 5px 0;
  display: inline-block;
  padding: 3px 8px;

  &.orange {
    background: $benchmark-orange-50;
  }

  &.blue {
    background: $primary-blue-50;
  }

  &.green {
    background: $action-green-50;
  }

  &.red {
    background: $error-red-50;
  }
}

svg,
span.gh-text {
  &.danger {
    color: $error-red;
  }
}

.gh-panel {
  background: #FFFFFF;
  box-shadow: 5px 5px 30px rgba(24, 45, 70, 0.05);
  /*margin: 20px;*/
  border-radius: 5px;

  .inside {
    padding: 20px;
  }
}

.wp-core-ui {

  select {
    vertical-align: initial;
  }

  button {

    &.button {
      &.has-dashicon {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }
}

a,
button {
  cursor: pointer;

  &.dashicon-button {
    border: none;
    background: none;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }

    &:disabled {
      opacity: 0.5;
      cursor: initial;
    }
  }

  &.gh-button {

    text-decoration: none;
    white-space: nowrap;

    border: none;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 6px 10px;
    font-size: 16px;
    font-weight: 400;

    &:disabled {
      opacity: 0.5;
      cursor: initial;
    }

    &.action {
      background: $action-green;

      &:hover:not(:disabled) {
        background: darken($action-green, 10);
      }
    }

    &.primary {
      background: $primary-blue;

      &.text {
        background-color: transparent;
        color: $primary-blue;
      }

      &:hover:not(:disabled) {
        background: darken($primary-blue, 10);

        &.text {
          background-color: $primary-blue-10;
          color: $primary-blue;
        }
      }
    }

    &.secondary {
      border: 1px solid $primary-blue-60;
      background: #FFFFFF;
      color: $primary-blue;
      padding: 5px 10px;

      &.text {
        border: none;
        background: transparent;
        color: $primary-dark;
      }

      &:hover:not(:disabled) {
        color: darken($primary-blue, 10);
        border-color: $primary-blue;
        background-color: $primary-blue-2;

        &.text {
          border: none;
          background: $primary-dark-10;
          color: $primary-dark;
        }

        //border-width: 2px;
        //padding: 3px 8px;
      }
    }

    &.danger {
      background: $error-red;

      &.text {
        color: $error-red;
        background-color: transparent;
      }

      &:hover:not(:disabled) {
        background: darken($error-red, 10);

        &.text {
          color: $error-red;
          background-color: $error-red-10;
        }
      }
    }

    &.icon {
      //background: #FFFFFF;
      //border: 1.2px solid rgba(16, 38, 64, 0.15);
      padding: 7px;
      display: flex;
      align-items: center;
      //color: $primary-blue;

      svg {
        width: 20px;
        height: 20px;
      }

      //&:hover:not(:disabled) {
      //  border-color: rgba(16, 38, 64, 0.25);
      //}
    }

    &.big {
      font-size: 24px;
      padding: 15px 32px;
    }

    &.medium {
      font-size: 18px;
      padding: 11px 22px;
    }

    &.bold {
      font-weight: 700;
    }

    &.loud {
      text-transform: uppercase;
    }
  }
}


.gh-button-group {

  display: flex;

  button.gh-button:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
  }

  button.gh-button:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

}


.search-options-widget-wrap {
  position: relative;

  .search-options-widget {
    position: absolute;
    z-index: 999;
    border: 1px solid #8c8f94;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgba(24, 45, 70, 0.05);

    &.mount-from-bottom {
      bottom: 0;
    }

    .header {
      padding: 5px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #8c8f94;
      gap: 20px;

      button.close {
        padding: 0;
        background: none;
        border: none;
        cursor: pointer;
        opacity: 0.8;

        &:hover {
          opacity: 1;
        }
      }
    }

    .search-options {
      padding: 5px 8px;
      max-height: 300px;
      overflow: auto;

      &.has-groups {
        .option {
          padding-left: 10px;
        }
      }

      * {
        //padding-top: 3px;
        //padding-bottom: 3px;
      }

      .option-group {
        font-weight: 500;
      }

      .option {
        cursor: pointer;

        &.focused,
        &:hover {
          background: $primary-blue;
          color: #FFFFFF;
        }
      }
    }
  }
}

.gh-modal {
  align-items: center;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 10000;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

  &-overlay {
    position: fixed;
    background: rgba(darken($primary-blue, 20), .618);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }

  &-confirmation {
    width: 500px;
  }

  &-loading {
    width: 200px;

    h1 {
      text-align: center;
    }
  }

  &-dialog {
    background: white;
    border-radius: 5px;
    position: relative;
    //height: 70vh;
    padding: 30px;
    max-width: 80vw;

    &-alert {
      p {
        font-size: 18px;
        margin: 0;
        line-height: 1.6;
      }

      p:first-child {
        margin-top: 0;
      }
    }
  }

  &-button-close-top {
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 0;
  }

  &-confirmation-buttons {

    button {
      //width: 100%;
      //padding: 20px;
    }

    display: flex;
    //gap: 1rem;
    margin-top: 20px;
    gap: 10px;
    justify-content: flex-end;
  }
}

input.ui-autocomplete-input {
  &.focus-visible {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.ui-autocomplete {
  z-index: 1000000;
  //box-shadow: $box-shadow;
  //border: 1px solid $primary-dark-15;
}

.input-wrap {
  display: flex;
  justify-content: flex-start;

  &.input-with-replacements {

    textarea {
      border-top-right-radius: 0;
    }

    .buttons {
      display: flex;
      flex-direction: column;


      button {
        border-radius: 0;
        padding: 4px;
        border-left: none;

        &:first-child {
          border-top-right-radius: 4px;
        }

        &:not(:first-child) {
          border-top: none;
        }

        &:last-child {
          border-bottom-right-radius: 4px;
        }
      }
    }
  }
}

.input-wrap > *:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: none;
}

.input-wrap > *:nth-child(2):not(:last-child) {
  border-left: none;
}

.input-wrap.input-with-emojis input,
.input-wrap.input-with-replacements input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
}

.input-wrap.input-with-emojis button.emoji-picker-start,
.input-wrap.input-with-replacements button.replacements-picker-start {
  box-shadow: 0 0 0 transparent;
  border-radius: 0;
  border: 1px solid #8c8f94;
  background-color: #fff;
  color: #2c3338;
  cursor: pointer;
}

.input-wrap.input-with-emojis button.emoji-picker-start:hover,
.input-wrap.input-with-replacements button.replacements-picker-start:hover {
  background-color: #F6F9FB;
}

.input-wrap {
  select + input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  input, select {
    margin: 0;
  }

  select:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

p.error,
.commit-errors {
  color: $error-red;
}

.gh-input-repeater {

  margin: 5px 0;

  &-row {
    display: flex;

    input {
      width: 100%;
      border-right: none;
      border-radius: 0;
      margin: 0;
    }

    .input-wrap {
      width: 100%;

      > input {
        border-radius: 0;
        border-right-width: 1px;
      }

      > button.replacements-picker-start {
        //border: solid #8c8f94;
        border-right-width: 0;
        border-radius: 0;
      }
    }

    button {
      border: 1px solid #8c8f94;
      border-radius: 0;
      padding: 6px;
      border-top-width: 0;
    }

    &:first-child {
      > input:first-child {
        border-top-left-radius: 4px;
      }

      button {
        border-top-width: 1px;
      }

      > button {
        border-top-right-radius: 4px;
      }
    }

    &:not(:first-child) {
      input, button, .input-wrap button {
        border-top-width: 0;
      }
    }

    &:nth-last-child(2) {
      > input:first-child {
        border-bottom-left-radius: 4px;
      }
    }
  }

  &-row-add {
    display: flex;
    //justify-content: flex-end;

    .spacer {
      width: 100%;
    }

    button {
      padding: 5px 6px;
      border: 1px solid #8c8f94;
      border-top: none;
      border-radius: 0 0 4px 4px;
    }

    &:first-child button {
      border-top: 1px solid #8c8f94;
      border-radius: 4px 4px 4px 4px;
    }
  }
}

.gh-dropdown-menu {

  box-sizing: border-box;
  z-index: 10000;
  position: fixed;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: $box-shadow;
  min-width: 120px;
  border-radius: 5px 0 5px 5px;
  border: 1px solid #8c8f94;
  padding: 5px;
  gap: 5px;

  * {
    box-sizing: border-box;
  }

  &-item {
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      background-color: $primary-dark-10;
      cursor: pointer;
    }
  }
}