a.action-link {
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}

.pill {
  background: rgba(0, 117, 255, 0.07);
  border-radius: 5px;
  margin: 0 5px 5px 0;
  display: inline-block;
  padding: 3px 8px;
}
.pill.orange {
  background: rgba(245, 129, 21, 0.5);
}
.pill.blue {
  background: rgba(0, 117, 255, 0.5);
}
.pill.green {
  background: rgba(158, 206, 56, 0.5);
}
.pill.red {
  background: rgba(233, 31, 79, 0.5);
}

svg.danger,
span.gh-text.danger {
  color: #e91f4f;
}

.gh-panel {
  background: #FFFFFF;
  box-shadow: 5px 5px 30px rgba(24, 45, 70, 0.05);
  /*margin: 20px;*/
  border-radius: 5px;
}
.gh-panel .inside {
  padding: 20px;
}

.wp-core-ui select {
  vertical-align: initial;
}
.wp-core-ui button.button.has-dashicon {
  display: flex;
  align-items: center;
  gap: 5px;
}

button {
  cursor: pointer;
}
button.dashicon-button {
  border: none;
  background: none;
  opacity: 0.8;
}
button.dashicon-button:hover {
  opacity: 1;
}
button.dashicon-button:disabled {
  opacity: 0.5;
  cursor: initial;
}
button.gh-button {
  border: none;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 6px 10px;
  font-size: 16px;
  font-weight: 400;
}
button.gh-button:disabled {
  opacity: 0.5;
  cursor: initial;
}
button.gh-button.action {
  background: #9ece38;
}
button.gh-button.action:hover:not(:disabled) {
  background: #80a92a;
}
button.gh-button.primary {
  background: #0075ff;
}
button.gh-button.primary.text {
  background-color: transparent;
  color: #0075ff;
}
button.gh-button.primary:hover:not(:disabled) {
  background: #005ecc;
}
button.gh-button.primary:hover:not(:disabled).text {
  background-color: rgba(0, 117, 255, 0.1);
  color: #0075ff;
}
button.gh-button.secondary {
  border: 1px solid rgba(0, 117, 255, 0.6);
  background: #FFFFFF;
  color: #0075ff;
  padding: 5px 10px;
}
button.gh-button.secondary.text {
  border: none;
  background: transparent;
  color: #102640;
}
button.gh-button.secondary:hover:not(:disabled) {
  color: #005ecc;
  border-color: #0075ff;
  background-color: rgba(0, 117, 255, 0.02);
}
button.gh-button.secondary:hover:not(:disabled).text {
  border: none;
  background: rgba(16, 38, 64, 0.1);
  color: #102640;
}
button.gh-button.danger {
  background: #e91f4f;
}
button.gh-button.danger.text {
  color: #e91f4f;
  background-color: transparent;
}
button.gh-button.danger:hover:not(:disabled) {
  background: #c2133d;
}
button.gh-button.danger:hover:not(:disabled).text {
  color: #e91f4f;
  background-color: rgba(233, 31, 79, 0.1);
}
button.gh-button.icon {
  padding: 7px;
  display: flex;
  align-items: center;
}
button.gh-button.icon svg {
  width: 20px;
  height: 20px;
}
button.gh-button.big {
  font-size: 24px;
  padding: 15px 32px;
}
button.gh-button.medium {
  font-size: 18px;
  padding: 11px 22px;
}
button.gh-button.bold {
  font-weight: 700;
}
button.gh-button.loud {
  text-transform: uppercase;
}

.gh-button-group {
  display: flex;
}
.gh-button-group button.gh-button:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
}
.gh-button-group button.gh-button:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-options-widget-wrap {
  position: relative;
}
.search-options-widget-wrap .search-options-widget {
  position: absolute;
  z-index: 999;
  border: 1px solid #8c8f94;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: #FFFFFF;
  border-radius: 5px;
  box-shadow: 5px 5px 30px rgba(24, 45, 70, 0.05);
}
.search-options-widget-wrap .search-options-widget.mount-from-bottom {
  bottom: 0;
}
.search-options-widget-wrap .search-options-widget .header {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #8c8f94;
  gap: 20px;
}
.search-options-widget-wrap .search-options-widget .header button.close {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}
.search-options-widget-wrap .search-options-widget .header button.close:hover {
  opacity: 1;
}
.search-options-widget-wrap .search-options-widget .search-options {
  padding: 5px 8px;
  max-height: 300px;
  overflow: auto;
}
.search-options-widget-wrap .search-options-widget .search-options.has-groups .option {
  padding-left: 10px;
}
.search-options-widget-wrap .search-options-widget .search-options .option-group {
  font-weight: 500;
}
.search-options-widget-wrap .search-options-widget .search-options .option {
  cursor: pointer;
}
.search-options-widget-wrap .search-options-widget .search-options .option.focused, .search-options-widget-wrap .search-options-widget .search-options .option:hover {
  background: #0075ff;
  color: #FFFFFF;
}

.gh-modal {
  align-items: center;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 100000;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.gh-modal-overlay {
  position: fixed;
  background: rgba(0, 70, 153, 0.618);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.gh-modal-confirmation {
  width: 500px;
}
.gh-modal-loading {
  width: 200px;
}
.gh-modal-loading h1 {
  text-align: center;
}
.gh-modal-dialog {
  background: white;
  border-radius: 5px;
  position: relative;
  padding: 30px;
  max-width: 80vw;
}
.gh-modal-dialog-alert p {
  font-size: 18px;
  margin: 0;
  line-height: 1.6;
}
.gh-modal-dialog-alert p:first-child {
  margin-top: 0;
}
.gh-modal-button-close-top {
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 0;
}
.gh-modal-confirmation-buttons {
  display: flex;
  margin-top: 20px;
  gap: 10px;
  justify-content: flex-end;
}
input.ui-autocomplete-input.focus-visible {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.ui-autocomplete {
  z-index: 1000000;
}

.input-wrap {
  display: flex;
  justify-content: flex-start;
}
.input-wrap.input-with-replacements textarea {
  border-top-right-radius: 0;
}
.input-wrap.input-with-replacements .buttons {
  display: flex;
  flex-direction: column;
}
.input-wrap.input-with-replacements .buttons button {
  border-radius: 0;
  padding: 4px;
  border-left: none;
}
.input-wrap.input-with-replacements .buttons button:first-child {
  border-top-right-radius: 4px;
}
.input-wrap.input-with-replacements .buttons button:not(:first-child) {
  border-top: none;
}
.input-wrap.input-with-replacements .buttons button:last-child {
  border-bottom-right-radius: 4px;
}

.input-wrap > *:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: none;
}

.input-wrap > *:nth-child(2):not(:last-child) {
  border-left: none;
}

.input-wrap.input-with-emojis input,
.input-wrap.input-with-replacements input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
}

.input-wrap.input-with-emojis button.emoji-picker-start,
.input-wrap.input-with-replacements button.replacements-picker-start {
  box-shadow: 0 0 0 transparent;
  border-radius: 0;
  border: 1px solid #8c8f94;
  background-color: #fff;
  color: #2c3338;
  cursor: pointer;
}

.input-wrap.input-with-emojis button.emoji-picker-start:hover,
.input-wrap.input-with-replacements button.replacements-picker-start:hover {
  background-color: #F6F9FB;
}

.input-wrap select + input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-wrap input, .input-wrap select {
  margin: 0;
}
.input-wrap select:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

p.error,
.commit-errors {
  color: #e91f4f;
}

.gh-input-repeater {
  margin: 5px 0;
}
.gh-input-repeater-row {
  display: flex;
}
.gh-input-repeater-row input {
  width: 100%;
  border-right: none;
  border-radius: 0;
  margin: 0;
}
.gh-input-repeater-row .input-wrap {
  width: 100%;
}
.gh-input-repeater-row .input-wrap > input {
  border-radius: 0;
  border-right-width: 1px;
}
.gh-input-repeater-row .input-wrap > button.replacements-picker-start {
  border-right-width: 0;
  border-radius: 0;
}
.gh-input-repeater-row button {
  border: 1px solid #8c8f94;
  border-radius: 0;
  padding: 6px;
  border-top-width: 0;
}
.gh-input-repeater-row:first-child > input:first-child {
  border-top-left-radius: 4px;
}
.gh-input-repeater-row:first-child button {
  border-top-width: 1px;
}
.gh-input-repeater-row:first-child > button {
  border-top-right-radius: 4px;
}
.gh-input-repeater-row:not(:first-child) input, .gh-input-repeater-row:not(:first-child) button, .gh-input-repeater-row:not(:first-child) .input-wrap button {
  border-top-width: 0;
}
.gh-input-repeater-row:nth-last-child(2) > input:first-child {
  border-bottom-left-radius: 4px;
}
.gh-input-repeater-row-add {
  display: flex;
}
.gh-input-repeater-row-add .spacer {
  width: 100%;
}
.gh-input-repeater-row-add button {
  padding: 5px 6px;
  border: 1px solid #8c8f94;
  border-top: none;
  border-radius: 0 0 4px 4px;
}
.gh-input-repeater-row-add:first-child button {
  border-top: 1px solid #8c8f94;
  border-radius: 4px 4px 4px 4px;
}

.gh-dropdown-menu {
  z-index: 10000;
  position: fixed;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 5px 5px 30px 0 rgba(24, 45, 70, 0.05);
  min-width: 120px;
  border-radius: 5px;
  border: 1px solid rgba(16, 38, 64, 0.15);
  padding: 5px;
  gap: 5px;
}
.gh-dropdown-menu-item {
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gh-dropdown-menu-item:hover {
  background-color: rgba(16, 38, 64, 0.1);
  cursor: pointer;
}

/*# sourceMappingURL=elements.css.map */
