#subject,
#title,
#alt-wrap,
#pre_header{
    width: 100%;
    font-size:18px;
}

#subject{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#pre_header{
    border-top-width: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#alt-wrap,
#content-wrap,
#subject-wrap{
    margin-top: 20px;
}

/*#save{*/
/*    padding: 10px;*/
/*}*/

.button .dashicons {
    vertical-align: middle;
}

#poststuff .dash-button{
    padding: 0 5px 1px;
}