$primary-blue: rgb(0, 117, 255);
$primary-blue-60: rgba(0, 117, 255, 0.60);
$primary-blue-50: rgba(0, 117, 255, 0.50);
$primary-blue-20: rgba(0, 117, 255, 0.20);
$primary-blue-7: rgba(0, 117, 255, 0.07);
$primary-blue-2: rgba(0, 117, 255, 0.02);
$primary-dark: rgb(16, 38, 64);
$primary-dark-50: rgba(16, 38, 64, 0.5);
$primary-dark-30: rgba(16, 38, 64, 0.3);
$primary-dark-15: rgba(16, 38, 64, 0.15);
$error-red: rgb(233, 31, 79);
$error-red-50: rgba(233, 31, 79, 0.5);
$secondary-purple: rgb(108, 25, 173);
$alert-yellow: rgb(255, 238, 88);
$benchmark-orange: rgb(245, 129, 21);
$benchmark-orange-50: rgba(245, 129, 21, 0.50);
$action-green: rgb(158, 206, 56);
$action-green-50: rgba(158, 206, 56, 0.5);
$box-shadow: 5px 5px 30px 0 rgba(24, 45, 70, 0.05);

$margin: 1rem;

@mixin panel ()
{
  background: #FFFFFF;
  box-shadow: 5px 5px 30px rgba(24, 45, 70, 0.05);
  padding: 20px;
  border-radius: 5px;
}

#email-editor {
  margin-right: 20px;
  padding-top: 20px;

  &-header {
    @include panel();
    margin-bottom: $margin;
  }

  &-body {
    display: flex;
    gap: $margin;
  }

  &-main {
    display: flex;
    flex-direction: column;
    gap: $margin;
    width: 61.8%;
  }

  &-sidebar {
    @include panel();
    flex: 1;
  }

  &-content {
    @include panel();
    flex: 1;
  }

  &-controls {
    @include panel();
  }

  label {
    display: block;
    padding-bottom: .382rem;
  }

  &-sidebar {
    &-controls {
      display: flex;
      gap: 10px;

      button:first-child {
        flex-grow: 1;
      }
    }

    &-options {
      display: flex;
      gap: 20px;

    }

    &-message_type {
      flex-grow: 1;
    }
  }

  &-advanced {
    @include panel();

    &-headers {
      padding-top: 1rem;
      table {
        border-collapse: collapse;
        width: 100%;

        td {
          box-shadow: 0 1px 0 0 #0003;
          padding: .618rem 0;

          &:last-child {
            &:hover {
              button {
                opacity: 1;
              }
            }

            button {
              background: none;
              opacity: .382;
            }
          }
        }

        th:last-child,
        td:last-child {
          white-space: nowrap;
          width: 1%;
        }

        th {
          text-align: center;

          &:first-child {
            text-align: left;
          }
        }

        input {
          width: calc(100% - 1rem);
        }

        svg {
          height: 1rem;
          width: 1rem;
        }
      }
    }
  }
}