#subject,
#title,
#alt-wrap,
#pre_header{
    width: 100%;
    font-size:18px;
}

#subject{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#pre_header{
    border-top-width: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#alt-wrap,
#content-wrap,
#subject-wrap{
    margin-top: 20px;
}

/*#save{*/
/*    padding: 10px;*/
/*}*/

.button .dashicons {
    vertical-align: middle;
}

#poststuff .dash-button{
    padding: 0 5px 1px;
}

.wp-editor-expand #wp-email_content-editor-tools {
    z-index: 1000;
    border-bottom: 1px solid #ccd0d4;
}
#wp-email_content-editor-tools {
    background-color: #f1f1f1;
    padding-top: 20px;
}

#poststuff #post-body #save .spinner{
    float: right;
    margin: 10px 10px 0 0;
    /*visibility: visible;*/
}

#headers-table th:last-child{
    width: 100px;
}

#headers-table td input{
    width: 100%;
}