#modal-log-details {
    display: none;
}
#modal-log-details-view .notice{
    margin: 0 !important;
}

#modal-log-details-view {
    padding: 10px 0;
}

#modal-log-details-view #body-iframe{
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

#modal-log-details-view #body-iframe,
#modal-log-details-view #headers textarea {
    width: 100%;
}
