$primary-blue: rgb(0, 117, 255);
$primary-blue-60: rgba(0, 117, 255, 0.60);
$primary-blue-50: rgba(0, 117, 255, 0.50);
$primary-blue-20: rgba(0, 117, 255, 0.20);
$primary-blue-10: rgba(0, 117, 255, 0.10);
$primary-blue-7: rgba(0, 117, 255, 0.07);
$primary-blue-2: rgba(0, 117, 255, 0.02);
$primary-dark: rgb(16, 38, 64);
$primary-dark-50: rgba(16, 38, 64, 0.5);
$primary-dark-30: rgba(16, 38, 64, 0.3);
$primary-dark-15: rgba(16, 38, 64, 0.15);
$primary-dark-10: rgba(16, 38, 64, 0.10);
$primary-dark-5: rgba(16, 38, 64, 0.05);
$error-red: rgb(233, 31, 79);
$error-red-50: rgba(233, 31, 79, 0.5);
$error-red-10: rgba(233, 31, 79, 0.10);
$secondary-purple: rgb(108, 25, 173);
$alert-yellow: rgb(255, 238, 88);
$benchmark-orange: rgb(245, 129, 21);
$benchmark-orange-50: rgba(245, 129, 21, 0.50);
$action-green: rgb(158, 206, 56);
$action-green-50: rgba(158, 206, 56, 0.5);
$box-shadow: 5px 5px 30px 0 rgba(24, 45, 70, 0.05);

.template-full-width {
  padding: 0 20px 20px 20px;
}

.template-boxed {

  margin: 0 20px 20px 20px;

  &.center {
    margin-left: auto;
    margin-right: auto;
  }
}

.template-framed {

  .template-logo {
    margin: 0 auto 30px auto;
    display: block;
    width: 100%;
  }

  > .inner-content {
    margin: 0 auto;
    padding: 30px;
    box-shadow: $box-shadow;
    border-radius: 20px;
    background: #ffffff;
  }

  background: $primary-blue-7;
  padding: 60px 0;
}

.alignleft {
  margin-right: 10px;
}

.alignright {
  margin-left: 10px;
}

#email-controls {
  opacity: 0.8;
  cursor: pointer;

}

.block-controls {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#email-block-editor {
  display: flex;
  gap: 20px;
  padding: 0 20px;
  max-height: calc(100vh - 132px);

  * {
    box-sizing: border-box;
  }

  #blocks-panel {
    //padding: 0 20px;
  }

  .block-wrap {
    .block-name {
      text-align: center;
      font-weight: 300;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .block {
    height: 60px;
    width: 60px;
    padding: 10px;
    border-radius: 5px;
    background: #FFFFFF;
    cursor: grab;
    margin-bottom: 5px;

    &.dragging {
      cursor: grabbing;
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        height: 100%;
        width: 100%;
      }
    }
  }

  #content {
    width: 100%;
    background: #FFFFFF;
    overflow: auto;

    #builder-content {

      min-height: 40px;

      p:first-child {
        margin-top: 0;
      }

      img {
        max-width: 100%;
      }

      .block-placeholder {
        background-color: $primary-blue-50;
        border-radius: 2px;
        width: 100%;
        height: 5px;
        margin: 15px 0;
        box-sizing: border-box;
      }

      .builder-block {
        //overflow: hidden;
        position: relative;

        &[data-type="image"] .ui-wrapper {
          display: inline-block;
        }

        &[data-type="text"] {

          button.edit-text-content {
            display: none;
          }

          &:hover button.edit-text-content {
            display: inline-block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
          }


          > .maybe-edit-text,
          > .text-content-wrap {
            > *:last-child {
              margin-bottom: 0;
            }

            > *:first-child {
              margin-top: 0;
            }
          }
        }

        &[data-type="html"] {
          min-height: 30px;

          button.edit-html-content {
            display: none;
          }

          &:hover button.edit-html-content {
            display: inline-block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
          }

          .maybe-edit-html {
            min-height: 30px;
          }
        }

        .email-button {
          display: inline-block;
        }

        .email-columns {

          display: table;
          table-layout: fixed;
          width: 100%;

          &-row {
            display: table-row;
          }

          &-cell {
            display: table-cell;
            vertical-align: top;
          }

        }

        img {
          display: inline-block;
        }

        .column.empty {
          background-color: $primary-dark-5;
          border-radius: 5px;
          padding: 20px;
          margin: 5px;
        }

        .block-toolbar {
          display: none;
          position: absolute;
          right: 50%;
          transform: translateX(50%);
          left: auto;
          top: -22px;
          background-color: rgb(200, 200, 200);
          border-radius: 5px 5px 0 0;
          z-index: 99;

          .move-block {
            cursor: grab;
          }
        }

        &:hover {
          //transition: 0.4s;
          outline: 2px solid rgb(200, 200, 200);

          > .block-toolbar {
            display: flex;
            background-color: rgb(200, 200, 200);
          }
        }

        &.is-editing {
          //transition: 0.4s;
          outline: 2px solid $primary-blue;

          > .block-toolbar {
            display: flex;
            background-color: $primary-blue;
            z-index: 999;
          }
        }
      }
    }
  }

}

#controls-panel {
  width: 400px;
  //padding: 0 10px;

  h3 {
    padding-left: 10px;
  }

  .control-group:not(.closed) {
    .controls {
      display: flex;
      flex-direction: column;
      gap: 10px;

      label {
        font-weight: 500;
      }

      .layouts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-rows: 1fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
    ". ."
    ". .";
      }


      .layout-choice {

        &:hover {
          background-color: $primary-blue-20;
        }

        &.selected {
          background-color: $primary-blue-50;
        }

        border: none;
        padding: 10px;
        border-radius: 5px;

        svg {
          width: 100%;
        }
      }
    }
  }


  .control-input {
    max-width: 75px;
  }

  .wp-picker-container.wp-picker-active {
    position: relative;

    .wp-picker-holder,
    .wp-picker-input-wrap {
      position: absolute;
      z-index: 99;
      right: 0;
      top: 30px;

      * {
        box-sizing: content-box;
      }
    }

    .wp-picker-input-wrap {
      display: flex;
      box-sizing: border-box;
      width: 202px;
      background-color: #FFFFFF;
      border: 1px solid #dcdcde;
      border-bottom: none;
      padding: 6px;
    }

    .wp-picker-holder {
      top: 65px;

      .iris-picker {
        border-top: none;
      }
    }


  }

}

