#form-builder {
  display: flex;
  gap: 20px;

  #fields-editor,
  #form-preview-wrap {
    width: 100%;
    margin-top: 0 !important;

    * {
      box-sizing: border-box;
    }
  }

  #fields-editor {

    .add-field{
      width: 100%;
      margin-top: 10px;
    }

    #button-settings{
      margin-top: 20px;
    }

    #form-fields, #button-settings {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .field-placeholder{
        //border-style: none;
        background: #0001;
        border-radius: 5px;
        //flex-direction: column;
        //margin: auto;
      }

      .form-field {
        background: #FFFFFF;
        border-radius: 3px;
        border: 1px solid rgba(16, 38, 64, 0.15);
        overflow: hidden;

        .settings {
          box-sizing: border-box;
          padding: 10px;

          .row {
            display: flex;
            justify-content: space-between;
            align-items: center;

            > label {
              flex-basis: 150px;
            }

            > .setting{
              width: 100%;

              display: flex;
              justify-content: flex-end;

              input {
                width: 100%;
              }
            }

            .input-wrap {
              width: 100%;
            }

            &:not(:last-child) {
              margin-bottom: 5px;
            }

            .options{
              width: 100%;

              .select-options{

                margin: 5px 0;

                .select-option-wrap{
                  display: flex;

                  input {
                    width: 100%;
                    border-radius: 0;
                  }

                  button{
                    border: 1px solid #8c8f94;
                    border-left: none;
                    border-radius: 0 !important;
                    padding: 6px;
                  }

                  &:first-child{
                    input{
                      border-top-left-radius: 4px;
                    }

                    button{
                      border-top-right-radius: 4px !important;
                    }
                  }

                  &:not(:first-child){
                    input, button {
                      border-top: none;
                    }
                  }

                  &:nth-last-child(2){
                    input {
                      border-bottom-left-radius: 4px;
                    }
                  }
                }

                .select-option-add{
                  display: flex;
                  justify-content: flex-end;

                  button{
                    padding: 5px 6px;
                    border: 1px solid #8c8f94;
                    border-top: none;
                    border-radius: 0 0 4px 4px !important;
                  }
                }
              }
            }
          }
        }

        .settings-tabs {
          /*display: flex;*/
          /*justify-content: center;*/
          border-top: 1px solid rgba(16, 38, 64, 0.15);
          border-bottom: 1px solid rgba(16, 38, 64, 0.15);
          padding: 10px 10px 0 10px;

          a.settings-tab {
            color: #2c3338;
          }

          .settings-tab {
            border-width: 1px 1px 0 1px;
            border-color: rgba(16, 38, 64, 0.15);
            border-style: solid;
            display: inline-block;
            /*display: flex;*/
            /*align-items: center;*/
            /*justify-content: center;*/
            border-radius: 3px 3px 0 0;
            margin: 0 2px;
            font-size: 13px;
            padding: 4px 8px 2px 8px;
            /*height: ?22px;*/
            text-align: center;
            background: #f9f9f9;
            cursor: pointer;

            &.active {
              font-weight: 500;
              border-bottom: 1px solid #fff;
              margin-bottom: -1px;
              background: #FFFFFF;
            }
          }
        }

        .field-header {
          padding-left: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .field-type {
            font-size: 8px;
            opacity: 0.7;
            text-transform: uppercase;
            font-weight: 500;
          }

          .field-label {
            font-size: 13px;
          }

          .actions {
            display: flex;

            button {
              background: #FFFFFF;
              width: 40px;
              height: 40px;
              border-top: none;
              border-right: none;
              border-bottom: none;
              border-left: 1px solid rgba(16, 38, 64, 0.15);
              cursor: pointer;

              &:hover {
                background: #f1f1f1;
              }
            }
          }
        }
      }
    }
  }
}