@charset "UTF-8";
body.saving .funnel-editor-header button > .button-text {
  display: none;
}
body:not(.saving) .funnel-editor-header button > .gh-spinner {
  display: none;
}
body.folded #funnel-form {
  left: 36px;
}
body.funnel-full-screen {
  /* Full Screen */
}
body.funnel-full-screen #funnel-form {
  top: 0;
  left: 0;
}
body.funnel-full-screen #funnel-form #full-screen .dashicons::before {
  content: "";
}
body.funnel-full-screen #adminmenumain,
body.funnel-full-screen #wpfooter,
body.funnel-full-screen #wpadminbar {
  display: none !important;
}
body:not(.funnel-full-screen) #close {
  display: none;
}

#funnel-form {
  display: flex;
  flex-direction: column;
}
#funnel-form #funnel-builder {
  position: relative;
  display: flex;
  align-items: stretch;
  margin: 0;
  flex-grow: 1;
}
#funnel-form[data-status=active] .funnel-editor-header button#funnel-activate {
  display: none;
}
#funnel-form[data-status=inactive] .funnel-editor-header button#funnel-update,
#funnel-form[data-status=inactive] .funnel-editor-header button#funnel-deactivate {
  display: none;
}

#wpfooter {
  display: none !important;
}

/* END Full Screen */
#screen-meta-links {
  display: none;
}

/* NEW STUFF */
#wpbody-content {
  /*height: 100vh;*/
  padding-bottom: 0;
}

.trigger-popup {
  font-weight: normal;
}

.button.button-secondary.submit.trigger-popup {
  background: #f7f7f7 !important;
  border-color: #ccc !important;
  border-width: 1px !important;
  border-style: solid !important;
  float: none !important;
  padding: 0 10px 1px !important;
  margin: 2px !important;
}

#wpcontent {
  padding-left: 0 !important;
  box-sizing: border-box;
}

#poststuff {
  padding-top: 0px;
  margin-top: 107px;
}

.replacements-button,
.add-contacts-link {
  display: inline-block;
  text-decoration: none;
}

.header-wrap {
  width: 100%;
}

#change_reporting {
  margin: 1px 2px;
}

#step-settings-container {
  /*padding: 10px 20px;*/
  box-sizing: border-box;
  position: relative;
  width: clamp(800px, 60%, 1000px);
  transition: width 0.3s ease-out, opacity 0.3s ease-out;
  background-color: #F6F9FB;
  box-shadow: 5px 5px 30px 0 rgba(4, 45, 70, 0.05);
}
#step-settings-container.slide-out {
  opacity: 0;
  /* Optional fade-out effect */
  width: 0;
}
#step-settings-container > #collapse-settings {
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 10px 0 0 10px;
  border-color: rgba(16, 38, 64, 0.15);
  border-style: solid;
  border-width: 1px 0 1px 1px;
  transform: translate(-100%, -50%);
  z-index: 12;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: #F6F9FB;
}
#step-settings-container #step-settings-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}
#step-settings-container #step-settings-inner #add-steps {
  padding: 30px;
}
#step-settings-container #step-settings-inner #add-steps #actions .select-step:hover .step-icon {
  background-color: rgba(158, 206, 56, 0.5);
}
#step-settings-container #step-settings-inner #add-steps #benchmarks .select-step:hover .step-icon {
  background-color: rgba(245, 129, 21, 0.25);
}
#step-settings-container #step-settings-inner #add-steps #logic .select-step:hover .step-icon {
  background-color: rgba(108, 25, 173, 0.25);
}
#step-settings-container #step-settings-inner #add-steps .steps-select #step-search {
  width: 100%;
  font-size: 14px;
  padding: 4px 12px;
}
#step-settings-container #step-settings-inner #add-steps .steps-select .steps-grid {
  position: relative;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
  border-radius: 10px;
}
#step-settings-container #step-settings-inner #add-steps .steps-select .steps-grid:not(:has(.visible)) {
  display: none;
}
#step-settings-container #step-settings-inner #add-steps .steps-select .description {
  padding: 10px;
}
#step-settings-container #step-settings-inner #add-steps .steps-select .nav-tab-wrapper {
  text-align: center;
  margin-top: 0 !important;
  padding: 20px 0 0 0 !important;
}
#step-settings-container #step-settings-inner #add-steps .steps-select .steps-grid .sub-group {
  position: relative;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  border-radius: 5px;
  border: 1px solid rgba(16, 38, 64, 0.15);
  padding: 20px;
}
#step-settings-container #step-settings-inner #add-steps .steps-select .steps-grid .sub-group:has([data-group=benchmark]) {
  border-color: #f58115;
}
#step-settings-container #step-settings-inner #add-steps .steps-select .steps-grid .sub-group:has([data-group=benchmark]) > .sub-group-label {
  background-color: #f58115;
}
#step-settings-container #step-settings-inner #add-steps .steps-select .steps-grid .sub-group:has([data-group=logic]) {
  border-color: #6c19ad;
}
#step-settings-container #step-settings-inner #add-steps .steps-select .steps-grid .sub-group:has([data-group=logic]) > .sub-group-label {
  background-color: #6c19ad;
}
#step-settings-container #step-settings-inner #add-steps .steps-select .steps-grid .sub-group:has([data-group=action]) {
  border-color: #9ece38;
}
#step-settings-container #step-settings-inner #add-steps .steps-select .steps-grid .sub-group:has([data-group=action]) > .sub-group-label {
  background-color: #9ece38;
}
#step-settings-container #step-settings-inner #add-steps .steps-select .steps-grid .sub-group:not(:has(.visible)) {
  display: none;
}
#step-settings-container #step-settings-inner #add-steps .steps-select .steps-grid .sub-group > .sub-group-label {
  position: absolute;
  top: -12px;
  left: 20px;
  color: white;
  border-radius: 5px;
  padding: 3px 8px;
  border: 1px solid rgba(16, 38, 64, 0.15);
}
#step-settings-container #step-settings-inner #add-steps .steps-select .select-step {
  width: 80px;
  border-radius: 5px;
  cursor: grab;
}
#step-settings-container #step-settings-inner #add-steps .steps-select .select-step:not(.visible) {
  display: none;
}
#step-settings-container #step-settings-inner #add-steps .steps-select .select-step .step-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-radius: 5px;
  margin: 0;
  overflow: hidden;
  position: relative;
  background: #FFFFFF;
}
#step-settings-container #step-settings-inner #add-steps .steps-select .select-step p {
  font-size: 13px;
  margin: 10px 0 0 0;
  line-height: 1.2;
}
#step-settings-container #step-settings-inner #add-steps .steps-select .select-step > .ui-draggable-dragging {
  width: 80px;
  height: 80px;
  cursor: grabbing;
}
#step-settings-container #step-settings-inner #add-steps .steps-select .select-step > .ui-draggable-dragging p {
  display: none;
}
#step-settings-container #step-settings-inner:has(.step.editing) #add-steps {
  display: none;
}
#step-settings-container #step-settings-inner input,
#step-settings-container #step-settings-inner select,
#step-settings-container #step-settings-inner textarea {
  max-width: 100% !important;
}
#step-settings-container #step-settings-inner .notice {
  margin: 0;
  border-radius: 5px;
  /*border-width: 2px;*/
  border-width: 0 0 0 5px;
}
#step-settings-container #step-settings-inner .step-settings {
  padding: 30px;
}
#step-settings-container #step-settings-inner .step-settings:not(:has(.step.editing)) {
  display: none;
}
#step-settings-container #step-settings-inner .step-settings .step:not(.editing) {
  display: none;
}
#step-settings-container #step-settings-inner .step-settings .step.editing .step-title-wrap ~ .custom-settings {
  border-top: 1px solid rgba(16, 38, 64, 0.15);
}
#step-settings-container #step-settings-inner .step-settings .step.editing .custom-settings .gh-rows-and-columns label {
  font-weight: 500;
}
#step-settings-container #step-settings-inner .step-settings .step.editing.action.apply_note .step-flex .step-edit .custom-settings {
  padding: 0;
}
#step-settings-container #step-settings-inner .step-settings .step.editing.action.apply_note .step-flex .step-edit .custom-settings .mce-panel {
  box-shadow: none;
  border-top: none;
}
#step-settings-container #step-settings-inner .step-settings .step.editing .step-warnings {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-bottom: 20px;
}
#step-settings-container #step-settings-inner .step-settings .step.editing .step-flex {
  display: flex;
  gap: 30px;
}
#step-settings-container #step-settings-inner .step-settings .step.editing .step-flex .step-notes {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 240px;
  flex-shrink: 0;
}
#step-settings-container #step-settings-inner .step-settings .step.editing .step-flex .step-notes .step-notes-textarea {
  width: 100%;
  background: rgba(16, 38, 64, 0.05);
  border-radius: 5px;
  font-weight: 400;
  border: none;
  padding: 12px;
}
#step-settings-container #step-settings-inner .step-settings .step.editing .step-flex .step-edit {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#step-settings-container #step-settings-inner .step-settings .step.editing .step-flex .step-edit .custom-settings {
  padding: 0 20px 10px 20px;
}
#step-settings-container #step-settings-inner .step-settings .step.editing .step-flex .step-edit .custom-settings hr {
  border: 0;
  border-top: 1px solid rgba(16, 38, 64, 0.15);
  border-bottom: none;
  margin: 0 -20px;
}
#step-settings-container #step-settings-inner .step-settings .step.editing .step-flex .step-edit table.wp-list-table {
  border-radius: 5px;
  overflow: hidden;
}
#step-settings-container #step-settings-inner .step-settings .step.editing .step-flex .step-edit table.wp-list-table:not(:last-child) {
  margin-bottom: 10px;
}
#step-settings-container #step-settings-inner .step-settings .step.editing .step-flex .step-edit table.wp-list-table:first-child {
  margin-top: 20px;
}
#step-settings-container #step-settings-inner .step-settings .step.editing .step-flex .step-edit table.wp-list-table.has-actions th:last-child {
  width: 70px;
}
#step-settings-container #step-settings-inner .step-settings .step.editing .step-flex .step-edit table.wp-list-table.has-actions td:last-child > div {
  display: none;
}
#step-settings-container #step-settings-inner .step-settings .step.editing .step-flex .step-edit table.wp-list-table.has-actions tbody tr:hover td:last-child > div {
  display: flex;
}

#wpcontent {
  margin-left: 0 !important;
}

.funnel-editor-header {
  z-index: 999;
  box-sizing: border-box;
  height: 60px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  padding-right: 10px;
  padding-left: 0;
}
.funnel-editor-header > svg {
  height: 60px;
  padding: 10px;
  box-sizing: border-box;
  flex-shrink: 0;
  background-color: #102640;
}
.funnel-editor-header #title {
  font-size: 20px;
  font-weight: 600;
  width: 100%;
}
.funnel-editor-header .actions {
  display: flex;
  gap: 10px;
  align-items: stretch;
}
.funnel-editor-header .status-options .save-button {
  gap: 7px;
  align-items: center;
  padding: 9px 18px;
  font-weight: 500;
}
.funnel-editor-header .title-section {
  width: 100%;
  overflow: hidden;
}
.funnel-editor-header #close #close-button {
  padding: 12px;
}
.step-title-view,
.title-view {
  line-height: 44px;
  font-size: 20px;
  font-weight: 400;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.step-title-view .title,
.title-view .title {
  font-weight: 600;
  line-height: 1em;
  cursor: pointer;
  white-space: nowrap;
}

.funnel-editor-header div {
  display: inline-block;
  vertical-align: top;
}

.funnel-editor-header div.hidden {
  display: none;
}

button.button.save-button {
  font-size: 18px;
  margin-left: 10px;
  font-weight: 600;
  position: relative;
  height: auto;
  padding: 2px 14px 2px 32px;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.save-button.spin .dashicons {
  animation: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* END NEW STUFF */
.form-buttons {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.form-buttons {
  margin: 0 0 5px 0;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 30px solid #ffffff;
  position: absolute;
}

.full-width {
  width: 100%;
}

.wpgh-element {
  /*height: 112px;*/
  text-align: center;
}

.step-icon img {
  margin: 0 auto 0 auto;
  width: 80%;
}
.step-icon img[src*=svg] {
  width: 100%;
}

.hndle label {
  margin: 0 10px 0 0;
}

.step-reporting .chart {
  background: #FFF;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  margin-bottom: 20px;
}

.step-reporting .chart .inside {
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
}

.ui-front.ui-autocomplete {
  z-index: 100100;
}

#step-flow {
  position: relative;
  flex-grow: 1;
}
#step-flow .fixed-inside {
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 20px 0 30px;
  box-sizing: border-box;
  position: absolute;
  overflow: auto;
  background-image: radial-gradient(circle at 1px 1px, rgba(16, 38, 64, 0.1) 1px, transparent 0);
  background-size: 20px 20px;
}
#step-flow .fixed-inside .logic-line {
  border-style: dashed;
  position: absolute;
  z-index: 1;
}
#step-flow .fixed-inside .step.if_else + .step-branches {
  position: relative;
}
#step-flow .fixed-inside .step.if_else + .step-branches::after {
  position: absolute;
  left: calc(50% + 1px);
  bottom: -42px;
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  box-sizing: border-box;
  border-style: solid;
  border-width: 7px;
  border-color: #e91f4f #e91f4f #9ece38 #9ece38;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: 3;
}
#step-flow .fixed-inside .step.if_else + .step-branches > .split-branch:first-child > .logic-line {
  border-color: #9ece38;
}
#step-flow .fixed-inside .step.if_else + .step-branches > .split-branch:first-child > .logic-line > .path-indicator {
  background-color: #9ece38;
}
#step-flow .fixed-inside .step.if_else + .step-branches > .split-branch:last-child > .logic-line {
  border-color: #e91f4f;
}
#step-flow .fixed-inside .step.if_else + .step-branches > .split-branch:last-child > .logic-line > .path-indicator {
  background-color: #e91f4f;
}
#step-flow .fixed-inside .step-branches {
  gap: 40px;
  margin: 30px 0;
}
#step-flow .fixed-inside .step-branches:has(> :nth-child(odd):last-child) {
  margin-top: 80px;
}
#step-flow .fixed-inside .step-branches .split-branch {
  position: relative;
}
#step-flow .fixed-inside .step-branches .split-branch > .logic-line {
  border-color: #6c19ad;
}
#step-flow .fixed-inside .step-branches .split-branch > .logic-line.line-below {
  border-color: #9ece38;
}
#step-flow .fixed-inside .step-branches .split-branch > .logic-line > span.path-indicator {
  font-size: 10px;
  color: #fff;
  background-color: #6c19ad;
  padding: 0 5px;
  border-radius: 3px;
  position: absolute;
  top: calc(40% - 1px);
  transform: translateX(-50%) translateY(-50%);
  white-space: nowrap;
  text-transform: uppercase;
}
#step-flow .fixed-inside .step-branches .split-branch > .logic-line.middle > span.path-indicator, #step-flow .fixed-inside .step-branches .split-branch > .logic-line.left > span.path-indicator {
  left: 0;
}
#step-flow .fixed-inside .step-branches .split-branch > .logic-line.right > span.path-indicator {
  left: 100%;
}
#step-flow .fixed-inside .step-branch {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin: auto;
  min-width: 300px;
  width: min-content;
}
#step-flow .fixed-inside .step-branch.benchmarks {
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  position: relative;
  padding-bottom: 30px;
}
#step-flow .fixed-inside .step-branch.benchmarks .benchmark.logic-line {
  border-color: #f58115;
}
#step-flow .fixed-inside .step-branch.benchmarks::after {
  position: absolute;
  left: calc(50% + 1px);
  bottom: -14px;
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  box-sizing: border-box;
  border-style: solid;
  border-width: 7px;
  border-color: #f58115 #f58115 #9ece38 #9ece38;
  transform: translate(-50%, -50%) rotate(-45deg);
  z-index: 3;
}
#step-flow .fixed-inside .step-branch .sortable-placeholder {
  width: 300px;
  height: 3px;
  border-radius: 3px;
  background-color: #0075ff;
  border: none;
  margin: 20px 0;
}
#step-flow .fixed-inside .step-branch#step-sortable {
  padding-top: 20px;
  padding-bottom: 40px;
}
#step-flow .fixed-inside .step-branch#step-sortable > .step-branch.benchmarks:first-child {
  margin-top: 100px;
}
#step-flow .fixed-inside .step-branch#step-sortable > .step-branch.benchmarks:first-child::before {
  content: "Start the funnel when...";
  position: absolute;
  padding: 3px 8px;
  color: white;
  border-radius: 5px;
  width: max-content;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f58115;
}
#step-flow .fixed-inside .step-branch:not(:has(.step)) {
  height: 60px;
}
#step-flow .fixed-inside .step-branch:not(:has(div))::after {
  width: 100%;
  height: 60px;
  background-color: rgba(16, 38, 64, 0.15);
  content: "Drag a step into the flow";
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
#step-flow button.add-step-button-flow {
  position: absolute;
  right: 36px;
  bottom: 36px;
  box-shadow: 5px 5px 30px 0 rgba(4, 45, 70, 0.05);
  background-color: #0075ff;
  color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  z-index: 99;
}
#step-flow button.add-step-button-flow:hover {
  background-color: rgba(0, 117, 255, 0.5);
}
#step-flow .wpgh-element {
  /*height: 112px;*/
  text-align: center;
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 5px;
  cursor: grabbing;
}
#step-flow .wpgh-element[data-group=action] {
  background-color: rgba(158, 206, 56, 0.5);
}
#step-flow .wpgh-element[data-group=benchmark] {
  background-color: rgba(245, 129, 21, 0.25);
}
#step-flow .wpgh-element[data-group=logic] {
  background-color: rgba(108, 25, 173, 0.25);
}
#step-flow .wpgh-element p {
  display: none;
}
#step-flow .sortable-item.logic + .step-branch.benchmarks,
#step-flow .step.action + .step-branch.benchmarks {
  margin-top: 40px;
}
#step-flow .sortable-item.logic + .step-branch.benchmarks::before,
#step-flow .step.action + .step-branch.benchmarks::before {
  content: "Jump/Continue when...";
  position: absolute;
  padding: 3px 8px;
  color: white;
  border-radius: 5px;
  width: max-content;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f58115;
}
#step-flow .benchmark-or {
  padding: 3px 8px;
  color: white;
  border-radius: 5px;
  width: max-content;
  background-color: #6c19ad;
}
#step-flow .step-branch.benchmarks + .step.action::after,
#step-flow .sortable-item.logic + .sortable-item.logic > .step.logic::after,
#step-flow .step.action + .logic > .step.logic::after,
#step-flow .step.action + .step.action::after {
  position: absolute;
  content: "";
  border-right: 2px dashed #9ece38;
  z-index: -1;
  top: -50px;
  height: 30px;
  left: 50%;
}
#step-flow .logic + .step.action::after {
  position: absolute;
  content: "";
  border-right: 2px dashed #9ece38;
  z-index: -1;
  top: -50px;
  height: 30px;
  left: 50%;
}
#step-flow .sortable-item.logic.editing > .step {
  outline-color: #6c19ad;
}
#step-flow .sortable-item.logic.editing > .step .hndle-icon {
  background-color: #6c19ad;
}
#step-flow .sortable-item.logic.editing > .step .hndle-icon svg {
  fill: #fff !important;
}
#step-flow .step {
  border-radius: 5px;
  box-shadow: 5px 5px 30px 0 rgba(4, 45, 70, 0.05);
  background: white;
  outline: 2px solid transparent;
  cursor: pointer;
  max-width: 320px;
  min-width: 200px;
  width: fit-content;
  z-index: 2;
  position: relative;
}
#step-flow .step:has(.step-label) {
  padding-bottom: 14px;
}
#step-flow .step.has-changes {
  outline: 2px dashed #ffee58;
}
#step-flow .step.active {
  background-color: #fff;
}
#step-flow .step.active.logic {
  background-image: repeating-linear-gradient(-45deg, rgba(108, 25, 173, 0.05), rgba(108, 25, 173, 0.05) 10px, #fff 10px, #fff 20px);
}
#step-flow .step.active.benchmark {
  background-image: repeating-linear-gradient(-45deg, rgba(245, 129, 21, 0.05), rgba(245, 129, 21, 0.05) 10px, #fff 10px, #fff 20px);
}
#step-flow .step.active.action {
  background-image: repeating-linear-gradient(-45deg, rgba(158, 206, 56, 0.05), rgba(158, 206, 56, 0.05) 10px, #fff 10px, #fff 20px);
}
#step-flow .step.active .delete-step {
  display: none;
}
#step-flow .step.logic {
  margin: auto;
}
#step-flow .step:hover .actions {
  visibility: visible;
}
#step-flow .step .actions {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-50%);
  display: flex;
  visibility: hidden;
  background-color: #ffffff;
  border-radius: 5px;
  z-index: 99;
}
#step-flow .step .actions button.gh-button {
  padding: 5px;
  font-size: 16px;
}
#step-flow .step .actions button.gh-button .dashicons {
  font-size: 16px;
  height: 16px;
  width: 16px;
}
#step-flow .step .step-labels {
  position: absolute;
  right: 3px;
  bottom: 3px;
  gap: 3px;
  z-index: 2;
}
#step-flow .step .step-labels .step-label {
  font-size: 10px;
  padding: 1px 6px;
  color: white;
  border-radius: 3px;
  width: max-content;
  background-color: #102640;
}
#step-flow .step .step-labels .step-label.logic-tag {
  background-color: #6c19ad !important;
}
#step-flow .step .step-labels .step-label.danger {
  background-color: #e91f4f !important;
}
#step-flow .step .step-labels .step-label.green {
  background-color: #9ece38;
}
#step-flow .step.step-placeholder {
  justify-content: center;
  padding: 20px 40px;
  width: min-content;
}
#step-flow .step.has-errors.editing {
  outline-color: #ffee58 !important;
}
#step-flow .step > .hndle .hndle-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  transform: translateX(-50%) translateY(-55%);
  left: 50%;
  top: 0;
  z-index: 2;
}
#step-flow .step > .hndle .hndle-icon svg {
  width: 100%;
  height: 100%;
}
#step-flow .step > .hndle > div:not(.hndle-icon) {
  display: flex;
  flex-direction: column;
  padding: 20px 10px 10px 10px;
}
#step-flow .step > .hndle > div:not(.hndle-icon) span.step-title {
  font-size: 14px;
  text-align: center;
}
#step-flow .step > .hndle > div:not(.hndle-icon) span.step-title code {
  border-radius: 4px;
  padding: 1px 3px;
}
#step-flow .step > .hndle > div:not(.hndle-icon) span.step-name {
  /*margin-left:6px;*/
  font-size: 8px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}
#step-flow .step.benchmark .hndle-icon {
  border-radius: 5px;
  background-color: #FCDFC4;
  border: 2px solid #f58115;
  box-sizing: border-box;
}
#step-flow .step.benchmark .hndle-icon svg {
  fill: #000;
}
#step-flow .step.benchmark span.step-name {
  color: #f58115;
}
#step-flow .step.benchmark.editing {
  outline-color: #f58115;
}
#step-flow .step.benchmark.editing .hndle-icon {
  background-color: #f58115;
}
#step-flow .step.benchmark.editing .hndle-icon svg {
  fill: #fff;
}
#step-flow .step.benchmark .step-labels .step-label {
  background-color: #f58115;
}
#step-flow .step.action .hndle-icon {
  border-radius: 50px;
  background-color: #E7F3CD;
  border: 2px solid #9ece38;
  box-sizing: border-box;
}
#step-flow .step.action .hndle-icon svg {
  fill: #000;
}
#step-flow .step.action.delay_timer, #step-flow .step.action.date_timer, #step-flow .step.action.field_timer, #step-flow .step.action.advanced_timer, #step-flow .step.action.delay_timer {
  max-width: 280px;
  border-radius: 10px;
}
#step-flow .step.action.delay_timer .step-title, #step-flow .step.action.date_timer .step-title, #step-flow .step.action.field_timer .step-title, #step-flow .step.action.advanced_timer .step-title, #step-flow .step.action.delay_timer .step-title {
  font-size: 13px !important;
}
#step-flow .step.action span.step-name {
  color: #9ece38;
}
#step-flow .step.action.editing {
  outline-color: #9ece38;
}
#step-flow .step.action.editing .hndle-icon {
  background-color: #9ece38;
}
#step-flow .step.action.editing .hndle-icon svg {
  fill: #fff;
}
#step-flow .step.logic {
  padding-top: 10px;
}
#step-flow .step.logic .hndle-icon {
  border-radius: 2px;
  border: 2px solid #6c19ad;
  background-color: #e3c4fc;
  box-sizing: border-box;
  transform-origin: center;
  transform: translateX(-50%) translateY(-55%) rotate(45deg);
}
#step-flow .step.logic .hndle-icon svg {
  fill: #000;
  transform: rotate(-45deg);
}
#step-flow .step.logic span.step-name {
  color: #6c19ad;
}

#funnel-chart {
  background: #FFF;
  padding: 20px;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.hndle input {
  background: none;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid rgba(85, 93, 102, 0.23);
  vertical-align: top;
}

table.embed-options td {
  padding: 0 !important;
}

.step-title-wrap {
  padding: 8px 10px 8px 70px;
  height: 60px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.step-title-wrap .step-icon {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  vertical-align: middle;
  border-right: 1px solid rgba(16, 38, 64, 0.15);
  box-sizing: border-box;
}
.step-title-wrap .step-title-edit {
  width: 100%;
}
.step-title-wrap .step-title-large {
  font-size: 20px;
  box-shadow: none;
  font-weight: 600;
}

.back-to-admin {
  position: fixed;
  display: inline-block;
  left: 5px;
  bottom: 5px;
}

.step .handlediv {
  float: right;
  background: none;
  color: #5c5c5c;
  opacity: 0.6;
  border: none;
  cursor: pointer;
  padding: 8px 4px;
}

.step .handlediv:hover {
  opacity: 0.9;
}

.row-actions {
  margin: 3px 0 0 3px;
}

.row-actions a {
  text-decoration: none;
}

.add-contact-form {
  width: 100%;
  margin-top: 30px;
}

.add-contact-form td {
  padding-bottom: 30px;
}

.form-table th {
  width: 160px;
}

#add-step-bottom {
  font-size: 16px;
  height: auto;
  margin: 0 0 6px;
  padding: 8px 14px;
}

#add-step-bottom .dashicons {
  /*vertical-align: middle;*/
  font-size: 22px;
  vertical-align: middle;
  margin-right: 10px;
}

#groundhogg-notices {
  position: fixed;
  width: 400px;
  right: 20px;
  bottom: 20px;
  z-index: 99999999;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#groundhogg-notices .notice {
  border-radius: 5px;
  /*border-width: 2px;*/
  border-width: 0 0 0 5px;
}

.step-error {
  font-size: 24px;
}

.demo-video {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 40px auto;
  /*margin-top: 250px;*/
  max-width: 722px;
  display: block;
}

.demo-video img {
  vertical-align: middle;
}

.actions-links-arrow {
  position: absolute;
  top: 0;
  right: 0;
}

.select-a-step-arrow {
  position: absolute;
  top: 0;
  left: 0;
}

.benchmark.web_form .after-submit .success-message {
  display: none;
}
.benchmark.web_form .after-submit .success-redirect {
  display: block;
}
.benchmark.web_form .after-submit.ajax-enabled .success-message {
  display: block;
}
.benchmark.web_form .after-submit.ajax-enabled .success-redirect {
  display: none;
}

.form-style {
  margin-top: 30px;
}

.form-builder-main {
  margin-bottom: 30px;
  display: flex;
  gap: 20px;
}
.form-builder-main .fields-editor,
.form-builder-main .form-preview-wrap {
  margin-top: 0 !important;
  width: 100%;
}
.form-builder-main .fields-editor *,
.form-builder-main .form-preview-wrap * {
  box-sizing: border-box;
}
.form-builder-main .fields-editor {
  max-width: 400px;
  width: 50%;
  flex-shrink: 0;
}
.form-builder-main .fields-editor .add-field {
  width: 100%;
  margin-top: 10px;
}
.form-builder-main .fields-editor .special-fields {
  margin-top: 20px;
}
.form-builder-main .fields-editor .form-fields, .form-builder-main .fields-editor .special-fields {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-builder-main .fields-editor .form-fields .field-placeholder, .form-builder-main .fields-editor .special-fields .field-placeholder {
  background: #0001;
  border-radius: 5px;
}
.form-builder-main .fields-editor .form-fields .form-field, .form-builder-main .fields-editor .special-fields .form-field {
  background: #FFFFFF;
  border-radius: 3px;
  border: 1px solid rgba(16, 38, 64, 0.15);
  overflow: hidden;
  cursor: pointer;
}
.form-builder-main .fields-editor .form-fields .form-field .settings, .form-builder-main .fields-editor .special-fields .form-field .settings {
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-builder-main .fields-editor .form-fields .form-field .settings .row, .form-builder-main .fields-editor .special-fields .form-field .settings .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-builder-main .fields-editor .form-fields .form-field .settings .row > label, .form-builder-main .fields-editor .special-fields .form-field .settings .row > label {
  flex-basis: 150px;
}
.form-builder-main .fields-editor .form-fields .form-field .settings .row > .setting, .form-builder-main .fields-editor .special-fields .form-field .settings .row > .setting {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.form-builder-main .fields-editor .form-fields .form-field .settings .row > .setting input, .form-builder-main .fields-editor .special-fields .form-field .settings .row > .setting input {
  width: 100%;
}
.form-builder-main .fields-editor .form-fields .form-field .settings .row .input-wrap, .form-builder-main .fields-editor .special-fields .form-field .settings .row .input-wrap {
  width: 100%;
}
.form-builder-main .fields-editor .form-fields .form-field .settings .row:not(:last-child), .form-builder-main .fields-editor .special-fields .form-field .settings .row:not(:last-child) {
  margin-bottom: 5px;
}
.form-builder-main .fields-editor .form-fields .form-field .settings-tabs, .form-builder-main .fields-editor .special-fields .form-field .settings-tabs {
  /*display: flex;*/
  /*justify-content: center;*/
  border-top: 1px solid rgba(16, 38, 64, 0.15);
  border-bottom: 1px solid rgba(16, 38, 64, 0.15);
  padding: 10px 10px 0 10px;
}
.form-builder-main .fields-editor .form-fields .form-field .settings-tabs a.settings-tab, .form-builder-main .fields-editor .special-fields .form-field .settings-tabs a.settings-tab {
  color: #2c3338;
}
.form-builder-main .fields-editor .form-fields .form-field .settings-tabs .settings-tab, .form-builder-main .fields-editor .special-fields .form-field .settings-tabs .settings-tab {
  border-width: 1px 1px 0 1px;
  border-color: rgba(16, 38, 64, 0.15);
  border-style: solid;
  display: inline-block;
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  border-radius: 3px 3px 0 0;
  margin: 0 2px;
  font-size: 13px;
  padding: 4px 8px 2px 8px;
  /*height: ?22px;*/
  text-align: center;
  background: #f9f9f9;
  cursor: pointer;
}
.form-builder-main .fields-editor .form-fields .form-field .settings-tabs .settings-tab.editing, .form-builder-main .fields-editor .special-fields .form-field .settings-tabs .settings-tab.editing {
  font-weight: 500;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
  background: #FFFFFF;
}
.form-builder-main .fields-editor .form-fields .form-field .field-header, .form-builder-main .fields-editor .special-fields .form-field .field-header {
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.form-builder-main .fields-editor .form-fields .form-field .field-header .field-type, .form-builder-main .fields-editor .special-fields .form-field .field-header .field-type {
  font-size: 8px;
  opacity: 0.7;
  text-transform: uppercase;
  font-weight: 500;
}
.form-builder-main .fields-editor .form-fields .form-field .field-header .field-label, .form-builder-main .fields-editor .special-fields .form-field .field-header .field-label {
  font-size: 13px;
  line-height: 1.1;
  margin-top: 7px;
  margin-right: 7px;
}
.form-builder-main .fields-editor .form-fields .form-field .field-header .actions, .form-builder-main .fields-editor .special-fields .form-field .field-header .actions {
  display: flex;
  align-items: stretch;
}
.form-builder-main .fields-editor .form-fields .form-field .field-header .actions button, .form-builder-main .fields-editor .special-fields .form-field .field-header .actions button {
  background: #FFFFFF;
  width: 40px;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: 1px solid rgba(16, 38, 64, 0.15);
  cursor: pointer;
}
.form-builder-main .fields-editor .form-fields .form-field .field-header .actions button:hover, .form-builder-main .fields-editor .special-fields .form-field .field-header .actions button:hover {
  background: #f1f1f1;
}

.inline-tag-picker {
  position: relative;
  border: 1px solid #8c8f94;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 5px;
  cursor: pointer;
}
.inline-tag-picker .gh-panel {
  display: none;
}
.inline-tag-picker.show .gh-panel {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FFFFFF;
  padding: 5px;
}
.inline-tag-picker svg {
  height: 20px;
  width: 20px;
}

.change-email {
  align-items: center;
}

/*# sourceMappingURL=funnel-editor.css.map */
