#add-funnel * {
  box-sizing: border-box;
}
#add-funnel #header {
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 30px 0 rgba(24, 45, 70, 0.05);
  align-items: center;
  padding: 0 20px;
  background: #FFFFFF;
}
#add-funnel #funnel-import,
#add-funnel #funnel-title-input {
  padding: 40px;
}
#add-funnel #funnel-import h1,
#add-funnel #funnel-title-input h1 {
  text-align: center;
  font-weight: 200;
  margin-bottom: 40px;
}
#add-funnel #funnel-import #import-file,
#add-funnel #funnel-title-input #import-file {
  padding: 40px;
  border: 2px dashed rgba(16, 38, 64, 0.15);
  background: #FFFFFF;
  box-shadow: 5px 5px 30px 0 rgba(24, 45, 70, 0.05);
  border-radius: 5px;
  margin: auto;
  display: block;
}
#add-funnel #funnel-import p.error,
#add-funnel #funnel-title-input p.error {
  color: #e91f4f;
  text-align: center;
}
#add-funnel #funnel-import #title,
#add-funnel #funnel-title-input #title {
  font-size: 26px;
  width: 100%;
  text-align: center;
  border-radius: 0;
  border-width: 0 0 1px 0;
  box-shadow: none;
}
#add-funnel #funnel-import .submit,
#add-funnel #funnel-title-input .submit {
  text-align: center;
}
#add-funnel #funnel-import > p,
#add-funnel #funnel-title-input > p {
  text-align: center;
}
#add-funnel #funnel-import a.cancel,
#add-funnel #funnel-title-input a.cancel {
  font-size: 16px;
  cursor: pointer;
}
#add-funnel #templates {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
#add-funnel #templates .row {
  display: flex;
  gap: 20px;
}
#add-funnel #templates .row > * {
  width: 100%;
}
#add-funnel #templates .row .template button:not(:focus) {
  visibility: hidden;
}
#add-funnel #templates .row .template.enabled:focus, #add-funnel #templates .row .template.enabled:hover {
  box-shadow: 5px 5px 30px 0 rgba(24, 45, 70, 0.15);
}
#add-funnel #templates .row .template.enabled:focus button, #add-funnel #templates .row .template.enabled:hover button {
  visibility: visible;
}
#add-funnel #templates .row .template.disabled {
  opacity: 0.8;
}
#add-funnel #templates .row .template .inside {
  padding-top: 0;
}
#add-funnel #templates .row .template .template-header {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#funnel-editor {
  /* Control panel */
  /* context menu */
}
#funnel-editor .editor {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);
  position: relative;
}
#funnel-editor .editor-header {
  padding: 8px 12px;
  background-color: #FFFFFF;
  box-shadow: 5px 5px 30px 0 rgba(24, 45, 70, 0.05);
  min-height: 50px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 32px;
  z-index: 999;
}
#funnel-editor .editor-header .header-stuff {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
#funnel-editor .editor-header .undo-and-redo,
#funnel-editor .editor-header .publish-actions,
#funnel-editor .editor-header .header-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
#funnel-editor .undo-and-redo .undo,
#funnel-editor .undo-and-redo .redo {
  cursor: pointer;
  opacity: 0.6;
}
#funnel-editor .undo-and-redo .undo:hover,
#funnel-editor .undo-and-redo .redo:hover {
  opacity: 0.8;
}
#funnel-editor .title-wrap .above-title {
  color: #102640;
  opacity: 0.6;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 9px;
  text-transform: uppercase;
}
#funnel-editor .title-wrap .title {
  position: relative;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
}
#funnel-editor .title-wrap input.funnel-title-edit {
  border-bottom: 1px solid;
}
#funnel-editor .title-wrap input.funnel-title-edit:focus {
  outline: none;
  box-shadow: none;
}
#funnel-editor .title-wrap .pencil {
  position: absolute;
  margin-left: 10px;
  bottom: 0;
  opacity: 0.3;
  color: #102640;
}
#funnel-editor .title-wrap .title:hover .pencil {
  opacity: 0.5;
}
#funnel-editor .flow-and-edit {
  display: flex;
  flex-grow: 1;
  min-height: 400px;
}
#funnel-editor .step-flow {
  display: flex;
  flex-direction: column;
  width: 300px;
  flex-shrink: 0;
  position: relative;
}
#funnel-editor .step-flow:after {
  background: #FFFFFF;
  border-radius: 5px;
  bottom: 0px;
  clip-path: polygon(0 0, 100% 0, 60% 100%, 40% 100%);
  content: "";
  display: block;
  left: calc(50% - 100px);
  margin: auto;
  position: absolute;
  top: 20px;
  width: 200px;
}
#funnel-editor .step-flow .steps {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 12px;
  position: relative;
  z-index: 99;
  min-height: 100px;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
#funnel-editor .step-flow .steps .action {
  margin: 0 15px;
}
#funnel-editor .step-flow .steps .step:last-child {
  margin-bottom: 100px;
}
#funnel-editor .step-flow .add-new-step-wrapper {
  background: #F6F9FB;
  bottom: 0;
  margin-top: auto;
  padding: 10px 0;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  text-align: center;
  z-index: 100;
}
#funnel-editor .step-flow .add-new-step-wrapper:before {
  background: linear-gradient(0deg, #F6F9FB 0%, #F6F9FB00 100%);
  bottom: 100%;
  content: "";
  display: block;
  height: 2rem;
  left: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
}
#funnel-editor .flow-label {
  margin: 30px auto 0;
  position: relative;
  z-index: 99;
  text-align: center;
  font-weight: 500;
}
#funnel-editor .flow-and-edit #control-panel,
#funnel-editor .flow-and-edit .step-edit,
#funnel-editor .flow-and-edit .step-errors,
#funnel-editor .flow-and-edit .step-add {
  width: 100%;
}
#funnel-editor .step-errors {
  padding: 0 20px;
  box-sizing: border-box;
}
#funnel-editor li.step-error {
  padding: 5px 10px;
  background: #e91f4f;
  color: #FFFFFF;
  border-radius: 5px;
}
#funnel-editor .step-edit {
  box-sizing: border-box;
  display: flex;
  padding: 20px;
  gap: 20px;
}
#funnel-editor .step-edit .settings {
  width: 100%;
}
#funnel-editor .step-edit .actions-and-notes {
  width: 250px;
  flex-shrink: 0;
}
#funnel-editor #dynamic-step-settings .gh-loader {
  display: block;
  margin: 50px auto;
  font-size: 15px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
#funnel-editor .step-flow .step-placeholder,
#funnel-editor .step-flow .steps .step {
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  border: 1px solid rgba(16, 38, 64, 0.15);
  /*box-shadow: 5px 5px 30px rgba(24, 45, 70, 0.05);*/
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  min-height: 52px;
  cursor: pointer;
}
#funnel-editor .step-flow .steps .step.has-errors {
  border: 1px solid #e91f4f;
}
#funnel-editor .step-flow .steps .step.has-errors .step-type {
  color: #e91f4f;
}
#funnel-editor .step-flow .text-helper {
  text-align: center;
}
#funnel-editor .step-flow .until-helper,
#funnel-editor .step-flow .then-helper,
#funnel-editor .step-flow .or-helper {
  background: #6c19ad;
  color: #FFFFFF;
  display: inline-block;
  padding: 2px 8px;
  margin: -20px auto;
  position: relative;
  border-radius: 5px;
  z-index: 999;
}
#funnel-editor .step-flow .then-helper {
  background: #9ece38;
  margin: auto auto;
}
#funnel-editor .step-flow .until-helper {
  background: #f58115;
  margin: auto auto;
}
#funnel-editor .step-flow .step-placeholder {
  border-style: none;
  opacity: 0.1;
  background: #000;
  margin: auto;
}
#funnel-editor .step-flow .step .icon {
  display: flex;
  align-items: center;
  margin-right: 8px;
  width: 32px;
  height: 32px;
}
#funnel-editor .step {
  position: relative;
}
#funnel-editor .step-flow .step .icon-svg svg {
  margin-right: 10px;
  width: 32px;
  height: 32px;
}
#funnel-editor .add-step.benchmark .step-icon-svg svg,
#funnel-editor .step.benchmark .icon-svg svg,
#funnel-editor .step.benchmark .icon .dashicons {
  color: #f58115;
}
#funnel-editor .add-step.action .step-icon-svg svg,
#funnel-editor .step.action .icon-svg svg,
#funnel-editor .step.action .icon .dashicons {
  color: #9ece38;
}
#funnel-editor .step.benchmark .details .step-type {
  color: #f58115;
}
#funnel-editor .step.action .details .step-type {
  color: #9ece38;
}
#funnel-editor .step.benchmark.active {
  border-color: #f58115;
}
#funnel-editor .step.action.active {
  border-color: #9ece38;
}
#funnel-editor .step-flow .steps .step.active {
  border-width: 2px;
  padding: 9px;
}
#funnel-editor .step-status:before {
  color: white;
  font-size: 8px;
  position: absolute;
  right: -5px;
  text-transform: uppercase;
  transform: rotate(15deg);
  top: -5px;
  line-height: 1;
  padding: 3px;
  border-radius: 3px;
}
#funnel-editor .step-status.config-error:before {
  background: #e91f4f;
  content: "Error";
}
#funnel-editor .step-status.new:before {
  background: #9ece38;
  content: "New";
}
#funnel-editor .step-status.edited:before {
  background: #0075ff;
  content: "Edited";
}
#funnel-editor .step:hover .step-menu {
  display: flex;
}
#funnel-editor .step-menu {
  align-items: center;
  display: none;
  justify-content: center;
  position: absolute;
  height: 100%;
  top: 0rem;
  right: 0rem;
  width: 2rem;
}
#funnel-editor .step-menu svg {
  fill: #0005;
}
#funnel-editor .step-menu ul {
  background: #FFF;
  border: 1px solid #0002;
  border-radius: 3px;
  box-shadow: 2px 2px 3px 0 #0001;
  display: none;
  right: 0;
  list-style: none;
  margin: 0;
  position: absolute;
  top: 90%;
  z-index: 1000;
}
#funnel-editor .step-menu ul li {
  margin: 0;
  padding: 0.236rem 0.382rem;
  white-space: nowrap;
}
#funnel-editor .step-menu ul li:hover {
  background: #0001;
}
#funnel-editor .step .details {
  width: 165px;
}
#funnel-editor .step .details .step-title {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
}
#funnel-editor .step .details .step-type {
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  text-transform: uppercase;
}
#funnel-editor .type-select {
  display: flex;
  justify-content: center;
  padding: 20px;
}
#funnel-editor .type-select button {
  background: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 5px 5px 30px rgba(24, 45, 70, 0.05);
  padding: 8px 12px;
  cursor: pointer;
  border: 2px solid #FFFFFF;
}
#funnel-editor .type-select button:first-child {
  border-radius: 5px 0 0 5px;
}
#funnel-editor .type-select button:last-child {
  border-radius: 0 5px 5px 0;
}
#funnel-editor .type-select button.actions.active {
  border: 2px solid #9ece38;
}
#funnel-editor .type-select button.benchmarks.active {
  border: 2px solid #f58115;
}
#funnel-editor .step-add .types {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px 0 0 20px;
}
#funnel-editor .step-flow .add-step,
#funnel-editor .step-add .types .add-step {
  width: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#funnel-editor .step-flow .add-step .step-icon,
#funnel-editor .step-add .types .add-step .step-icon {
  background: #FFFFFF;
  box-shadow: 5px 5px 30px rgba(24, 45, 70, 0.05);
  border-radius: 7px;
  padding: 5px;
  width: 50px;
}
#funnel-editor .step-flow .add-step .step-icon-svg,
#funnel-editor .step-add .types .add-step .step-icon-svg {
  background: #FFFFFF;
  box-shadow: 5px 5px 30px rgba(24, 45, 70, 0.05);
  border-radius: 7px;
  padding: 10px;
  /*width: 50px;*/
}
#funnel-editor .step-flow .add-step .step-icon-svg svg,
#funnel-editor .step-add .types .add-step .step-icon-svg svg {
  vertical-align: middle;
  height: 40px;
  width: 40px;
}
#funnel-editor .add-step p {
  text-align: center;
}
#funnel-editor #control-panel .step-add,
#funnel-editor #control-panel .step-edit {
  position: sticky;
  top: 100px;
}
#funnel-editor #control-panel .panel {
  background: #FFFFFF;
  box-shadow: 5px 5px 30px rgba(24, 45, 70, 0.05);
  padding: 20px;
  /*margin: 20px;*/
  border-radius: 5px;
}
#funnel-editor #control-panel .panel:not(:first-child) {
  margin-top: 20px;
}
#funnel-editor #control-panel label.row-label {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
}
#funnel-editor #control-panel .row:not(:last-child) {
  margin-bottom: 20px;
}
#funnel-editor .step-context-menu {
  display: none;
  position: fixed;
  z-index: 999;
  padding: 12px 0;
  width: 120px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
}
#funnel-editor .step-context-menu--active {
  display: block;
}
#funnel-editor .step-context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}
#funnel-editor .step-context-menu__item {
  display: block;
  margin-bottom: 4px;
}
#funnel-editor .step-context-menu__item:last-child {
  margin-bottom: 0;
}
#funnel-editor .step-context-menu__link {
  display: block;
  padding: 4px 12px;
  color: #0066aa;
  text-decoration: none;
  cursor: pointer;
}
#funnel-editor .step-context-menu__link:hover {
  color: #fff;
  background-color: #0066aa;
}
#funnel-editor .input-wrap {
  display: flex;
  justify-content: flex-start;
}
#funnel-editor .input-wrap > *:last-child {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  border-left: none !important;
}
#funnel-editor .input-wrap > *:nth-child(2):not(:last-child) {
  border-left: none !important;
}
#funnel-editor .input-wrap.input-with-emojis input,
#funnel-editor .input-wrap.input-with-replacements input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
}
#funnel-editor .input-wrap.input-with-emojis button.emoji-picker-start,
#funnel-editor .input-wrap.input-with-replacements button.replacements-picker-start {
  box-shadow: 0 0 0 transparent;
  border-radius: 0;
  border: 1px solid #8c8f94;
  background-color: #fff;
  color: #2c3338;
  cursor: pointer;
}
#funnel-editor .input-wrap.input-with-emojis button.emoji-picker-start:hover,
#funnel-editor .input-wrap.input-with-replacements button.replacements-picker-start:hover {
  background-color: #F6F9FB;
}
#funnel-editor .input-wrap select + input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#funnel-editor .input-wrap input, #funnel-editor .input-wrap select {
  margin: 0;
}
#funnel-editor .input-wrap select:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#funnel-editor .tabs {
  /*display: flex;*/
  /*justify-content: center;*/
  border-bottom: 1px solid rgba(16, 38, 64, 0.15);
  padding: 5px 10px 0 10px;
}
#funnel-editor .tabs .tab {
  border-width: 1px 1px 0 1px;
  border-color: rgba(16, 38, 64, 0.15);
  border-style: solid;
  display: inline-block;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  border-radius: 3px 3px 0 0;
  margin: 0 2px;
  font-size: 16px;
  padding: 6px 12px 6px 12px;
  text-align: center;
  background: #F6F9FB;
  cursor: pointer;
}
#funnel-editor .tabs .tab a {
  color: #2c3338;
}
#funnel-editor .tabs .tab.active {
  font-weight: 500;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
  background: #FFFFFF;
}
#funnel-editor .publish-actions button {
  border: none;
  color: #FFFFFF;
  border-radius: 5px;
  display: flex;
  gap: 20px;
  padding: 6px 10px;
  font-size: 16px;
  font-weight: 400;
  align-items: center;
}
#funnel-editor .publish-actions button.update-and-launch {
  background: #9ece38;
}
#funnel-editor .publish-actions button.update-and-launch svg {
  width: 25px;
  height: 25px;
}
#funnel-editor .publish-actions button.update-and-launch:hover {
  background: #80a92a;
}
#funnel-editor .publish-actions button.update {
  background: #0075ff;
}
#funnel-editor .publish-actions button.update:hover {
  background: #005ecc;
}
#funnel-editor .publish-actions button.update svg {
  color: #FFFFFF;
  height: 20px;
  width: 20px;
}
#funnel-editor .publish-actions button.deactivate {
  background: #e91f4f;
}
#funnel-editor .publish-actions button.deactivate:hover {
  background: #c2133d;
}
#funnel-editor .publish-actions button.deactivate svg {
  width: 15px;
  height: 15px;
}
#funnel-editor #email-options.panel label.row-label {
  margin-bottom: 2px;
}
#funnel-editor #email-options.panel .row:not(:last-child) {
  margin-bottom: 10px;
}
#funnel-editor #email-options.panel .email-actions {
  display: flex;
  gap: 5px;
}
#funnel-editor #email-options.panel .email-actions .send-test-email {
  flex-grow: 1;
}
#funnel-editor #email-options.panel input, #funnel-editor #email-options.panel select {
  width: 100%;
}
#funnel-editor #email-options.panel #alignment-and-message-type,
#funnel-editor #email-options.panel #alignment {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}
#funnel-editor #email-editor .inline-label {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid rgba(16, 38, 64, 0.15);
  align-items: center;
  padding-bottom: 5px;
}
#funnel-editor #email-editor .inline-label label {
  font-weight: 500;
  font-size: 18px;
}
#funnel-editor #email-editor .inline-label .input-wrap {
  width: 100%;
}
#funnel-editor #email-editor .inline-label .input-wrap button {
  background: none;
  border: none;
  opacity: 0.5;
}
#funnel-editor #email-editor .inline-label .input-wrap button:hover, #funnel-editor #email-editor .inline-label .input-wrap button:focus {
  opacity: 1;
}
#funnel-editor #email-editor .inline-label .input-wrap input {
  width: 100%;
  box-shadow: none;
  border: none;
  font-size: 18px;
  outline: 0;
  padding: 0;
}
#funnel-editor #advanced-email-options .button-end {
  display: flex;
  justify-content: flex-end;
}
#funnel-editor #advanced-email-options .button-end > button {
  box-shadow: 0 0 0 transparent;
  border-radius: 0;
  border: solid #8c8f94;
  border-width: 0 1px 1px 1px;
  background-color: #fff;
  color: #2c3338;
  cursor: pointer;
  padding: 6.5px;
}
#funnel-editor #advanced-email-options .button-end > button .dashicons {
  font-size: 17px;
  height: 17px;
  width: 17px;
}
#funnel-editor #advanced-email-options .key-value-row {
  display: flex;
}
#funnel-editor #advanced-email-options .key-value-row:not(:first-of-type) input, #funnel-editor #advanced-email-options .key-value-row:not(:first-of-type) button {
  border-top: none !important;
}
#funnel-editor #advanced-email-options .key-value-row > input:first-child {
  border-right: none;
}
#funnel-editor #advanced-email-options .key-value-row input {
  flex-grow: 1;
  background: #f9f9f9;
}
#funnel-editor #advanced-email-options .key-value-row input:focus {
  background: #FFFFFF;
}
#funnel-editor #advanced-email-options .key-value-row .input-wrap {
  flex-grow: 2;
}
#funnel-editor #advanced-email-options .key-value-row input[type=text], #funnel-editor #advanced-email-options .key-value-row button {
  border-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  margin: 0;
}
#funnel-editor #advanced-email-options .key-value-row > button {
  box-shadow: 0 0 0 transparent;
  border-radius: 0;
  border: solid #8c8f94;
  border-width: 1px 1px 1px 0;
  background-color: #fff;
  color: #2c3338;
  cursor: pointer;
  padding: 5px;
}
#funnel-editor #advanced-email-options .key-value-row > button:hover {
  opacity: 1;
}
#funnel-editor #email-creation-choices {
  display: flex;
  justify-content: center;
  gap: 20px;
}
#funnel-editor #email-creation-choices .panel {
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
#funnel-editor #email-creation-choices .panel svg {
  height: 50px;
  width: 50px;
  color: #0075ff;
}
#funnel-editor #email-creation-choices .panel p {
  text-align: center;
  font-weight: 500;
}
#funnel-editor #email-creation-choices .panel:hover svg {
  color: #005ecc;
}

/*# sourceMappingURL=funnel-editor-v4.css.map */
