$primary-blue: #0075FF;
$primary-dark: #102640;
$error-red: #E91F4F;
$secondary-purple: #6C19AD;
$alert-yellow: #FFEE58;
$benchmark-orange: #F58115;
$action-green: #9ECE38;
$box-shadow: 5px 5px 30px 0 rgba(24, 45, 70, 0.05);

.wp-core-ui select {
  vertical-align: initial;
}

button{
  cursor: pointer;
}

#wpcontent {
  background-color: #F6F9FB;
  padding-left: 0;
}

.editor {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);
  //padding-right: 20px;
  position: relative;
}

.editor-header {
  padding: 8px 12px;
  background-color: #FFFFFF;
  box-shadow: $box-shadow;
  min-height: 50px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 32px;
  z-index: 999;

  .header-stuff {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }

  .undo-and-redo,
  .publish-actions,
  .header-actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
  }
}

.undo-and-redo .undo,
.undo-and-redo .redo {
  cursor: pointer;
  opacity: 0.6;
}

.undo-and-redo .undo:hover,
.undo-and-redo .redo:hover {
  opacity: 0.8;
}


.title-wrap {
  .above-title {
    color:$primary-dark;
    opacity: 0.6;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 9px;
    text-transform: uppercase;
  }

  .title {
    position: relative;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
  }

  input.funnel-title-edit {
    border-bottom: 1px solid;
  }

  input.funnel-title-edit:focus {
    outline: none;
    box-shadow: none;
  }

  .pencil {
    position: absolute;
    margin-left: 10px;
    bottom: 0;
    opacity: 0.3;
    color:$primary-dark;
  }

  .title:hover .pencil {
    opacity: 0.5;
  }
}

.flow-and-edit {
  display: flex;
  flex-grow: 1;
  min-height: 400px;

}

.step-flow {
  display: flex;
  flex-direction: column;
  width: 300px;
  flex-shrink: 0;
  position: relative;

  &:after {
    background: #FFFFFF;
    border-radius: 5px;
    bottom: 0px;
    clip-path: polygon(0 0, 100% 0, 60% 100%, 40% 100%);
    content: '';
    display: block;
    left: calc(50% - 100px);
    margin: auto;
    position: absolute;
    top: 20px;
    width: 200px;
  }

  .steps {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 12px;
    position: relative;
    z-index: 99;
    min-height: 100px;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
  }

  .add-new-step-wrapper {
    background: #F6F9FB;
    bottom: 0;
    margin-top: auto;
    padding: 10px 0;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    text-align: center;
    z-index: 100;

    &:before {
      background: linear-gradient(0deg, #F6F9FB 0%, #F6F9FB00 100%);
      bottom: 100%;
      content: "";
      display: block;
      height: 2rem;
      left: 0;
      pointer-events: none;
      position: absolute;
      width: 100%;
    }
  }
}

.flow-label {
  margin: 30px auto 0;
  position: relative;
  z-index: 99;
  text-align: center;
  font-weight: 500;
}


.flow-and-edit #control-panel,
.flow-and-edit .step-edit,
.flow-and-edit .step-errors,
.flow-and-edit .step-add {
  width: 100%;
}

.step-errors {
  padding: 0 20px;
  box-sizing: border-box;
}

li.step-error {
  padding: 5px 10px;
  background: $error-red;
  color: #FFFFFF;
  border-radius: 5px;
}

.step-edit {
  box-sizing: border-box;
  display: flex;
  padding: 20px;
  gap: 20px;
}

.step-edit .settings {
  width: 100%;
}

.step-edit .actions-and-notes {
  width: 250px;
  flex-shrink: 0;
}

#dynamic-step-settings .gh-loader {
  display: block;
  margin: 50px auto;
  font-size: 15px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.step-flow .step-placeholder,
.step-flow .steps .step {
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  border: 1px solid rgba(16, 38, 64, 0.15);
  /*box-shadow: 5px 5px 30px rgba(24, 45, 70, 0.05);*/
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  min-height: 52px;
  cursor: pointer;
}

.step-flow .steps .step:last-child {
  margin-bottom: 20px;
}

.step-flow .steps .step.has-errors {
  border: 1px solid $error-red;
}

.step-flow .text-helper {
  text-align: center;
}

.step-flow .until-helper,
.step-flow .then-helper,
.step-flow .or-helper {
  background: $secondary-purple;
  color: #FFFFFF;
  display: inline-block;
  padding: 2px 8px;
  margin: -20px auto;
  position: relative;
  border-radius: 5px;
  z-index: 999;
}

.step-flow .then-helper {
  background: $action-green;
  margin: auto auto;
}

.step-flow .until-helper {
  background: $benchmark-orange;
  margin: auto auto;
}

.step-flow .step-placeholder {
  border-style: none;
  opacity: 0.1;
  background: #000;
  margin: auto;
}

.step-flow .step .icon {
  display: flex;
  align-items: center;
  margin-right: 8px;
  width: 32px;
  height: 32px;
}

.step {
  position: relative;
}

.step-flow .step .icon-svg svg {
  margin-right: 10px;
  width: 32px;
  height: 32px;
}

.add-step.benchmark .step-icon-svg svg,
.step.benchmark .icon-svg svg,
.step.benchmark .icon .dashicons {
  color: $benchmark-orange;
}

.add-step.action .step-icon-svg svg,
.step.action .icon-svg svg,
.step.action .icon .dashicons {
  color: $action-green;
}

.step.benchmark .details .step-type {
  color: $benchmark-orange;
}

.step.action .details .step-type {
  color: $action-green;
}

.step.benchmark.active {
  border-color: $benchmark-orange;
}

.step.action.active {
  border-color: $action-green;
}

.step-flow .steps .step.active {
  border-width: 2px;
  padding: 9px;
}

.step-flow .steps .step.action {
  margin: 0 15px;
}


.step .step-status {
  //display: flex;
  //align-items: center;
}

//.step .step-status .status {
//  visibility: hidden;
//  display: inline-block;
//  background-color: $primary-blue;
//  border-radius: 50%;
//  height: 9px;
//  width: 9px;
//}

.step-status {
  &:before {
    color: white;
    font-size: 8px;
    position: absolute;
    right: -5px;
    text-transform: uppercase;
    transform: rotate(15deg);
    top: -5px;
    line-height: 1;
    padding: 3px;
    border-radius: 3px;
  }

  &.config-error:before {
    background: $error-red;
    content: 'Error';
  }

  &.new:before {
    background: $action-green;
    content: 'New';
  }

  &.edited:before {
    background: $primary-blue;
    content: 'Edited';
  }
}

//.step .step-status.config-error .status {
//  visibility: visible;
//  background-color: $error-red;
//}
//
//.step .step-status.new .status {
//  visibility: visible;
//  background-color: #90C71C;
//}
//
//.step .step-status.edited {
//  visibility: visible;
//}

.step:hover {
  .step-menu {
    display: flex;
  }
}

.step-menu {
  align-items: center;
  display: none;
  justify-content: center;
  position: absolute;
  height: 100%;
  top: 0rem;
  right: 0rem;
  width: 2rem;

  svg {
    fill: #0005;
  }

  //&:hover {
  //  ul {
  //    display: block;
  //  }
  //}

  ul {
    background: #FFF;
    border: 1px solid #0002;
    border-radius: 3px;
    box-shadow: 2px 2px 3px 0 #0001;
    display: none;
    right: 0;
    list-style: none;
    margin: 0;
    position: absolute;
    top: 90%;
    z-index: 2;

    li {
      margin: 0;
      padding: .236rem .382rem;

      &:hover {
        background: #0001;
      }
    }
  }
}

.step .details {
  width: 165px;
}

.step .details .step-title {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
}

.step .details .step-type {
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  text-transform: uppercase;
}

.type-select {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.type-select button {
  background: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 5px 5px 30px rgba(24, 45, 70, 0.05);
  padding: 8px 12px;
  cursor: pointer;
  border: 2px solid #FFFFFF;
}

.type-select button:first-child {
  border-radius: 5px 0 0 5px;
}

.type-select button:last-child {
  border-radius: 0 5px 5px 0;
}

.type-select button.actions.active {
  border: 2px solid $action-green;
}

.type-select button.benchmarks.active {
  border: 2px solid $benchmark-orange;
}

.step-add .types {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px 0 0 20px;
}

.step-flow .add-step,
.step-add .types .add-step {
  width: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.step-flow .add-step .step-icon,
.step-add .types .add-step .step-icon {
  background: #FFFFFF;
  box-shadow: 5px 5px 30px rgba(24, 45, 70, 0.05);
  border-radius: 7px;
  padding: 5px;
  width: 50px;
}

.step-flow .add-step .step-icon-svg,
.step-add .types .add-step .step-icon-svg {
  background: #FFFFFF;
  box-shadow: 5px 5px 30px rgba(24, 45, 70, 0.05);
  border-radius: 7px;
  padding: 10px;
  /*width: 50px;*/
}

.step-flow .add-step .step-icon-svg svg,
.step-add .types .add-step .step-icon-svg svg {
  vertical-align: middle;
  height: 40px;
  width: 40px;
}

.add-step p {
  text-align: center;
}

/* Control panel */
#control-panel .step-add,
#control-panel .step-edit {
  position: sticky;
  top: 100px;
}

#control-panel .panel {
  background: #FFFFFF;
  box-shadow: 5px 5px 30px rgba(24, 45, 70, 0.05);
  padding: 20px;
  /*margin: 20px;*/
  border-radius: 5px;
}

#control-panel .panel:not(:first-child) {
  margin-top: 20px;
}

#control-panel label.row-label {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
}

#control-panel .row:not(:last-child) {
  margin-bottom: 20px;
}

/* context menu */

.step-context-menu {
  display: none;
  position: fixed;
  z-index: 999;
  padding: 12px 0;
  width: 120px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
}

.step-context-menu--active {
  display: block;
}

.step-context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.step-context-menu__item {
  display: block;
  margin-bottom: 4px;
}

.step-context-menu__item:last-child {
  margin-bottom: 0;
}

.step-context-menu__link {
  display: block;
  padding: 4px 12px;
  color: #0066aa;
  text-decoration: none;
  cursor: pointer;
}

.step-context-menu__link:hover {
  color: #fff;
  background-color: #0066aa;
}

.input-wrap {
  display: flex;
  justify-content: flex-start;
}

.input-wrap > *:last-child {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  border-left: none !important;
}

.input-wrap > *:nth-child(2):not(:last-child) {
  border-left: none !important;
}

.input-wrap.input-with-emojis input,
.input-wrap.input-with-replacements input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
}

.input-wrap.input-with-emojis button.emoji-picker-start,
.input-wrap.input-with-replacements button.replacements-picker-start {
  box-shadow: 0 0 0 transparent;
  border-radius: 0;
  border: 1px solid #8c8f94;
  background-color: #fff;
  color: #2c3338;
  cursor: pointer;
}

.input-wrap.input-with-emojis button.emoji-picker-start:hover,
.input-wrap.input-with-replacements button.replacements-picker-start:hover {
  background-color: #F6F9FB;
}

.input-wrap {
  select + input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  input, select {
    margin: 0;
  }

  select:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.tabs {
  /*display: flex;*/
  /*justify-content: center;*/
  border-bottom: 1px solid rgba(16, 38, 64, 0.15);
  padding: 5px 10px 0 10px;

  .tab {
    border-width: 1px 1px 0 1px;
    border-color: rgba(16, 38, 64, 0.15);
    border-style: solid;
    display: inline-block;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    border-radius: 3px 3px 0 0;
    margin: 0 2px;
    font-size: 16px;
    padding: 6px 12px 6px 12px;
    text-align: center;
    background: #F6F9FB;
    cursor: pointer;

    a {
      color: #2c3338;
    }

    &.active {
      font-weight: 500;
      border-bottom: 1px solid #fff;
      margin-bottom: -1px;
      background: #FFFFFF;
    }
  }
}

.publish-actions {
  button {
    border: none;
    color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    gap: 20px;
    padding: 6px 10px;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
    //transition: 0.4s;

    &.update-and-launch{
      background: $action-green;

      svg{
        width: 25px;
        height: 25px;
      }

      &:hover{
        background: darken( $action-green, 10 );
      }
    }

    &.update{
      background: $primary-blue;

      &:hover{
        background: darken( $primary-blue, 10 );
      }
    }

    &.deactivate{
      background: $error-red;

      &:hover{
        background: darken( $error-red, 10 );
      }

      svg{
        width: 15px;
        height: 15px;
      }
    }
  }
}