
.welcome-header{
    text-align: center;
}


.postbox img{
    max-width: 100%;
}

#poststuff .postbox h2{
    text-align: center;
    font-size: 24px !important;
    line-height: 2em;
    margin-top: 20px;
}

.postbox p{
    font-size: 16px;
    margin: 15px 30px;
}

.guide-link{
    margin: 10px auto 20px;
    text-decoration: none;
}

.guide-link,
#wpbody .big-button{
    text-align: center;
    width: 300px;
    display: block;
    margin-bottom: 40px;
}