/*$( 'html' ).css( 'padding-top', 0 );*/
/*$( '#wpcontent' ).css( 'margin', 0 );*/
/*$( '#wpadminbar' ).addClass( 'hidden' );*/
/*$( '#adminmenuwrap' ).addClass( 'hidden' );*/
/*$( '#adminmenuback' ).addClass( 'hidden' );*/
/*$( '#wpfooter' ).addClass( 'hidden' );*/

.iframed html {
    padding-top: 0;
}

.iframed  #wpcontent {
    margin: 0;
}

.iframed #wpadminbar {
    display: none;
}

.iframed #adminmenuwrap {
    display: none;
}

.iframed #adminmenuback {
    display: none;
}

.iframed #wpfooter{
    display: none;
}