.wrap * {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.gh-loader-overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: -20px;
    bottom: 0;
    background: #FFF;
    opacity: 0.5;
    z-index: 9999;
}

.gh-loader{
    top: 50vh;
    margin: 0 !important;
    left: 50%;
    font-size: 40px !important;
    position: absolute !important;
    z-index: 99999;
}

img {
    max-width: 100%;
}

#groundhogg-datepicker-wrap{
    max-width: 450px;
    float: right;
    margin-top: 25px;
}

#screen-meta-links{
    display: none;
}

.nav-tab-wrapper{
    margin-bottom: 20px !important;
}

.groundhogg-report {
    border-radius: 5px;
    background: #FFF;
    border: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

.groundhogg-report h2.title{
    padding: 0 20px;
    font-size: 18px;
    /*border-bottom: 1px solid #ccd0d4;*/
}

.groundhogg-report .inside {
    padding: 20px;
}

.groundhogg-quick-stats{
    margin-top: 20px;
}

.groundhogg-quick-stats .groundhogg-report{
    display: flex;
}

.groundhogg-quick-stats .groundhogg-quick-stat:first-child{
    border-left: none;
    border-radius: 5px 0 0 5px;
}

.groundhogg-quick-stats .groundhogg-quick-stat:last-child{
    border-radius: 0 5px 5px 0;
}

.groundhogg-quick-stats .groundhogg-quick-stat{
    width: 25%;
    position: relative;
    padding: 17px 20px 15px;
    border-left: 1px solid #ccd0d4;;
    background: #FFF;
}

.groundhogg-quick-stat .groundhogg-quick-stat-title{
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 10px;
}

.groundhogg-quick-stat .groundhogg-quick-stat-number{
    font-size: 40px;
    display: inline-block;
    float: left;
    margin-top: 10px;
}

.groundhogg-quick-stat .groundhogg-quick-stat-previous{
    /*margin: 10px 0 0 0;*/
    font-size: 16px;
    float: right;
}

.groundhogg-quick-stat .groundhogg-quick-stat-previous.red{
    color: #d73638;
}

.groundhogg-quick-stat .groundhogg-quick-stat-previous.green{
    color: #5cc0a5;
}

.groundhogg-quick-stat .groundhogg-quick-stat-arrow:before{
    display: inline-block;
    content: '\279C';
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.groundhogg-quick-stat-arrow.up:before{
    transform: rotate(-90deg);
}

.groundhogg-quick-stat-arrow.down:before{
    transform: rotate(90deg);
}

.groundhogg-quick-stat .groundhogg-quick-stat-compare{
    clear: right;
    float: right;
    font-size: 12px;
    color: #acbdc9;
    display: inline-block;
}

.groundhogg-chart {
    width: 50%;
    position: relative;
    padding: 17px 20px 15px;
    border-left: 1px solid #ccd0d4;;
    background: #FFF;
}

.groundhogg-table-list-item:nth-child(odd) {
     background-color: #f9fbff;
}

.groundhogg-table-list-item {
    padding: 12px 20px;
    min-height: 43px;
    font-size: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.groundhogg-table-list-item .groundhogg-reports-list-text {
    color: #393f4c;
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    padding: 1px;
    margin: -1px;
}

.groundhogg-table-box {
    border: 1px solid #d6e2ed;
    background: #fff;
    width: 100%;
    margin-left: 20px;
    padding-top: 18px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
}

@media only screen and (max-width: 1280px) {
    .groundhogg-quick-stat .groundhogg-quick-stat-number,
    .groundhogg-quick-stat .groundhogg-quick-stat-previous,
    .groundhogg-quick-stat .groundhogg-quick-stat-compare{
        float: none;
    }
}
