body {
  background: rgba(0, 117, 255, 0.02);
}
body #wpcontent {
  padding: 0;
}

.big-number {
  font-size: 52px;
  line-height: 1;
  font-weight: 500;
  cursor: pointer;
}
.big-number:hover {
  color: #0075ff;
}

.report-grid.ui-sortable h2 {
  cursor: move;
}

.report-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.report-grid .report-placeholder {
  background-color: rgba(16, 38, 64, 0.15);
  border-radius: 5px;
}
.report-grid .report-placeholder.table, .report-grid .report-placeholder.pie_chart {
  grid-column: span 2;
  grid-row: span 2;
}
.report-grid .report.line_chart {
  grid-column: span 4;
}
.report-grid .report.table, .report-grid .report.pie_chart {
  grid-column: span 2;
  grid-row: span 2;
}
.report-grid .report.table td.number-total, .report-grid .report.pie_chart td.number-total {
  font-weight: bold;
  cursor: pointer;
}
.report-grid .report.table td.number-total:not(:last-child), .report-grid .report.pie_chart td.number-total:not(:last-child) {
  text-align: center;
}
.report-grid .report.table td.number-total:hover, .report-grid .report.pie_chart td.number-total:hover {
  color: #0075ff;
}
.report-grid .report.grid-rows-2 {
  grid-row: span 2;
}
.report-grid .report.grid-rows-3 {
  grid-row: span 3;
}
.report-grid .report.grid-rows-4 {
  grid-row: span 4;
}
.report-grid .report.grid-rows-5 {
  grid-row: span 5;
}
.report-grid .report.grid-columns-2 {
  grid-column: span 2;
}
.report-grid .report.grid-columns-3 {
  grid-column: span 3;
}
.report-grid .report.grid-columns-4 {
  grid-column: span 4;
}
.report-grid .report .report-more {
  visibility: hidden;
}
.report-grid .report:hover .report-more {
  visibility: visible;
}

@media only screen and (max-width: 600px) {
  .report-grid {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .report-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1000px) {
  .report-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 1000px) {
  .report-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
#app *:not(.dashicons) {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
#app .gh-reporting-dashboard {
  position: relative;
}
#app .gh-reporting-dashboard h1 {
  font-size: 42px;
  line-height: 1;
  padding: 40px 0 0 20px;
  margin: 0;
}
#app .gh-reporting-dashboard .gh-logo {
  padding: 20px;
  width: 300px;
}
#app .gh-reporting-dashboard-header {
  background: #FFFFFF;
  box-shadow: 5px 5px 30px 0 rgba(24, 45, 70, 0.05);
  position: sticky;
  top: 32px;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
#app .gh-reporting-dashboard-header .gh-reporting-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
#app .gh-reporting-dashboard-header .gh-reporting-nav-item {
  color: #102640;
  font-size: 18px;
  text-decoration: none;
  padding: 25px 0;
  transition: none;
}
#app .gh-reporting-dashboard-header .gh-reporting-nav-item.active, #app .gh-reporting-dashboard-header .gh-reporting-nav-item:hover {
  padding-bottom: 22px;
  color: #0075ff;
  border-bottom: 3px solid #0075ff;
}
#app .gh-reporting-dashboard-header .gh-reporting-nav-item:focus {
  outline: none;
  box-shadow: none;
}
#app .gh-reporting-dashboard-header .gh-reporting-nav-item.active {
  font-weight: 700;
}
#app .gh-reporting-dashboard #reports-container {
  padding: 20px;
}
#app .gh-reporting-dashboard #reports-container .report.number .big-number, #app .gh-reporting-dashboard #reports-container .report.bad_number .big-number, #app .gh-reporting-dashboard #reports-container .report.percentage .big-number {
  font-size: 42px;
  font-weight: 400;
  line-height: 1;
}
#app .gh-reporting-dashboard #reports-container .report.number .compare-and-range .gh-report-range, #app .gh-reporting-dashboard #reports-container .report.bad_number .compare-and-range .gh-report-range, #app .gh-reporting-dashboard #reports-container .report.percentage .compare-and-range .gh-report-range {
  color: rgba(16, 38, 64, 0.5);
  text-align: right;
  font-size: 14px;
}
#app .gh-reporting-dashboard #reports-container .report.number .compare-and-range .gh-report-prev, #app .gh-reporting-dashboard #reports-container .report.bad_number .compare-and-range .gh-report-prev, #app .gh-reporting-dashboard #reports-container .report.percentage .compare-and-range .gh-report-prev {
  display: flex;
  font-size: 20px;
  gap: 10px;
  justify-content: flex-end;
}
#app .gh-reporting-dashboard #reports-container .report.number .compare-and-range .gh-report-prev.gh-report-prev-green, #app .gh-reporting-dashboard #reports-container .report.bad_number .compare-and-range .gh-report-prev.gh-report-prev-green, #app .gh-reporting-dashboard #reports-container .report.percentage .compare-and-range .gh-report-prev.gh-report-prev-green {
  color: #9ece38;
}
#app .gh-reporting-dashboard #reports-container .report.number .compare-and-range .gh-report-prev.gh-report-prev-red, #app .gh-reporting-dashboard #reports-container .report.bad_number .compare-and-range .gh-report-prev.gh-report-prev-red, #app .gh-reporting-dashboard #reports-container .report.percentage .compare-and-range .gh-report-prev.gh-report-prev-red {
  color: #e91f4f;
}
#app .gh-reporting-dashboard #reports-container .report.number .compare-and-range .gh-report-prev-arrow, #app .gh-reporting-dashboard #reports-container .report.bad_number .compare-and-range .gh-report-prev-arrow, #app .gh-reporting-dashboard #reports-container .report.percentage .compare-and-range .gh-report-prev-arrow {
  width: 20px;
  height: 20px;
}
#app .gh-reporting-dashboard #reports-container .report table.gh-report-table {
  border-collapse: collapse;
  width: 100%;
}
#app .gh-reporting-dashboard #reports-container .report table.gh-report-table td, #app .gh-reporting-dashboard #reports-container .report table.gh-report-table th {
  padding: 16px;
  font-size: 16px;
}
#app .gh-reporting-dashboard #reports-container .report table.gh-report-table td.large, #app .gh-reporting-dashboard #reports-container .report table.gh-report-table th.large {
  width: 100%;
}
#app .gh-reporting-dashboard #reports-container .report table.gh-report-table td:first-child, #app .gh-reporting-dashboard #reports-container .report table.gh-report-table th:first-child {
  padding-left: 20px;
}
#app .gh-reporting-dashboard #reports-container .report table.gh-report-table td:last-child, #app .gh-reporting-dashboard #reports-container .report table.gh-report-table th:last-child {
  text-align: right;
  padding-right: 20px;
}
#app .gh-reporting-dashboard #reports-container .report table.gh-report-table td a, #app .gh-reporting-dashboard #reports-container .report table.gh-report-table th a {
  text-decoration: none;
}
#app .gh-reporting-dashboard #reports-container .report table.gh-report-table td span.row-count, #app .gh-reporting-dashboard #reports-container .report table.gh-report-table th span.row-count {
  margin-right: 10px;
}
#app .gh-reporting-dashboard #reports-container .report table.gh-report-table td.link, #app .gh-reporting-dashboard #reports-container .report table.gh-report-table th.link {
  cursor: pointer;
}
#app .gh-reporting-dashboard #reports-container .report table.gh-report-table td.link:hover, #app .gh-reporting-dashboard #reports-container .report table.gh-report-table th.link:hover {
  color: #0075ff;
  font-weight: 500;
}
#app .gh-reporting-dashboard #reports-container .report table.gh-report-table td.step svg, #app .gh-reporting-dashboard #reports-container .report table.gh-report-table th.step svg {
  height: 30px;
  width: 30px;
}
#app .gh-reporting-dashboard #reports-container .report table.gh-report-table td.step.action, #app .gh-reporting-dashboard #reports-container .report table.gh-report-table th.step.action {
  color: #9ece38;
}
#app .gh-reporting-dashboard #reports-container .report table.gh-report-table td.step.benchmark, #app .gh-reporting-dashboard #reports-container .report table.gh-report-table th.step.benchmark {
  color: #f58115;
}
#app .gh-reporting-dashboard #reports-container .report table.gh-report-table th {
  font-weight: 700;
  font-size: 16px;
  text-align: left;
  white-space: nowrap;
}
#app .gh-reporting-dashboard #reports-container .report table.gh-report-table tr:nth-child(even) {
  background: rgba(0, 117, 255, 0.02);
}

/*# sourceMappingURL=reporting-v3.css.map */
