#search-filters {
  padding: 10px;
}

#search-filters-editor {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5px;

  button {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
  }

  .add-filter-wrap {
    position: relative;

    .add-filter {
      position: absolute;
      z-index: 999;
      border: 1px solid #e5e5e5;
      display: flex;
      flex-direction: column;
      gap: 5px;
      background: #FFFFFF;
      border-radius: 5px;
      box-shadow: 5px 5px 30px rgba(24, 45, 70, 0.05);

      .header {
        padding: 5px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #e5e5e5;
        gap: 20px;
      }

      .filter-options {
        padding: 5px 8px;

        * {
          padding-top: 3px;
          padding-bottom: 3px;
        }

        .option-group {
          font-weight: 500;
        }

        .option {
          padding-left: 10px;
          cursor: pointer;

          &:hover{
            background: #0d79e5;
            color: #FFFFFF;
          }
        }
      }
    }
  }

  .filter {
    float: none;
    margin: 0;

    select {
      vertical-align: initial;
    }

    &.filter-view {
      padding: 5px 8px;
      background: #f9f9f9;
      border: 1px solid #e5e5e5;
      border-radius: 5px;
    }

    &.filter-edit-wrap {
      position: relative;
      min-width: 200px;

      .filter-edit {
        border: 1px solid #e5e5e5;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        position: absolute;
        background: #FFFFFF;
        border-radius: 5px;
        z-index: 999;
        box-shadow: 5px 5px 30px rgba(24, 45, 70, 0.05);

        .settings {
          display: flex;
          flex-direction: column;
          gap: 5px;
        }

        .actions, .header {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

      }
    }
  }
}