.setup-footer-nav{
    text-align: center;
}

.setup-footer-nav a {
    font-size: 14px;
    text-decoration: none;
}

.step-nav{
    text-align: center;
}

.setup-wrap .inside{
    padding: 10px 30px 20px 30px;
}

.postbox .description p{
    font-size: 16px;
    margin-bottom: 25px;
}

.postbox h3 {
    font-size: 24px;
}

#wpbody .step-nav .big-button {
    font-size: 18px;
    font-weight: 600;
    position: relative;
    height: auto;
    padding-left: 42px;
}

#pricing-button,
#enabled-tracking-button{
    padding-left: 42px !important;
}

.big-button .dashicons{
    position: absolute;
    font-size: 24px;
    top: 13px;
    left: 10px;
    width: auto;
    height: auto;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.big-button.spin .dashicons{
    animation: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* EMAIL STEP */

.email_info img.thumbnail {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 175px;
    border-radius: 5px;
}

.email_info .inside .postbox h3.extension-title,
.email_info .inside .postbox p.extension-description{
    margin-left: 225px;
    margin-right: 20px;
}

.email_info .inside .postbox{
    position: relative;
}

.postbox .card-top{
    min-height: 135px;
}

.postbox .install-actions{
    clear: both;
    padding: 12px 20px;
    background-color: #fafafa;
    border-top: 1px solid #ddd;
    overflow: hidden;
}

.quiet-install{
    display: inline-block;
}

.more-details{
    float: right;
}

.email_info hr{
    display: none;
}