$primary-blue: rgb(0, 117, 255);
$primary-blue-60: rgba(0, 117, 255, 0.60);
$primary-blue-50: rgba(0, 117, 255, 0.50);
$primary-blue-20: rgba(0, 117, 255, 0.20);
$primary-blue-10: rgba(0, 117, 255, 0.10);
$primary-blue-7: rgba(0, 117, 255, 0.07);
$primary-blue-2: rgba(0, 117, 255, 0.02);
$primary-dark: rgb(16, 38, 64);
$primary-dark-50: rgba(16, 38, 64, 0.5);
$primary-dark-30: rgba(16, 38, 64, 0.3);
$primary-dark-15: rgba(16, 38, 64, 0.15);
$primary-dark-10: rgba(16, 38, 64, 0.10);
$primary-dark-5: rgba(16, 38, 64, 0.05);
$error-red: rgb(233, 31, 79);
$error-red-50: rgba(233, 31, 79, 0.5);
$error-red-10: rgba(233, 31, 79, 0.10);
$secondary-purple: rgb(108, 25, 173);
$alert-yellow-50: rgba(255, 238, 88, 0.50);
$alert-yellow: rgb(255, 238, 88);
$benchmark-orange: rgb(245, 129, 21);
$benchmark-orange-50: rgba(245, 129, 21, 0.50);
$benchmark-orange-25: rgba(245, 129, 21, 0.25);
$action-green: rgb(158, 206, 56);
$action-green-50: rgba(158, 206, 56, 0.5);
$box-shadow: 5px 5px 30px 0 rgba(24, 45, 70, 0.05);

#wpcontent {
  //padding: 0;
}

#wpfooter {
  display: none;
}


#more-details-content{

  padding: 20px;

  figure {
    margin-left: 0;
    margin-right: 0;
  }

  img{
    max-width: 100%;
  }

  h2{
    margin-top: 1em;
  }

  ul{
    list-style: disc;
    padding-left: 20px;
  }
}

.thumbnail{
  max-width: 100%;
}

#troubleshooter{

  .gh-panel.outlined{
    .inside{
      p:first-child{
        margin-top: 0;
      }
    }
  }

}

.wp-list-table{
  pre{
    margin: 0;
  }
}

#troubleshooter,
#guided-setup {
  width: 600px;
  margin: auto;
  padding: 60px 0;

  h1 {
    margin-top: 0;
  }

  p, label, ul, ol, li{
    font-size: 16px;
  }

  ul:not(.select2-selection__rendered) {
    list-style: disc;
    padding-left: 20px;
  }

  .step {
    .logo {
      width: 400px;
      margin: auto;
      margin-bottom: 40px;
    }

    > .gh-panel {
      > .inside {
        padding: 40px;
      }
    }


    label {
      //font-weight: 500;
    }

    input.input, select {
      font-size: 16px;
      padding: 4px 12px;
    }


  }

  #services {

    .download.gh-panel {

      img {
        width: 180px;
        border-radius: 4px;
      }

      .plugin-actions {
        //background: $primary-blue-2;
        border-top: 1px solid $primary-dark-10;
        padding: 20px;
      }

      h2 {
        margin-top: 0;
      }

      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }


}
