.color-preview {
    display: block;
    position: absolute;
    overflow: hidden;
    margin: 0;
    padding: 0;
    top: auto;
    bottom: 2px;
    left: 6px;
    height: 3px;
    width: 20px;
    background: #555d66;
}

.ui-sortable-helper .simple-editor-actionbar{
    display: none !important;
    visibility: hidden;
}

.simple-editor-actionbar {
    border: solid #ddd;
    display: inline-block;
    border-width: 0 1px 1px 0;
    background: #f5f5f5;
    z-index: 9999;
    position: absolute;
    /*width: 10;*/
    /*left: 440px;*/
    top: 122px;
    margin-left: -10px;

}

.simple-editor-button-wrapper {
    display: inline-block;
}

.simple-editor-button-wrapper {
    padding: 0;
    outline: 0;
    vertical-align: top;
    text-decoration: none;
    color: #595959;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    float: none;
    width: auto;
    height: auto;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    line-height: normal;
    font-weight: normal;
    text-align: left;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    direction: ltr;
    max-width: none;
    position: relative;
    background: white;
    display: inline-block;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: 0 0;
    text-shadow: none;
    cursor: pointer;
    outline: none;
    border: 1px solid transparent;
    margin: 2px;
    border-radius: 2px;
}

.simple-editor-content {
    background: white;
    outline: none;
    padding: 8px;
}

.simple-editor {
    border: 1px solid #e5e5e5;
}

.simple-editor-button-wrapper:hover, .simple-editor-button-wrapper:focus {
    background: #fafafa;
    border-color: #555d66;
    color: #23282d;
    box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0, 0, 0, .08);
    outline: 0;
}

.simple-editor-button-wrapper:active, .simple-editor-button-wrapper.simple-editor-button-selected {
    background: #ebebeb;
    border-color: #555d66;
    box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, .3);

}

.simple-editor-button {
    padding: 4px 6px;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    color: #595959;
    text-align: center;
    overflow: visible;
    -webkit-appearance: none;
    background: transparent;
    border: none;
    outline: none;
    height: 28px;
}

.simple-editor-font-color, .simple-editor-dropdown {
    position: absolute;
    top: 35px;
    border-color: rgba(0,0,0,.15);
    border-radius: 0;
    box-shadow: 0 3px 5px rgba(0,0,0,.2);
    background: white;
    border: 1px solid #CCC;
}

td.simple-editor-grid-cell div {
    padding: 0;
    outline: 0;
    vertical-align: top;
    background: transparent;
    text-decoration: none;
    color: #595959;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-shadow: none;
    float: none;
    position: static;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    line-height: normal;
    font-weight: normal;
    text-align: left;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    direction: ltr;
    max-width: none;

    border: 1px solid #c5c5c5;
    width: 15px;
    height: 15px;
    margin: 0;
    cursor: pointer;
}

table.simple-editor-color-grid {
    margin: 4px;
}

.simple-editor {
    position: relative;
}

.simple-editor-responsive-button {
    display:inline-block;
}

.simple-editor-hsc {
    display:none;
}

.simple-editor-dropdown-inner {
    margin: 0px;
}

.simple-editor-dropdown-inner .simple-editor-hsc {
    display: block;
    margin: 0;
    border-radius: 0px;
}

.dicon-sm {
    font-size: 14px;
    width: 14px;
    height: 14px;
    vertical-align: middle;
}

.simple-editor-unlink-c {
    display: none;
}

.simple-editor-unlink-c.simple-editor-button-selected {
    display:inline-block;
}