$primary-blue: rgb(0, 117, 255);
$primary-blue-20: rgba(0, 117, 255, 0.20);
$primary-blue-7: rgba(0, 117, 255, 0.07);
$primary-blue-2: rgba(0, 117, 255, 0.02);
$primary-dark: rgb(16, 38, 64);
$primary-dark-50: rgba(16, 38, 64, 0.5);
$primary-dark-30: rgba(16, 38, 64, 0.3);
$primary-dark-15: rgba(16, 38, 64, 0.15);
$error-red: rgb(233, 31, 79);
$secondary-purple: rgb(108, 25, 173);
$alert-yellow: rgb(255, 238, 88);
$benchmark-orange: rgb(245, 129, 21);
$benchmark-orange-50: rgba(245, 129, 21, 0.50);
$action-green: rgb(158, 206, 56);
$box-shadow: 5px 5px 30px 0 rgba(24, 45, 70, 0.05);
$box-shadow-darker: 5px 5px 30px 0 rgba(24, 45, 70, 0.15);
$border: 1px solid rgba(16, 38, 64, 0.15);

body {
  background-color: #F6F9FB;
}

#wpcontent {
  padding-left: 0;
}

#template-name {
  h2 {
    font-size: 32px;
    text-align: center;
    font-weight: 300;
  }

  input {
    font-size: 24px;
    width: 500px;
    text-align: center;
    margin-bottom: 10px;
  }

  button {
    display: block;
    margin: auto;
  }
}

.templates-picker {

  * {
    box-sizing: border-box;
  }

  .search-templates,
  .template-actions {
    display: flex;
    gap: 10px;

    #campaign {
      width: 300px;
    }
  }

  #import,
  #title-input {
    padding: 40px;

    h1 {
      text-align: center;
      font-weight: 200;
      margin-bottom: 40px;
    }

    #import-file {
      padding: 40px;
      border: 2px dashed $primary-dark-15;
      background: #FFFFFF;
      box-shadow: $box-shadow;
      border-radius: 5px;
      margin: auto;
      display: block;
    }

    p.error {
      color: $error-red;
      text-align: center;
    }

    #title {
      font-size: 26px;
      width: 100%;
      text-align: center;
      border-radius: 0;
      border-width: 0 0 1px 0;
      box-shadow: none;
    }

    .submit {
      text-align: center;
    }

    > p {
      text-align: center;
    }

    a.cancel {
      font-size: 16px;
      cursor: pointer;
    }

    .template-preview-wrap {

      display: flex;

      > * {
        width: 100%;
      }

      .template-actions {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
      }

      #template-preview {
        width: 600px;
        border-radius: 5px;
        margin: auto;
        display: block;
        min-height: 500px;
      }
    }
  }

  #templates {
    display: flex;
    flex-direction: column;
    gap: 20px;
    //flex-wrap: wrap;
    padding: 20px;

    .row {

      display: flex;
      gap: 20px;

      > * {
        width: 100%;
      }

      .template {

        p.actions button:not(:focus) {
          visibility: hidden;
        }

        &.enabled:focus,
        &.enabled:hover {

          box-shadow: $box-shadow-darker;

          p.actions button {
            visibility: visible;
          }
        }

        &.disabled {
          opacity: 0.8;
        }

        .inside {
          padding-top: 0;
        }

        .template-header {
          padding: 0 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .subject-and-preview {

          margin-bottom: 10px;

          .subject-wrap, .preview-wrap {
            font-size: 14px;
            padding: 8px 10px 0 10px;
            font-weight: 300;
          }

          .subject-wrap {
            font-size: 16px;
          }

          .subject,
          .preview-text {
            font-weight: 500;
            //color: $primary-dark-30;
          }

        }

        .template-preview {

          position: relative;

          .template-content {
            border-top: 1px solid $primary-dark-15;

            iframe {
              height: 400px;
              width: 100%;
              zoom: 80%;
              //padding: 15px;
              //padding-bottom: 40px;
            }
          }

          .template-actions {
            display: none;
            position: absolute;
            bottom: 0;
            background-color: #FFFFFF;
            border-top: 1px solid $primary-dark-15;
            border-radius: 0 0 5px 5px;
            padding: 10px;

            button {
              width: 100%;
            }
          }

          &:hover {
            .template-actions {
              display: block;
              left: 0;
              right: 0;
            }
          }
        }
      }
    }
  }
}
