body {
  background-color: #F6F9FB;
}

#wpcontent {
  padding-left: 0;
}

#template-name h2 {
  font-size: 32px;
  text-align: center;
  font-weight: 300;
}
#template-name input {
  font-size: 24px;
  width: 500px;
  text-align: center;
  margin-bottom: 10px;
}
#template-name button {
  display: block;
  margin: auto;
}

.templates-picker * {
  box-sizing: border-box;
}
.templates-picker .search-templates,
.templates-picker .template-actions {
  display: flex;
  gap: 10px;
}
.templates-picker .search-templates #campaign,
.templates-picker .template-actions #campaign {
  width: 300px;
}
.templates-picker #import,
.templates-picker #title-input {
  padding: 40px;
}
.templates-picker #import h1,
.templates-picker #title-input h1 {
  text-align: center;
  font-weight: 200;
  margin-bottom: 40px;
}
.templates-picker #import #import-file,
.templates-picker #title-input #import-file {
  padding: 40px;
  border: 2px dashed rgba(16, 38, 64, 0.15);
  background: #FFFFFF;
  box-shadow: 5px 5px 30px 0 rgba(24, 45, 70, 0.05);
  border-radius: 5px;
  margin: auto;
  display: block;
}
.templates-picker #import p.error,
.templates-picker #title-input p.error {
  color: #e91f4f;
  text-align: center;
}
.templates-picker #import #title,
.templates-picker #title-input #title {
  font-size: 26px;
  width: 100%;
  text-align: center;
  border-radius: 0;
  border-width: 0 0 1px 0;
  box-shadow: none;
}
.templates-picker #import .submit,
.templates-picker #title-input .submit {
  text-align: center;
}
.templates-picker #import > p,
.templates-picker #title-input > p {
  text-align: center;
}
.templates-picker #import a.cancel,
.templates-picker #title-input a.cancel {
  font-size: 16px;
  cursor: pointer;
}
.templates-picker #import .template-preview-wrap,
.templates-picker #title-input .template-preview-wrap {
  display: flex;
}
.templates-picker #import .template-preview-wrap > *,
.templates-picker #title-input .template-preview-wrap > * {
  width: 100%;
}
.templates-picker #import .template-preview-wrap .template-actions,
.templates-picker #title-input .template-preview-wrap .template-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.templates-picker #import .template-preview-wrap #template-preview,
.templates-picker #title-input .template-preview-wrap #template-preview {
  width: 600px;
  border-radius: 5px;
  margin: auto;
  display: block;
  min-height: 500px;
}
.templates-picker #templates {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
}
.templates-picker #templates .template p.actions button:not(:focus) {
  visibility: hidden;
}
.templates-picker #templates .template.enabled:focus, .templates-picker #templates .template.enabled:hover {
  box-shadow: 5px 5px 30px 0 rgba(24, 45, 70, 0.15);
}
.templates-picker #templates .template.enabled:focus p.actions button, .templates-picker #templates .template.enabled:hover p.actions button {
  visibility: visible;
}
.templates-picker #templates .template.disabled {
  opacity: 0.8;
}
.templates-picker #templates .template .inside {
  padding-top: 0;
}
.templates-picker #templates .template .template-header {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.templates-picker #templates .template .subject-and-preview {
  margin-bottom: 10px;
}
.templates-picker #templates .template .subject-and-preview .subject-wrap, .templates-picker #templates .template .subject-and-preview .preview-wrap {
  font-size: 14px;
  padding: 8px 10px 0 10px;
  font-weight: 300;
}
.templates-picker #templates .template .subject-and-preview .subject-wrap {
  font-size: 16px;
}
.templates-picker #templates .template .subject-and-preview .subject,
.templates-picker #templates .template .subject-and-preview .preview-text {
  font-weight: 500;
}
.templates-picker #templates .template .template-preview {
  position: relative;
}
.templates-picker #templates .template .template-preview .template-content {
  border-top: 1px solid rgba(16, 38, 64, 0.15);
}
.templates-picker #templates .template .template-preview .template-content iframe {
  height: 400px;
  width: 100%;
  zoom: 80%;
}
.templates-picker #templates .template .template-preview .template-actions {
  display: none;
  position: absolute;
  bottom: 0;
  background-color: #FFFFFF;
  border-top: 1px solid rgba(16, 38, 64, 0.15);
  border-radius: 0 0 5px 5px;
  padding: 10px;
}
.templates-picker #templates .template .template-preview .template-actions button {
  width: 100%;
}
.templates-picker #templates .template .template-preview:hover .template-actions {
  display: block;
  left: 0;
  right: 0;
}

@media only screen and (max-width: 800px) {
  .templates-picker #templates {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 1300px) and (min-width: 800px) {
  .templates-picker #templates {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1800px) {
  .templates-picker #templates {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 1800px) {
  .templates-picker #templates {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/*# sourceMappingURL=templates.css.map */
