/*.phil{*/
/*    position: fixed;*/
/*    bottom: -80px;*/
/*    right: -80px;*/
/*    transform: rotate(-20deg);*/
/*}*/

/*#wpcontent{*/
/*    padding: 0;*/
/*    background-color: rgba(169, 169, 169, 0.25);*/
/*}*/

/*#wpfooter{*/
/*    background-color: #F1F1F1;*/
/*}*/

#welcome-page{
    max-width: 1000px;
    margin: auto;
}

.welcome-header{
    text-align: center;
}

/*.powered-by {*/
/*    color:white;*/
/*}*/

.powered-by img{
    vertical-align: middle;
}

.welcome-header h1{
    font-size: 50px;
    font-weight: 600;
    /*color: white;*/
    /*font-family: "Arial Black";*/
    /*text-shadow: 2px 2px 2px rgba(43, 43, 43, 0.63);*/
}

.progress h2{
    font-size: 30px !important;
    color: black;
    font-family: "Arial Black";
    text-shadow: 2px 2px 2px rgba(43, 43, 43, 0.21);
}

.col {
    padding: 10px;
    white-space: normal;
    box-sizing: border-box;
    vertical-align: top;
}

.right-col,
.left-col{
    display: inline-block;
    float: left;
    width: 50%;
    margin: 0;
}

.col .postbox {
    /*border-radius: 5px ;*/
}

/*.col h3{*/
/*    text-align: center;*/
/*    text-transform: uppercase;*/
/*}*/

/*.postbox .hndle{*/
/*    font-family: "Arial Black";*/
/*    text-transform: uppercase;*/
/*}*/


#ghmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
}

#ghmenu li {
    float: left;
    margin: 0;
}

#ghmenu li a {
    display: block;
    font-weight: 500;
    /*color: white;*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#ghmenu li a:hover:not(.active) {
    background-color: #f1f1f1;
}