@import "../../master";

.benchmark-group-container{

  margin: 20px;

  &.gh-box{
    background: #f9f9f9;
  }

  .benchmark-group{
    border-top: 1px solid $border-color;
  }

  .explanation{
    padding: 10px;
    background: #FFFFFF;
  }

  .group-controls{
    margin: 10px;
  }

}

.action-group-container{

  margin: 0px 10px;

  .explanation{
    margin: 0 30px;
  }

  .group-controls{
    margin: 0 30px;
  }

}