@import "../../colors";




.groundhogg-report-card {

  background-color: #fff !important;
  //border: none;
  //border-radius: .625rem;
  //box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,.1), 0 0.9375rem 1.40625rem rgba(90,97,105,.1), 0 0.25rem 0.53125rem rgba(90,97,105,.12), 0 0.125rem 0.1875rem rgba(90,97,105,.1);


  min-width: 100%;
  max-width: 100%;
  width: 100% !important;
  height: 100% !important;
  padding: 10px;

  .groundhogg-report-card-header {
    //border-radius: .625rem .625rem 0 0;
    background-color: #ffffff !important;
    border-bottom: none !important;
    //border-radius: .625rem .625rem 0 0;

    //color: #774089 !important;;

    .h6 {
      //font-size: 1.50rem;
      margin-top: 15px;
      margin-bottom: 20px;
      padding-left: 15px;
      font-size: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre;
      line-height: 1.2;
      font-weight: bold;
    }
  }

  .groundhogg-report-card-body {
    //border-radius: .625rem .625rem 0 0;
    padding: 0;

  }

  .groundhogg-report-chart-wrapper {
    min-height: 300px;
    height: inherit;
    max-height: 400px;
  }
}