@import "../../colors";
@import "../../sizes";

.page-content{

  padding-top: 63px;
  position: relative;

  &.collapsed{
    margin-left: $sidebar-width-collapsed;
    transition: 0.2s;
  }

  &.expanded{
    margin-left: $sidebar-width-expanded;
    transition: 0.2s;
  }

  header {

    &.with-padding{
      padding: 15px 8px;
    }

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h2 {
      font-weight: 400;
    }
  }

  .page-with-padding {
    padding: 15px 8px;
  }

}