img {
    max-width: 100% !important;
}

body {
    font-size: 14px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
}

.aligncenter {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.alignleft {
    float: left;
    margin: 0.5em 1em 0.5em 0;
}

.alignright {
    float: right;
    margin: 0.5em 0 0.5em 1em;
}

.footer p {
    font-size: 13px;
    color: #999999;
    margin: .5em 0;
}

.footer p a {
    text-decoration: none;
}