.email-columns .email-columns-row > .email-columns-cell img.post-thumbnail {
    width: 100%;
}

.text-content-wrap > *:last-child {
    margin-bottom: 0;
}

.text-content-wrap > *:first-child {
    margin-top: 0;
}

.cards .post-card img {
    display: block;
}

.cards .post-card > .card-content {
    border: 1px solid rgba(16, 38, 64, 0.1);
    background-color: #fff;
    padding: 20px;
}

.cards .post-card.has-thumbnail > .card-content {
    border-top: none;
}

@media only screen and (max-width: 480px) {
    body.responsive .email-columns,
    body.responsive .email-columns > tbody,
    body.responsive .email-columns .email-columns-row,
    body.responsive .email-columns .email-columns-row > .email-columns-cell {
        display: block !important;
        width: auto !important;
    }
}

/*@media only screen and (max-device-width: 600px) {*/
/*    .email-columns,*/
/*    .email-columns tbody,*/
/*    .email-columns .email-columns-row,*/
/*    .email-columns .email-columns-row > .email-columns-cell {*/
/*        display: block !important;*/
/*        width: auto !important;*/
/*    }*/
/*}*/
