.email-columns {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.email-columns .email-columns-row {
    display: table-row;
}

.email-columns .email-columns-row .email-columns-cell {
    display: table-cell;
    vertical-align: top;
}

.email-columns .email-columns-row .email-columns-cell img.post-thumbnail {
    width: 100%;
}

.text-content-wrap > *:last-child {
    margin-bottom: 0;
}

.text-content-wrap > *:first-child {
    margin-top: 0;
}

.cards .post-card img {
    display: block;
}

.cards .post-card > .card-content {
    border: 1px solid rgba(16, 38, 64, 0.1);
    background-color: #fff;
    padding: 20px;
}

.cards .post-card.has-thumbnail > .card-content {
    border-top: none;
}

@media only screen and (max-width: 480px) {
    .email-columns,
    .email-columns .email-columns-row,
    .email-columns .email-columns-row .email-columns-cell {
        display: block;
        /*padding: 0 !important;*/
        width: 100% !important;
    }
}

@media only screen and (max-device-width: 480px) {
    .email-columns,
    .email-columns .email-columns-row,
    .email-columns .email-columns-row .email-columns-cell {
        display: block;
        /*padding: 0 !important;*/
        width: 100% !important;
    }
}
