.hide-on-desktop{
    display: none;
}

@media only screen and (max-width: 480px) {
    table.responsive.email-columns,
    table.responsive.email-columns > tbody,
    table.responsive.email-columns tr.email-columns-row,
    table.responsive.email-columns tr.email-columns-row > td.email-columns-cell {
        display: block !important;
        width: auto !important;
    }

    .alignright:not(.keep-float),
    .alignleft:not(.keep-float) {
        display: block !important;
        float: none !important;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 20px !important;
    }

    .hide-on-desktop{
        display: table-cell;
    }

    .hide-on-mobile{
        display: none;
    }
}