.groundhogg-exit-button{

  position: absolute;
  width: 60px;
  height: 60px;
  vertical-align: middle;
  top: 0;
  right: 0;
  box-sizing: border-box;

  button {
    color: #5c5c5c;
    text-decoration: none;
    border: none;
    background: none;
    padding: 15px;

    &:hover{
      color: #0d79e5;
    }

    .dashicons{
      height: 30px;
      width: 30px;
      font-size: 30px;
    }
  }
}