@import "./../../../assets/colors.scss";
@import "./../../../assets/sizes.scss";

.groundhogg-bottom-bar {
  min-height: 55px;
  padding: 25px 12px;
  position: fixed;
  right: 0;
  bottom: 0;
  border-top: 1px solid $border-color;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  box-shadow: 0 -1px 6px #e5e5e5;

  &.sidebar-expanded {
    left: $sidebar-width-expanded;
  }

  &.sidebar-collapsed {
    left: $sidebar-width-collapsed;
  }
}

.bottomBar-enter {
  bottom: -100px;

  &.bottomBar-enter-active {
    bottom: 0;
    transition: bottom 0.75s ease-out;
  }
}

.bottomBar-leave {
  bottom: 0;

  &.bottomBar-leave-active {
    bottom: -100px;
    transition: 0.5s ease-in-out;
  }
}

.bottom-bar-wrap{
  margin-top: 100px;
}