.groundhogg-exit-button {
  position: absolute;
  width: 60px;
  height: 60px;
  vertical-align: middle;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 15px; }
  .groundhogg-exit-button a {
    color: #5c5c5c;
    text-decoration: none; }
    .groundhogg-exit-button a:hover {
      color: #0d79e5; }
    .groundhogg-exit-button a .dashicons {
      height: 30px;
      width: 30px;
      font-size: 30px; }

.Groundhogg .navbar {
  min-height: 60px;
  border-bottom: 1px solid #e5e5e5; }

.Groundhogg .groundhogg-nav {
  padding-right: 50px; }

.Groundhogg .sticky-top {
  top: 32px; }

.funnel-status .mb-2 {
  margin: 0; }

.groundhogg-funnel-editor {
  background: #f1f1f1;
  display: inline-block;
  width: 100%; }

.benchmark-group-container {
  margin: 20px; }
  .benchmark-group-container.gh-box {
    background: #f9f9f9; }
  .benchmark-group-container .benchmark-group {
    color: blue;
    border-top: 1px solid #e5e5e5; }
  .benchmark-group-container .explanation {
    padding: 10px;
    background: #FFFFFF; }
  .benchmark-group-container .group-controls {
    margin: 10px; }

.action-group-container .explanation {
  margin: 0 30px; }

.action-group-container .group-controls {
  margin: 0 30px; }

.fadeIn-appear {
  opacity: 0.01; }

.fadeIn-appear.fadeIn-appear-active {
  opacity: 1;
  transition: opacity 100ms ease-in; }

.fadeIn-enter {
  opacity: 0.01; }

.fadeIn-enter.fadeIn-enter-active {
  opacity: 1;
  transition: opacity 100ms ease-in; }

.fadeIn-leave {
  opacity: 1; }

.fadeIn-leave.fadeIn-leave-active {
  opacity: 0.01;
  transition: opacity 100ms ease-in; }

.slide-enter.left {
  transform: translate(-100%); }

.slide-enter.slide-enter-active.left {
  transform: translate(0%);
  transition: transform 500ms ease-in-out; }

.slide-leave.left {
  transform: translate(-100%); }

.slide-leave.slide-leave-active.left {
  transform: translate(0%);
  transition: transform 500ms ease-in-out; }

.slide-enter.right {
  transform: translate(0%); }

.slide-enter.slide-enter-active.right {
  transform: translate(-100%);
  transition: transform 500ms ease-in-out; }

.slide-leave.right {
  transform: translate(0%); }

.slide-leave.slide-leave-active.right {
  transform: translate(-100%);
  transition: transform 500ms ease-in-out; }

.step-controls {
  float: right; }

.step-title {
  padding-left: 60px; }

.step-icon-wrap {
  position: absolute;
  left: 0;
  top: 0; }
  .step-icon-wrap img.step-icon {
    height: 54px;
    width: 54px; }

.step {
  height: 54px; }

.action {
  margin: 10px 30px;
  padding: 10px; }

.benchmark {
  margin: 10px 10px 0 10px;
  padding: 10px; }
  .benchmark:last-child {
    margin-bottom: 10px; }


.add-step-control {
  margin: 10px;
  position: relative;
  height: 100px;
  display: inline-block;
  width: 320px;
  vertical-align: top;
  text-overflow: ellipsis;
  overflow: hidden; }
  .add-step-control .step-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-right: 1px solid #e5e5e5; }
  .add-step-control .details {
    padding-left: 100px; }
    .add-step-control .details .description {
      font-style: normal;
      text-overflow: ellipsis; }
    .add-step-control .details .step-name {
      font-size: 20px; }

.add-new-step-container .add-new-step-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #5c5c5c;
  opacity: 0.5;
  z-index: 99999; }

.add-new-step-container .animated {
  z-index: 99999; }

.add-new-step-container .add-new-step-inner-container {
  z-index: 99999;
  position: fixed;
  max-width: 720px;
  width: 720px;
  top: 0;
  right: 0;
  bottom: 0; }
  .add-new-step-container .add-new-step-inner-container .add-new-step-inner {
    background: #f7f7f7;
    height: 100vh; }
  .add-new-step-container .add-new-step-inner-container .add-new-step-choices {
    overflow-y: auto;
    padding: 70px 10px 10px 10px; }
  .add-new-step-container .add-new-step-inner-container .fixed-top {
    position: absolute; }

#screen-meta-links {
  display: none; }

#wpcontent {
  padding: 0 !important; }

.gh-box {
  position: relative;
  border: 1px solid #ccd0d4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  background: #fff;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }

.round-borders {
  border-radius: 3px; }

