.groundhogg-exit-button {
  position: absolute;
  width: 60px;
  height: 60px;
  vertical-align: middle;
  top: 0;
  right: 0;
  box-sizing: border-box; }
  .groundhogg-exit-button button {
    color: #5c5c5c;
    text-decoration: none;
    border: none;
    background: none;
    padding: 15px; }
    .groundhogg-exit-button button:hover {
      color: #0d79e5; }
    .groundhogg-exit-button button .dashicons {
      height: 30px;
      width: 30px;
      font-size: 30px; }

.Groundhogg .navbar {
  min-height: 60px;
  border-bottom: 1px solid #e5e5e5; }

.Groundhogg .groundhogg-nav {
  padding-right: 50px; }

.Groundhogg .sticky-top {
  top: 32px; }

.Groundhogg .groundhogg-exit-button .spinner-border {
  margin: 13px; }

.funnel-status .mb-2 {
  margin: 0; }

.groundhogg-funnel-editor {
  max-width: 1000px;
  margin: auto;
  width: 100%; }

#screen-meta-links {
  display: none; }

#wpcontent {
  padding: 0 !important; }

#wpwrap {
  background-color: #f1f1f1; }

.gh-box {
  position: relative;
  border: 1px solid #ccd0d4;
  background-color: #f9f9f9; }

.round-borders {
  border-radius: 3px; }

.benchmark-group-container {
  margin: 20px; }
  .benchmark-group-container.gh-box {
    background: #f9f9f9; }
  .benchmark-group-container .benchmark-group {
    border-top: 1px solid #ccd0d4; }
  .benchmark-group-container .explanation {
    padding: 10px;
    background: #FFFFFF; }
  .benchmark-group-container .group-controls {
    margin: 10px; }

.action-group-container {
  margin: 0px 10px; }
  .action-group-container .explanation {
    margin: 0 30px; }
  .action-group-container .group-controls {
    margin: 0 30px; }

.fadeIn-appear {
  opacity: 0.01; }

.fadeIn-appear.fadeIn-appear-active {
  opacity: 1;
  transition: opacity 100ms ease-in; }

.fadeIn-enter {
  opacity: 0.01; }

.fadeIn-enter.fadeIn-enter-active {
  opacity: 1;
  transition: opacity 100ms ease-in; }

.fadeIn-leave {
  opacity: 1; }

.fadeIn-leave.fadeIn-leave-active {
  opacity: 0.01;
  transition: opacity 100ms ease-in; }

.slide-enter.left {
  transform: translate(-100%); }

.slide-enter.slide-enter-active.left {
  transform: translate(0%);
  transition: transform 500ms ease-in-out; }

.slide-leave.left {
  transform: translate(-100%); }

.slide-leave.slide-leave-active.left {
  transform: translate(0%);
  transition: transform 500ms ease-in-out; }

.slide-enter.right {
  transform: translate(0%); }

.slide-enter.slide-enter-active.right {
  transform: translate(-100%);
  transition: transform 500ms ease-in-out; }

.slide-leave.right {
  transform: translate(0%); }

.slide-leave.slide-leave-active.right {
  transform: translate(-100%);
  transition: transform 500ms ease-in-out; }

.step-controls {
  margin-left: auto; }
  .step-controls .sortable-handle .dashicons {
    font-size: 33px;
    height: 33px;
    width: 33px;
    margin: 0 10px;
    color: #ccd0d4; }
  .step-controls .sortable-handle:hover .dashicons {
    color: #b6babe;
    cursor: grab; }
  .step-controls .sortable-handle:active .dashicons {
    cursor: grabbing; }

.step-title {
  padding-left: 60px; }

.step-icon-wrap {
  position: absolute;
  left: -1px;
  top: -1px; }
  .step-icon-wrap.action-icon-wrap {
    background: #5cc0a5; }
  .step-icon-wrap.benchmark-icon-wrap {
    background: #00a0d2; }
  .step-icon-wrap img.step-icon {
    height: 54px;
    width: 54px; }

.step-wrap .edit-step-controls {
  display: inline-block; }

.step-wrap .line-left {
  border-left: 2px solid #ccd0d4;
  margin-left: 10px; }

.step-wrap .delay {
  font-size: 16px; }
  .step-wrap .delay .delay-text {
    cursor: pointer; }
  .step-wrap .delay .dashicons {
    font-size: 24px;
    width: 24px;
    height: 24px;
    margin-right: 10px; }

.step-wrap .step {
  height: 54px;
  display: flex;
  align-items: center; }
  .step-wrap .step.action {
    margin: 10px 22px;
    padding: 10px;
    background-color: #FFFFFF; }
    .step-wrap .step.action .step-icon {
      background: #5cc0a5; }
  .step-wrap .step.benchmark {
    margin: 10px 10px 0 10px;
    padding: 10px;
    background-color: #FFFFFF; }
    .step-wrap .step.benchmark .step-icon {
      background: #00a0d2; }
    .step-wrap .step.benchmark:last-child {
      margin-bottom: 10px; }

.add-step-control {
  margin: 10px;
  position: relative;
  height: 100px;
  display: inline-block;
  width: 320px;
  vertical-align: top; }
  .add-step-control.step {
    background: #FFFFFF; }
  .add-step-control.active, .add-step-control:hover {
    background: #f0f0f5;
    border-color: #b6babe;
    cursor: pointer;
    transition: 0.4s; }
  .add-step-control .step-icon-wrap {
    position: absolute;
    display: inline-block;
    top: -1px;
    left: -1px;
    width: 100px;
    height: 100px;
    padding: 10px; }
    .add-step-control .step-icon-wrap .step-icon {
      width: 100%;
      height: auto; }
  .add-step-control.action .step-icon-wrap {
    background: #5cc0a5; }
  .add-step-control.benchmark .step-icon-wrap {
    background: #00a0d2; }
  .add-step-control .details {
    padding: 10px 10px 10px 120px; }
    .add-step-control .details .description {
      font-style: normal;
      text-overflow: ellipsis; }
    .add-step-control .details .step-name {
      font-size: 16px; }
  .add-step-control.active .spinner-border {
    height: 5rem;
    width: 5rem;
    margin: auto;
    position: absolute;
    left: 10px;
    top: 10px; }

.step-chosen .add-step-control:not(.active) {
  filter: blur(3px);
  transition: 0.4s ease-in-out; }

.add-new-step .inner {
  background: #f7f7f7;
  height: 100vh;
  overflow-y: auto; }

.add-new-step .add-new-step-choices {
  overflow-y: auto;
  padding: 70px 10px 10px 10px;
  background-color: #f1f1f1; }

.add-new-step .fixed-top {
  position: absolute; }

.slide-in-bar-right {
  position: fixed;
  z-index: 999999; }
  .slide-in-bar-right .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #5c5c5c;
    opacity: 0.5; }
  .slide-in-bar-right .container {
    position: fixed;
    max-width: 720px;
    width: 720px;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0; }

.edit-step .step-title {
  display: inline-block;
  max-width: 300px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 0;
  vertical-align: bottom; }

.edit-step .inner {
  background: #f1f1f1;
  height: 100vh;
  overflow-y: auto; }

.edit-step .step-settings {
  overflow-y: auto;
  padding: 80px 20px 20px 20px;
  height: 100%; }

.edit-step .last-edited {
  margin-right: 15px;
  color: #b4b9be; }

.edit-step .edit-nav-bar {
  padding-left: 70px; }
  .edit-step .edit-nav-bar .step-icon-wrap {
    left: 0; }
    .edit-step .edit-nav-bar .step-icon-wrap img.step-icon {
      height: 60px;
      width: 60px; }

.edit-step .fixed-top {
  position: absolute; }

.edit-step .controls-section {
  background-color: #f9f9f9;
  border: 1px solid #ccd0d4; }
  .edit-step .controls-section .controls-section-title {
    padding: 10px 15px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #ccd0d4; }
    .edit-step .controls-section .controls-section-title h4 {
      font-size: 20px;
      margin: 0; }
  .edit-step .controls-section:hover {
    border-color: #b6babe; }

.edit-step .step-setting-control.row {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px; }

.edit-step .btn-control-group {
  margin-top: 10px; }
  .edit-step .btn-control-group .btn {
    margin-right: 10px; }
    .edit-step .btn-control-group .btn:last-child {
      margin: 0; }

.groundhogg.modal {
  z-index: 999999; }
  .groundhogg.modal .modal-body {
    padding: 0; }

.groundhogg.modal-backdrop {
  z-index: 99999; }

.groundhogg.modal .edit-delay-controls .edit-delay-controls-inner {
  border-top: 1px solid #ccd0d4;
  background: #f9f9f9; }

.groundhogg.modal .edit-delay-controls .delay-text,
.groundhogg.modal .edit-delay-controls .delay-type {
  padding: 20px; }

.groundhogg.modal .edit-delay-controls .delay-text {
  border-bottom: 1px solid #ccd0d4;
  background: #f9f9f9; }

.groundhogg.modal .edit-delay-controls input, .groundhogg.modal .edit-delay-controls select {
  vertical-align: top;
  font-size: 14px;
  height: auto; }

.groundhogg.modal .edit-delay-controls .col-controls {
  margin-top: 10px; }
  .groundhogg.modal .edit-delay-controls .col-controls .control {
    margin-bottom: 5px; }

.groundhogg.modal .edit-delay-controls .interval-period input.period {
  width: 60px; }

.groundhogg.modal .edit-delay-controls .interval-period .period {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.groundhogg.modal .edit-delay-controls .interval-period .interval {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.groundhogg.modal .edit-delay-controls .row .col, .groundhogg.modal .edit-delay-controls .row .col-5 {
  padding: 20px;
  border-right: 1px solid #ccd0d4; }
  .groundhogg.modal .edit-delay-controls .row .col:last-child, .groundhogg.modal .edit-delay-controls .row .col-5:last-child {
    border-right: none; }



