@import "react/colors";



//.owlytik-datepicker {
//
//  max-width: 450px;
//  float: right;
//  margin-top: 25px;
//  margin-bottom: 15px;
//  padding: 10px;
//
//  .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
//    background-color: #f0f8ff !important;
//    color: #4a90e2;
//  }
//
//  .DayPicker-Day {
//    border-radius: 0 !important;
//  }
//
//  .DayPicker-Day--start {
//    border-top-left-radius: 50% !important;
//    border-bottom-left-radius: 50% !important;
//  }
//
//  .DayPicker-Day--end {
//    border-top-right-radius: 50% !important;
//    border-bottom-right-radius: 50% !important;
//  }
//
//  .DayPickerInput-Overlay {
//    width: 550px;
//    right: -100px !important;
//    left: auto !important;
//    margin-right: 100px;
//  }
//
//
//}
//


.groundhogg-report-datepicker {
  background: #fff;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  width: 100%;
  float: right;
  margin-top: 25px;
  margin-bottom: 15px;

}

.daterangepicker td.in-range {
  background-color: $background-color !important;
  border-color: transparent;
  color: #000;
  border-radius: 0;
}

.daterangepicker .ranges li.active {
  background-color: $background-color-active !important;
  color: $font-color-groundhogg !important;
}

.btn-primary {
  color: #fff;
  background-color: $groundhogg !important;
  border-color: $groundhogg;
}

.daterangepicker td.active {
  background-color: $groundhogg !important;
  border-color: transparent;
  color: #fff;
}