$border-color: #ccd0d4;
$border-hover-color: #b6babe;
$background-color: #f1f1f1;
$background-color-med: #f7f7f7;
$background-color-light: #f9f9f9;
$background-hover-color-light: #f0f0f5;
$white: #FFFFFF;
$font-color: #23282d;
$action-color: #5cc0a5;
$benchmark-color: #00a0d2;
$font-color-light: #b4b9be;