$border-color: #ccd0d4;
$border-color-light: #dee2e6;
$border-hover-color: #b6babe;
$background-color: #f8f9fa;
$background-color-med: #e9ecef;
$background-color-light: #f9f9f9;
$background-hover-color-light: #f0f0f5;
$white: #FFFFFF;
$font-color: #23282d;
$action-color: #5cc0a5;
$benchmark-color: #00a0d2;
$font-color-light: #b4b9be;
$error-red: #cc0000;
$groundhogg: #DB741A;