.grounghogg-block-editor__block-list {
  padding-bottom: $grid-unit-60;
  padding-top: $grid-unit-60 + 5;
  margin-left: auto;
  margin-right: auto;
}

.groundhogg-block-editor__email-container {
  width: calc(100% - 405px);
}
