@import "../../../master";

.add-step-control{
  margin: 10px;
  position: relative;
  height: 100px;
  display: inline-block;
  width: calc(100% - 20px);
  vertical-align: top;
  background-color: $white !important;

  &.active,
  &:hover{
    border-color: $border-hover-color;
    cursor: pointer;
    transition: 0.4s;
  }

  .step-icon-wrap{
    position: absolute;
    display: inline-block;
    top: -1px;
    left: -1px;
    width: 100px;
    height: 100px;
    padding: 10px;

    .step-icon{
      width: 100%;
      height: auto;
    }
  }

  &.action {
    .step-icon-wrap{
      background: $action-color;
    }
  }

  &.benchmark{
    .step-icon-wrap{
      background: $benchmark-color;
    }
  }

  .details{
    padding: 10px 10px 10px 120px;

    .description{
      font-style: normal;
      text-overflow: ellipsis;
    }

    .step-name{
      font-size: 16px;
    }
  }

  &.active {
    .spinner-border{
      height: 5rem;
      width: 5rem;
      margin: auto;
      position: absolute;
      left: 10px;
      top: 10px;
    }
  }
}

.step-chosen{
  .add-step-control:not(.active){
    filter: blur(3px);
    transition: 0.4s ease-in-out;
  }
}