@import '../../master';

.add-new-step {

  .inner {
    background: $background-color;
    height: 100vh;
    overflow-y: auto;

    .search-steps{
      margin: 10px;
      width: calc(100% - 20px);
    }
  }

  .add-new-step-choices {
    //z-index: 99999;
    //overflow-y: auto;
    padding: 70px 10px 10px 10px;
    //background-color: $background-color;
  }

  .fixed-top {
    position: absolute;
  }
}
