.groundhogg-header {
	align-items: center;
	background: $white;
	border-bottom: 1px solid $gray-200;
	display: flex;
	height: $header-height;
	justify-content: space-between;
	left: 0;
	position: sticky;
	right: 0;
	top: 75px;
	width: 100%;
}

.interface-interface-skeleton__header {
	border: none;
	outline: none;
	background: none;
}

.groundhogg-header-toolbar {
	width: 100%;
}

.groundhogg-header-toolbar__left {
	width: 100%;
	.groundhogg-header__title {
		font-size: 16px;
		padding: 0 20px;
		min-width: calc(100% - 400px);
		.MuiTextField-root {
			width: 100%;
		}
	}
	button,
	h1 {
		float: left;
	}
}

.groundhogg-header__settings {
	float: right
}

.groundhogg-header__settings button {
	margin: 0 8px;
	&:last-child {
		margin: 0
	}
}
.groundhogg-header.secondary-header {
	background: #ddd;
	.groundhogg-header-toolbar__left {

		justify-content: flex-end;
		display: flex;
		padding-right: 16px;
		* {
			margin: 0 8px;
			&:last-child {
				margin: 0
			}
		}
	}
}