@import "../../colors";

/* The side navigation menu */
.groundhogg-sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #fff;
  position: fixed;
  float: left;
  height: calc( 100% - 55px );
  top: 55px;
  overflow: auto;
  border-right: 1px solid $border-color;
  transition: 0.2s;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  z-index: 1000;

  &:not(.expanded) {
    transition: 0.2s;
    width: 55px;

    .nav-item{
      .nav-text {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  .nav-item {
    display: block;
    padding: 7px;
    font-size: 22px;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    margin: 3px;
    border-radius: 5px;

    &.active{
      background-color: $background-color-active;
      transition: 0.1s;

      .nav-text{
        font-weight: 500;
      }
    }

    &:hover:not(.active){
      background-color: $background-color-hover;
      transition: 0.1s;
    }

    .nav-icon {
      display: inline-block;
      width: 35px;
      color: $font-color;
      text-align: center;
    }

    .nav-text {
      margin-left: 5px;
      font-size: 16px;
      font-weight: 400;
      color: $font-color;
      visibility: visible;
      opacity: 1;
      transition-timing-function: ease-in-out;
    }
  }

  .expand-control{
    cursor: pointer;
    padding: 7px;
    font-size: 22px;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    margin: 3px;

    .expand-icon{
      display: inline-block;
      width: 35px;
      color: $font-color;
      text-align: center;
    }

  }
}