@import "../../colors";
@import "../../sizes";

/* The side navigation menu */
.groundhogg-sidebar {
  margin: 0;
  padding: 0;
  position: fixed;
  float: left;
  height: 100%;
  overflow: auto;
  border-right: 1px solid $border-color;
  background-color: #212529;
  transition: 0.2s;

  display: flex;
  flex-direction: column;
  //justify-content: space-between;

  z-index: 1000;

  .logo{
    //background: #212529;

    img{
      width: $sidebar-width-collapsed - 20px;
      margin: 10px;
    }
  }

  width: $sidebar-width-expanded;

  &:not(.expanded) {
    transition: 0.2s;
    width: $sidebar-width-collapsed;

    .nav-item{
      .nav-text {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &.collapsed{

    .nav-item{
      text-align: center;
    }

  }

  &.expanded{

  }

  .nav-item {
    display: block;
    font-size: 22px;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    margin: 3px;

    &.active{
      background-color: $groundhogg;
      transition: 0.1s;

      .nav-text{
        font-weight: 600;
      }
    }

    &:hover:not(.active){
      //background-color: $background-color-hover;
      transition: 0.1s;
    }

    .nav-icon {
      display: inline-block;
      width: 35px;
      color: $white;
      opacity: 0.7;
      text-align: center;
    }

    .nav-text {
      opacity: 0.7;
      margin-left: 5px;
      font-size: 16px;
      font-weight: 400;
      color: $white;
      visibility: visible;
      transition-timing-function: ease-in-out;
    }
  }

  .expand-control{
    cursor: pointer;
    padding: 7px;
    font-size: 22px;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    margin: 3px;

    .expand-icon{
      display: inline-block;
      width: 35px;
      color: $white;
      text-align: center;
      opacity: 0.7;
    }

  }
}